.body {
  background-color: #F2F2F2;
  padding-bottom: 40px;
  font-family: "Roboto", sans-serif;
}
.body h2 {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
.body .profile-block {
  margin: auto;
  padding-top: 50px;
  max-width: 950px;
  display: flex;
  justify-content: space-around;
}
.body .profile-block .profile {
  min-width: 400px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-height: 200px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 20px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 12px;
  font-style: normal;
}
.body .profile-block .profile .profile-headline {
  white-space: nowrap;
  display: flex;
  align-items: end;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.body .profile-block .profile .profile-headline .profile-data {
  margin-left: 7px;
}
.body .profile-block .profile .profile-headline .profile-data .name {
  font-size: 18px;
  margin-right: 3px;
}
.body .profile-block .profile .profile-headline .profile-data .name .birthday {
  font-size: 12px;
}
.body .profile-block .profile .profile-headline .profile-data .line {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
}
.body .profile-block .profile .profile-headline .profile-data .edit-icon {
  margin-bottom: 3px;
  margin-left: 5px;
  width: 18px;
}
.body .profile-block .profile .profile-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.body .profile-block .profile .profile-contacts .profile-contacts, .body .profile-block .profile .profile-contacts .profile-email {
  max-width: 200px;
}
.body .profile-block .profile .profile-contacts .profile-phone-headline, .body .profile-block .profile .profile-contacts .profile-email-headline {
  font-size: 16px;
}
.body .profile-block .profile .profile-contacts img {
  width: 15px;
  margin-bottom: 3px;
}
.body .profile-block .profile .profile-category {
  max-width: 200px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.body .profile-block .profile .profile-category .profile-category-headline {
  font-size: 16px;
}
.body .profile-block .schedule {
  width: -webkit-fill-available;
  margin-left: 40px;
  border-radius: 8px;
  background-color: white;
  height: inherit;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.body .profile-block .schedule .schedule-body {
  text-align: center;
  vertical-align: middle;
  width: 250px;
  margin: auto;
  margin-top: 35px;
}
.body .stages-block {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  max-width: 950px;
  margin: auto;
  margin-top: 60px;
}
.body .stages-block .stage-1-card, .body .stages-block .stage-2-card, .body .stages-block .stage-3-card, .body .stages-block .stage-4-card, .body .stages-block .stage-5-card {
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  min-height: 70px;
  width: 100%;
  padding: 20px;
}
.body .stages-block .stage-1-card .stage-preview, .body .stages-block .stage-2-card .stage-preview, .body .stages-block .stage-3-card .stage-preview, .body .stages-block .stage-4-card .stage-preview, .body .stages-block .stage-5-card .stage-preview {
  display: flex;
  gap: 5px;
}
.body .stages-block .stage-1-card .stage-preview .stage-number-current, .body .stages-block .stage-2-card .stage-preview .stage-number-current, .body .stages-block .stage-3-card .stage-preview .stage-number-current, .body .stages-block .stage-4-card .stage-preview .stage-number-current, .body .stages-block .stage-5-card .stage-preview .stage-number-current {
  width: 25px;
  height: 25px;
  background-color: #394959;
  color: white;
  text-align: center;
  border-radius: 20px;
  margin-top: 2px;
}
.body .stages-block .stage-1-card .stage-preview .stage-number-current p, .body .stages-block .stage-2-card .stage-preview .stage-number-current p, .body .stages-block .stage-3-card .stage-preview .stage-number-current p, .body .stages-block .stage-4-card .stage-preview .stage-number-current p, .body .stages-block .stage-5-card .stage-preview .stage-number-current p {
  margin-top: 1px;
  font-size: 16px;
  font-weight: bold;
}
.body .stages-block .stage-1-card .stage-preview .stage-number, .body .stages-block .stage-2-card .stage-preview .stage-number, .body .stages-block .stage-3-card .stage-preview .stage-number, .body .stages-block .stage-4-card .stage-preview .stage-number, .body .stages-block .stage-5-card .stage-preview .stage-number {
  width: 25px;
  height: 25px;
  background-color: white;
  color: #394959;
  text-align: center;
  border: 1px solid #394959;
  border-radius: 20px;
  margin-top: 2px;
}
.body .stages-block .stage-1-card .stage-preview .stage-number p, .body .stages-block .stage-2-card .stage-preview .stage-number p, .body .stages-block .stage-3-card .stage-preview .stage-number p, .body .stages-block .stage-4-card .stage-preview .stage-number p, .body .stages-block .stage-5-card .stage-preview .stage-number p {
  font-size: 16px;
  font-weight: bold;
}
.body .stages-block .stage-1-card .stage-preview .stage-number-hidden, .body .stages-block .stage-2-card .stage-preview .stage-number-hidden, .body .stages-block .stage-3-card .stage-preview .stage-number-hidden, .body .stages-block .stage-4-card .stage-preview .stage-number-hidden, .body .stages-block .stage-5-card .stage-preview .stage-number-hidden {
  display: none;
}
.body .stages-block .stage-1-card .stage-preview .stage-check, .body .stages-block .stage-2-card .stage-preview .stage-check, .body .stages-block .stage-3-card .stage-preview .stage-check, .body .stages-block .stage-4-card .stage-preview .stage-check, .body .stages-block .stage-5-card .stage-preview .stage-check {
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
  background-color: #4CAF50;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.body .stages-block .stage-1-card .stage-preview .stage-check img, .body .stages-block .stage-2-card .stage-preview .stage-check img, .body .stages-block .stage-3-card .stage-preview .stage-check img, .body .stages-block .stage-4-card .stage-preview .stage-check img, .body .stages-block .stage-5-card .stage-preview .stage-check img {
  margin-top: 1px;
  width: 18px;
  height: 22px;
}
.body .stages-block .stage-1-card .stage-preview .stage-check-hidden, .body .stages-block .stage-2-card .stage-preview .stage-check-hidden, .body .stages-block .stage-3-card .stage-preview .stage-check-hidden, .body .stages-block .stage-4-card .stage-preview .stage-check-hidden, .body .stages-block .stage-5-card .stage-preview .stage-check-hidden {
  display: none;
}
.body .stages-block .stage-1-card .stage-preview .stage-name, .body .stages-block .stage-2-card .stage-preview .stage-name, .body .stages-block .stage-3-card .stage-preview .stage-name, .body .stages-block .stage-4-card .stage-preview .stage-name, .body .stages-block .stage-5-card .stage-preview .stage-name {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
}
.body .stages-block .stage-1-card .stage-preview .stage-description, .body .stages-block .stage-2-card .stage-preview .stage-description, .body .stages-block .stage-3-card .stage-preview .stage-description, .body .stages-block .stage-4-card .stage-preview .stage-description, .body .stages-block .stage-5-card .stage-preview .stage-description {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
}
.body .stages-block .stage-1-card .stage-preview .stage-description-hidden, .body .stages-block .stage-2-card .stage-preview .stage-description-hidden, .body .stages-block .stage-3-card .stage-preview .stage-description-hidden, .body .stages-block .stage-4-card .stage-preview .stage-description-hidden, .body .stages-block .stage-5-card .stage-preview .stage-description-hidden {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0px;
}
.body .stages-block .stage-1-card .stage-preview .stage-end-form, .body .stages-block .stage-2-card .stage-preview .stage-end-form, .body .stages-block .stage-3-card .stage-preview .stage-end-form, .body .stages-block .stage-4-card .stage-preview .stage-end-form, .body .stages-block .stage-5-card .stage-preview .stage-end-form {
  margin-left: auto;
}
.body .stages-block .stage-1-card .stage-preview .stage-end-form .stage-end-btn, .body .stages-block .stage-2-card .stage-preview .stage-end-form .stage-end-btn, .body .stages-block .stage-3-card .stage-preview .stage-end-form .stage-end-btn, .body .stages-block .stage-4-card .stage-preview .stage-end-form .stage-end-btn, .body .stages-block .stage-5-card .stage-preview .stage-end-form .stage-end-btn {
  width: 175px;
  height: 30px;
  background: #394959;
  color: white;
  font-weight: bold;
  font-weight: 16px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.body .stages-block .stage-1-card .stage-preview .stage-end-form .stage-end-btn:hover, .body .stages-block .stage-2-card .stage-preview .stage-end-form .stage-end-btn:hover, .body .stages-block .stage-3-card .stage-preview .stage-end-form .stage-end-btn:hover, .body .stages-block .stage-4-card .stage-preview .stage-end-form .stage-end-btn:hover, .body .stages-block .stage-5-card .stage-preview .stage-end-form .stage-end-btn:hover {
  background: white;
  color: #394959;
  border: 1px solid #394959;
}
.body .stages-block .stage-1-card .stage-preview .stage-end-form .stage-end-btn:active, .body .stages-block .stage-2-card .stage-preview .stage-end-form .stage-end-btn:active, .body .stages-block .stage-3-card .stage-preview .stage-end-form .stage-end-btn:active, .body .stages-block .stage-4-card .stage-preview .stage-end-form .stage-end-btn:active, .body .stages-block .stage-5-card .stage-preview .stage-end-form .stage-end-btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.body .stages-block .stage-1-card .stage-preview .stage-end-form .stage-end-btn-hidden, .body .stages-block .stage-2-card .stage-preview .stage-end-form .stage-end-btn-hidden, .body .stages-block .stage-3-card .stage-preview .stage-end-form .stage-end-btn-hidden, .body .stages-block .stage-4-card .stage-preview .stage-end-form .stage-end-btn-hidden, .body .stages-block .stage-5-card .stage-preview .stage-end-form .stage-end-btn-hidden {
  display: none;
}
.body .stages-block .stage-1-card .stage-preview .deploy-btn, .body .stages-block .stage-2-card .stage-preview .deploy-btn, .body .stages-block .stage-3-card .stage-preview .deploy-btn, .body .stages-block .stage-4-card .stage-preview .deploy-btn, .body .stages-block .stage-5-card .stage-preview .deploy-btn {
  margin-left: auto;
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-top: 3px;
  border-radius: 20px;
  margin-top: 5px;
  display: flex;
}
.body .stages-block .stage-1-card .stage-preview .deploy-btn:hover, .body .stages-block .stage-2-card .stage-preview .deploy-btn:hover, .body .stages-block .stage-3-card .stage-preview .deploy-btn:hover, .body .stages-block .stage-4-card .stage-preview .deploy-btn:hover, .body .stages-block .stage-5-card .stage-preview .deploy-btn:hover {
  background: #F2F2F2;
}
.body .stages-block .stage-1-card .stage-preview .deploy-btn img, .body .stages-block .stage-2-card .stage-preview .deploy-btn img, .body .stages-block .stage-3-card .stage-preview .deploy-btn img, .body .stages-block .stage-4-card .stage-preview .deploy-btn img, .body .stages-block .stage-5-card .stage-preview .deploy-btn img {
  width: 20px;
}
.body .stages-block .stage-1-card .stage-preview .deploy-btn-hidden, .body .stages-block .stage-2-card .stage-preview .deploy-btn-hidden, .body .stages-block .stage-3-card .stage-preview .deploy-btn-hidden, .body .stages-block .stage-4-card .stage-preview .deploy-btn-hidden, .body .stages-block .stage-5-card .stage-preview .deploy-btn-hidden {
  display: none;
}
.body .stages-block .stage-1-card .filter, .body .stages-block .stage-2-card .filter, .body .stages-block .stage-3-card .filter, .body .stages-block .stage-4-card .filter, .body .stages-block .stage-5-card .filter {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #F2F2F2;
  margin: auto;
  padding: 10px 15px 20px 15px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.body .stages-block .stage-1-card .filter .filter-form, .body .stages-block .stage-2-card .filter .filter-form, .body .stages-block .stage-3-card .filter .filter-form, .body .stages-block .stage-4-card .filter .filter-form, .body .stages-block .stage-5-card .filter .filter-form {
  display: flex;
  row-gap: 10px;
}
.body .stages-block .stage-1-card .filter .filter-select, .body .stages-block .stage-2-card .filter .filter-select, .body .stages-block .stage-3-card .filter .filter-select, .body .stages-block .stage-4-card .filter .filter-select, .body .stages-block .stage-5-card .filter .filter-select {
  padding-left: 0;
  width: 230px !important;
}
.body .stages-block .stage-1-card .filter .filter-select .dropdown-menu, .body .stages-block .stage-2-card .filter .filter-select .dropdown-menu, .body .stages-block .stage-3-card .filter .filter-select .dropdown-menu, .body .stages-block .stage-4-card .filter .filter-select .dropdown-menu, .body .stages-block .stage-5-card .filter .filter-select .dropdown-menu {
  min-width: 300px;
}
.body .stages-block .stage-1-card .filter .filter-select .dropdown-menu .bs-searchbox input, .body .stages-block .stage-2-card .filter .filter-select .dropdown-menu .bs-searchbox input, .body .stages-block .stage-3-card .filter .filter-select .dropdown-menu .bs-searchbox input, .body .stages-block .stage-4-card .filter .filter-select .dropdown-menu .bs-searchbox input, .body .stages-block .stage-5-card .filter .filter-select .dropdown-menu .bs-searchbox input {
  width: 100%;
}
.body .stages-block .stage-1-card .filter input, .body .stages-block .stage-2-card .filter input, .body .stages-block .stage-3-card .filter input, .body .stages-block .stage-4-card .filter input, .body .stages-block .stage-5-card .filter input {
  width: 150px;
}
.body .stages-block .stage-1-card .filter h4, .body .stages-block .stage-2-card .filter h4, .body .stages-block .stage-3-card .filter h4, .body .stages-block .stage-4-card .filter h4, .body .stages-block .stage-5-card .filter h4 {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.body .stages-block .stage-1-card .filter .dropdown-toggle, .body .stages-block .stage-2-card .filter .dropdown-toggle, .body .stages-block .stage-3-card .filter .dropdown-toggle, .body .stages-block .stage-4-card .filter .dropdown-toggle, .body .stages-block .stage-5-card .filter .dropdown-toggle {
  background-color: #fff;
  border: 1px solid #ced4da;
}
.body .stages-block .stage-1-card .filter .filter-option, .body .stages-block .stage-2-card .filter .filter-option, .body .stages-block .stage-3-card .filter .filter-option, .body .stages-block .stage-4-card .filter .filter-option, .body .stages-block .stage-5-card .filter .filter-option {
  color: #000;
}
.body .stages-block .stage-1-card .filter .filter-column, .body .stages-block .stage-2-card .filter .filter-column, .body .stages-block .stage-3-card .filter .filter-column, .body .stages-block .stage-4-card .filter .filter-column, .body .stages-block .stage-5-card .filter .filter-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
.body .stages-block .stage-1-card .filter .filter-column-date, .body .stages-block .stage-2-card .filter .filter-column-date, .body .stages-block .stage-3-card .filter .filter-column-date, .body .stages-block .stage-4-card .filter .filter-column-date, .body .stages-block .stage-5-card .filter .filter-column-date {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.body .stages-block .stage-1-card .filter .filter-column-date .filter-date-title, .body .stages-block .stage-2-card .filter .filter-column-date .filter-date-title, .body .stages-block .stage-3-card .filter .filter-column-date .filter-date-title, .body .stages-block .stage-4-card .filter .filter-column-date .filter-date-title, .body .stages-block .stage-5-card .filter .filter-column-date .filter-date-title {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
.body .stages-block .vg-slots {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 24px;
}
.body .stages-block .vg-slots .vg-slot-card {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 250px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #F2F2F2;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 300;
}
.body .stages-block .vg-slots .vg-slot-card .vg-slot-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 7px;
}
.body .stages-block .vg-slots .vg-slot-card .vg-slot-title span {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 200;
}
.body .stages-block .vg-slots .vg-slot-card .vg-slot-desc {
  font-size: 14px;
  margin: 0;
}
.body .stages-block .vg-slots .vg-slot-card .vg-slot-more {
  font-size: 11px;
  color: #007FBD;
  text-decoration: underline;
}
.body .stages-block .vg-slots .vg-slot-card .vg-slot-list {
  margin-bottom: 2px;
}
.body .stages-block .vg-slots .vg-slot-card .vg-slot-list img {
  margin-right: 3px;
  margin-bottom: 2px;
}
.body .stages-block .vg-slots .vg-slot-card .vg-slot-list .business-icon {
  width: 12px;
  margin-left: 1px;
}
.body .stages-block .vg-slots .vg-slot-card .choose-slot-btn {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #394959;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.body .stages-block .vg-slots .vg-slot-card .choose-slot-btn:hover {
  background: white;
  color: #394959;
  border: 1px solid #394959;
}
.body .stages-block .vg-slots .vg-slot-card .choose-slot-btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=application_profile.css.map */