.body
    background-color: #F2F2F2
    padding-bottom: 40px
    font-family: 'Roboto', sans-serif
    h1
        padding-top: 35px
        text-align: center
    h3
        margin-top: 10px
        margin-bottom: 20px
        text-align: center
    .instrument-panel
        margin: auto
        width: 90%
    .table
        th
            color: #394959
            font-weight: 400 !important
            font-size: 16px
            line-height: 20px
            border-top: 0
            border-bottom: 2px solid #394959
        margin: auto
        margin-top: 10px
        margin-bottom: 20px
        width: 90%
        @media (max-width: 600px)
            width: 100%
        box-shadow: 1px 0px 5px 2px rgba(0, 0, 0, .2)
        .sticky-top
            background-color: #394959 !important
            color: white !important
        .table-striped
            background-color:  #e9ecf7 !important
        td
            text-align: center
            border-top: 0px solid #dee2e6
        th
            text-align: center
        .hide-col
            display: none
        .show-col
            display: table-cell !important
    tbody, td, tfoot, th, thead, tr 
        border-color: inherit
        border-style: none
        border-width: 0