body
    color: #394959
    background-color: #F2F2F2
    a
        color: #394959
        font-weight: 500
        text-decoration: underline
        &:hover
            color: #2e3c4a
#page-hdr
    text-align: center
    margin-top: 25px
    margin-bottom: 20px
    h1
        font-size: 28px
        a
            font-size: 26px
            font-weight: 400
    h3
        font-size: 20px
        font-weight: 400
    
#group-info, #applicants-list, #payment-stats
    margin: auto
    margin-top: 15px
    margin-bottom: 15px
    width: 85%
    display: flex
    flex-wrap: wrap
    column-gap: 30px
    h2
        width: 100%
        font-size: 24px
    p
        margin-bottom: 5px
    table
        border-radius: 10px
        box-shadow: 1px 0px 5px 2px rgba(0, 0, 0, .2)
        tbody, td, tfoot, th, thead, tr 
            border-color: inherit
            border-style: none
            border-width: 0
        .table-striped
            background-color: #e9ecf7 !important
        th, td
            text-align: center
            vertical-align: middle
        th
            color: #394959
            background-color: #ffffff !important
            font-weight: 500 !important
            font-size: 16px
            line-height: 20px
        td
            border-top: 0px solid #dee2e6
            .edit-icon
                width: 30px
                height: 30px
                border-radius: 100px
                display: flex
                align-items: center
                justify-content: center
                img
                    width: 21px

#payment-stats
    display: flex
    flex-wrap: wrap
    justify-content: center
    .pay-stat
            width: 230px
            background-color: #394959
            color: white
            padding: 10px 10px
            text-align: center
            border-radius: 5px
            margin-bottom: 5px
            h5
                font-weight: 400
                margin: 0
    #control-panel
        width: 100%
        display: flex
        justify-content: flex-end
        margin-bottom: 10px
