body {
  background-color: rgba(242, 242, 242, 0.5411764706);
}
body h2 {
  font-size: 24px;
}
body h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
body label {
  color: #394959;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
body textarea {
  margin-bottom: 10px;
}
body .form-floating .dropdown-toggle {
  height: 55px !important;
  border: 1px solid #ced4da !important;
  background-color: white !important;
}
body .form-floating .dropdown-toggle .filter-option {
  padding-top: 15px;
}
body .form-floating .dropdown-menu {
  z-index: 100;
}
body .form-floating label {
  font-size: 14px;
  opacity: 0.9;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
body .edit-btn {
  border-radius: 30px;
  width: 27px;
  height: 27px;
  display: flex;
  padding: 5px;
  background-color: rgba(242, 242, 242, 0.5411764706);
}
body .edit-btn img {
  padding-bottom: 1px;
  padding-left: 1px;
}
body .edit-btn:hover {
  background-color: #394959;
}
body .edit-btn:hover img {
  filter: brightness(0) invert(1);
}
body .edit-btn.active {
  background-color: #394959 !important;
}
body .edit-btn.active img {
  filter: brightness(0) invert(1);
}
body .delete-btn {
  border: 0;
  border-radius: 30px;
  width: 27px;
  height: 27px;
  padding: 0;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .delete-btn img {
  width: 19px;
}
body .delete-btn:hover {
  background-color: #FA5252;
}
body .delete-btn:hover img {
  filter: brightness(0) invert(1);
}

.page-hdr {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 30px;
}

.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  padding-bottom: 50px;
  width: 85%;
  margin: auto;
}
.stages .tabs-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  lex-wrap: wrap;
}
.stages .tabs-panel .tabs {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.stages .tabs-panel .stage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  height: 45px;
  font-size: 18px;
}
.stages .tabs-panel .disabled {
  background-color: rgba(0, 0, 0, 0.1215686275);
}
.stages .tabs-panel .btn-primary {
  font-weight: 500;
}
.stages .tabs-panel .btn-outline-primary {
  border: 0;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.stages .tabs-panel .btn-outline-primary:hover {
  background-color: #394959 !important;
  color: white !important;
}
.stages .stage {
  width: 100%;
  border-radius: 12px;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 25px 50px 25px 50px;
}
.stages .stage input.disabled {
  background-color: rgba(242, 242, 242, 0.5411764706);
}
.stages .stage .stage-hdr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}
.stages .stage .stage-hdr .check-img {
  width: 35px;
  margin-bottom: 4px;
}
.stages .stage-1 .dropdown-menu, .stages .stage-3 .dropdown-menu {
  width: 80%;
}
.stages .stage-1 .select-add, .stages .stage-3 .select-add {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.stages .stage-1 .select-add .filter-selectpicker, .stages .stage-3 .select-add .filter-selectpicker {
  width: calc(100% - 60px);
}
.stages .stage-1 .select-add .add-btn, .stages .stage-3 .select-add .add-btn {
  font-size: 27px;
  width: 55px;
  font-weight: 600;
  border: 1px solid #ced4da !important;
}
.stages .stage-2 .equipment-list {
  margin-top: 25px;
}
.stages .stage-2 .equipment-list .table-hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.stages .stage-2 .equipment-list h3 {
  margin: 0;
}
.stages .stage-3 .select-add {
  justify-content: flex-start;
  gap: 10px;
}
.stages .stage-3 .select-add .bootstrap-select {
  width: 100%;
}
.stages .stage-3 .select-add .filter-selectpicker {
  width: 350px !important;
}
.stages .stage-3 .select-add button {
  height: 55px;
  min-width: 200px;
  border: 1px solid #ced4da !important;
}
.stages .stage-4 .action-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.stages .stage-4 .action-panel .add-module-form .module-name {
  width: 400px;
}
.stages .stage-4 .module-tr td {
  font-weight: 400 !important;
  height: 64px;
}
.stages .stage-4 .row-options {
  display: flex;
  width: 59px;
}
.stages .stage-4 .plan-summary td {
  font-weight: 500 !important;
}
.stages .add-activity-form, .stages .add-module-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.stages table {
  border-bottom: 1px solid #dee2e6;
}
.stages table .sticky-top {
  z-index: 10;
  background-color: white !important;
}
.stages table .sticky-top td {
  border: 0;
}
.stages table .sticky-bottom {
  position: sticky;
  inset-block-end: 0;
  background-color: white;
}
.stages table .sticky-bottom td {
  border-top: 2px solid #394959;
}
.stages table th {
  color: #394959;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
  border-top: 0;
  border-bottom: 2px solid #394959;
  vertical-align: middle;
}
.stages table td {
  border-top: 0;
  color: #394959;
  font-weight: 300 !important;
  max-width: 250px;
  word-wrap: break-word;
  vertical-align: middle;
}
.stages table .col-center {
  text-align: center;
  justify-content: center;
}
.stages table .none-alert {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
.stages .note {
  font-size: 12px;
  margin-top: 5px;
}
.stages .note span {
  color: #ff0000;
}/*# sourceMappingURL=program_constractor.css.map */