table
    th, td
        text-align: center
    .ed_center
        text-align: left
    th
        background-color: #394959 !important
        color: white
    .ed_center-head
        vertical-align: middle !important
        border-right: 2px solid #dee2e6
.table-stat
    width: 50%
    margin: auto
    margin-top: 30px
    margin-bottom: 30px
    border: 2px solid #dee2e6
    th, td
        border-right: 2px solid #dee2e6 !important
.table-search
    width: 250px
    margin-left: 50px
.table-centers
    width: 90%
    margin: auto
    input
        width: 40px
        text-align: center