body
    background-color: #f2f2f28a
    .page-hdr
        text-align: center
        padding-top: 25px   
        margin-bottom: 30px   
    .programs-plan
        width: 90%
        margin: auto
        border-radius: 12px
        background-color: white
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078)
        margin-bottom: 50px
        padding: 25px 50px 25px 50px
        .table
            input
                width: 85px
                margin-left: 15px
                border: 0
                text-align: center
            border-bottom: 1px solid #dee2e6
            .sticky-top
                z-index: 10
                background-color: white !important
                td
                    border: 0
            .sticky-bottom
                position: sticky
                inset-block-end: 0
                background-color: white
                td
                    font-weight: 400 !important
                    border-top: 2px solid #3e5061
            th
                color: #394959
                font-weight: 400 !important
                font-size: 16px
                line-height: 20px
                border-top: 0
                border-bottom: 2px solid #394959
                vertical-align: middle
            td, td input
                border-top: 0
                color: #394959
                font-weight: 300 !important
                max-width: 250px
                word-wrap: break-word
                vertical-align: middle
            .disapear
                display: none
            .month-cell
                width: 100px
            .col-center
                text-align: center
                justify-content: center