body {
  background-color: rgba(242, 242, 242, 0.5411764706);
}
body h2 {
  font-size: 24px;
}
body h3 {
  font-size: 20px;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 15px;
}
body .page-hdr {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .quota_72_table, body .quota_144_table, body .quota_256_table, body .quota_result_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 25px 50px 25px 50px;
}
body .quota_72_table .table-hdr, body .quota_144_table .table-hdr, body .quota_256_table .table-hdr, body .quota_result_table .table-hdr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .quota_72_table .table-hdr form, body .quota_144_table .table-hdr form, body .quota_256_table .table-hdr form, body .quota_result_table .table-hdr form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
body .quota_72_table .table-hdr form .dropdown-toggle, body .quota_144_table .table-hdr form .dropdown-toggle, body .quota_256_table .table-hdr form .dropdown-toggle, body .quota_result_table .table-hdr form .dropdown-toggle {
  width: 350px;
}
body .quota_72_table .table-hdr form .dropdown-menu, body .quota_144_table .table-hdr form .dropdown-menu, body .quota_256_table .table-hdr form .dropdown-menu, body .quota_result_table .table-hdr form .dropdown-menu {
  max-width: 1000px;
}
body .quota_72_table .table-hdr form button, body .quota_144_table .table-hdr form button, body .quota_256_table .table-hdr form button, body .quota_result_table .table-hdr form button {
  width: 100px;
}
body .quota_72_table table th, body .quota_144_table table th, body .quota_256_table table th, body .quota_result_table table th {
  color: #394959;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
}
body .quota_72_table table .th-hdr, body .quota_144_table table .th-hdr, body .quota_256_table table .th-hdr, body .quota_result_table table .th-hdr {
  border-top: 0;
  border-bottom: 2px solid #394959;
}
body .quota_72_table table td, body .quota_144_table table td, body .quota_256_table table td, body .quota_result_table table td {
  color: #394959;
  font-weight: 300 !important;
  max-width: 250px;
  word-wrap: break-word;
}
body .quota_72_table table .none-alert, body .quota_144_table table .none-alert, body .quota_256_table table .none-alert, body .quota_result_table table .none-alert {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
body .quota_72_table table .btm-row, body .quota_144_table table .btm-row, body .quota_256_table table .btm-row, body .quota_result_table table .btm-row {
  background-color: #f2f2f2;
}
body .quota_72_table .save-quota-btn, body .quota_144_table .save-quota-btn, body .quota_256_table .save-quota-btn, body .quota_result_table .save-quota-btn {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
body .quota_72_table .export-quota form, body .quota_144_table .export-quota form, body .quota_256_table .export-quota form, body .quota_result_table .export-quota form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 31px;
}
body .quota_72_table .export-quota form .form-floating, body .quota_144_table .export-quota form .form-floating, body .quota_256_table .export-quota form .form-floating, body .quota_result_table .export-quota form .form-floating {
  width: 225px;
}/*# sourceMappingURL=quota_center_request.css.map */