{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Школьный дашбоард | Билет в будущее{% endblock %}

{% block style %}
    <link href="{% static 'region163_dashboard/css/ed_centers_empl.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div class="stat-table">
        <div class="text-center">
            <h1>Статистика по пробам</h1>
        </div>
        <table class="table table-striped">
            <tr class="sticky-top"> 
                <th scope="col">ТУ</th>
                <th scope="col">ЦО</th>
                <th scope="col">Название</th>
                <th scope="col">Дата (дд.мм.гггг)</th>
                <th scope="col">Время начала</th>
                <th scope="col">Время конца</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчеств</th>
                <th scope="col">Отчётная ссылка</th>
                <th scope="col">Адрес</th>
                <th scope="col">Контактное лицо на площадке</th>
                <th scope="col">Количество мест</th>
                <th scope="col">Описание мероприятия</th>
               <th scope="col"> Спикеры</th>
               <th scope="col"> Профессии</th>
               <th scope="col">Сферы</th>
               <th scope="col">Интервал таймслота (мин)</th>
            </tr>
            {% for assessment in assessments %}
                <tr>
                    <td scope="row" class="ed-center program-cell">{{assessment.participant.school.get_territorial_administration_display}}</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.test.education_center.name}}</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.test.name}}</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.slot.date}}</td>
                    {% if assessment.slot.slot == "MRN" %}
                        <td scope="row" class="ed-center program-cell">10:00</td>
                        <td scope="row" class="ed-center program-cell">11:30</td>
                    {% elif assessment.slot.slot == "MID" %}
                        <td scope="row" class="ed-center program-cell">15:00</td>
                        <td scope="row" class="ed-center program-cell">16:30</td>
                    {% else %}
                        <td scope="row" class="ed-center program-cell">16:30</td>
                        <td scope="row" class="ed-center program-cell">18:00</td>
                    {% endif%}
                    <td scope="row" class="ed-center program-cell">{{assessment.participant.last_name}}</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.participant.first_name}}</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.participant.middle_name}}</td>
                    {% if assessment.slot.report_link == None %}
                        <td scope="row" class="ed-center program-cell">–</a></td>
                    {% else %}
                        <td scope="row" class="ed-center program-cell"><a href={{assessment.slot.report_link}}>ссылка</a></td>
                    {% endif %}
                    <td scope="row" class="ed-center program-cell">Онлайн</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.test.contact.full_name}}</td>
                    <td scope="row" class="ed-center program-cell">8</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.test.description}}</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.test.contact.full_name}}</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.test.profession}}</td>
                    <td scope="row" class="ed-center program-cell">{{assessment.test.get_thematic_env_display}}</td>
                    <td scope="row" class="ed-center program-cell">90</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
