{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Квота | Билет в будущее{% endblock %}

{% block style %}
    <link href="{% static 'region163_dashboard/css/ed_centers_empl.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'vocational_guidance/js/dashboard_quotas.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="stat-table">
        <div class="text-center">
            <h1>Квота ТУ/школ по проекту «Билет в будущее»</h1>
        </div>
        <div class="filter">
            <div class="col-6 form mb-3">
                <select class="selectpicker dropup" data-style="btn-primary" data-dropup-auto="false" data-width="fit" data-live-search="true" name="school" id="School" required>
                    <option value="">Выберите тер. управление</option>
                    {% for ter_admin in ter_admins %}
                        <option value="{{ter_admin.1}}" class="{{ter_admin.0}}">{{ter_admin.1}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <table class="table table-striped">
            <tr class="sticky-top">
                <th scope="col">Тер. управление</th>
                <th scope="col">Школа</th>
                <th scope="col">Квота</th>
                <th scope="col">Прошло пробу</th>
                <th scope="col">Остаток квоты</th>
            </tr>
            {% for adm_ter in quotas %}
                <tr class="ALL ter_adm competence-row {{adm_ter.3}}">
                    <td colspan="2">{{adm_ter.0}}</td>
                    <td scope="row">{{adm_ter.2.1}}</td>
                    <td scope="row">{{adm_ter.2.0}}</td>
                    <td scope="row">{{adm_ter.2.2}}</td>
                </tr>
                {% for school in adm_ter.1 %}
                    <tr class="ALL school {{adm_ter.3}}">
                        <td scope="row" class="ed-center program-cell"></td>
                        <td scope="row" class="ed-center program-cell">{{school.0}}</td>
                        <td scope="row" class="ed-center program-cell">{{school.1}}</td>
                        <td scope="row" class="ed-center program-cell">{{school.2}}</td>
                        <td scope="row" class="ed-center program-cell">{{school.3}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr style="background-color:black;color:white;">
                <th colspan="2">Всего:</th>
                <th scope="col">{{all.0}}</th>
                <th scope="col">{{all.1}}</th>
                <th scope="col">{{all.2}}</th>
            </tr>
        </table>
    </div>
{% endblock %}
