{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Школьный дашбоард | Билет в будущее{% endblock %}

{% block style %}
    <link href="{% static 'region163_dashboard/css/ed_centers_empl.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div class="stat">
        <div class="container">
            <div class="text-center">
                <h1>Статистика «Билет в будущее»</h1>
            </div>
            <div class="row justify-content-center main-stats">
                <div class="card text-center mb-3" style="max-width: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">Прошли пробы (уникальных):</h5>
                        <h4 class="card-title">{{count_assessments}} ({{count_unique_assessments}})</h4>
                    </div>
                </div>
                <div class="card text-center mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Квоты потраченно:</h5>
                        <h4 class="card-title">{{count_quota}}</h4>
                    </div>
                </div>
                <div class="card text-center mb-3" style="max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Уникальных проб пройденно:</h5>
                        <h4 class="card-title">{{slots_count_link}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stat-table">
        <div class="text-center">
            <h1>Статистика по колледжам</h1>
        </div>
        <table class="table table-striped">
            <tr class="sticky-top"> 
                <th scope="col">Название</th>
                <th scope="col">с 10:00 до 11:30</th>
                <th scope="col">с 15:00 до 16:30</th>
                <th scope="col">с 16:30 до 18:00</th>
                <th scope="col">Всего</th>
            </tr>
            {% for key_center, value_center in tests_dict.items %}
                {% if value_center|get_item:'count' != 0 %}
                    <tr class="competence-row">
                        <td scope="row" colspan="4">{{key_center}}</td>
                        <td scope="row" style="text-align: center;">{{value_center|get_item:'count'}}</td>
                    </tr>
                    {% for test_key, test_value in value_center.items %}
                        {% if test_value.0 != 0 and test_key != 'count' %}
                            <tr>
                                <td scope="row" class="ed-center program-cell">{{test_key}}</td>
                                <td scope="row" class="ed-center program-cell" style="text-align: center;">{{test_value.1}}</td>
                                <td scope="row" class="ed-center program-cell" style="text-align: center;">{{test_value.2}}</td>
                                <td scope="row" class="ed-center program-cell" style="text-align: center;">{{test_value.3}}</td>
                                <td scope="row" class="ed-center program-cell" style="text-align: center;">{{test_value.0}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
