{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Личный кабинет | Билет в будущее{% endblock %}

{% block style %}
        <link href="{% static 'vocational_guidance/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'vocational_guidance/js/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="section profile-section">
        <div class="container">
            <div class="row row-cols-3 g-3">
                <div class="col-12 justify-content-center text-left">
                    <div class="row row-cols-6 g-5">
                        <div class="col-5">
                            <div class="card card-profile border-dark">
                                <h2 class="card-header border-dark">
                                    Мой профиль
                                </h2>
                                <div class="card-body border-dark">
                                    <h5>{{user.last_name}} {{user.first_name}} {{user.middle_name}}</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
                                        <li class="list-group-item"><b>Номер телефона:</b> {{user.phone_number}}</li>
                                        <li class="list-group-item"><b>Дата рождения:</b> {{user.birthday}}</li>
                                        <li class="list-group-item"><b>Школа:</b> {{user.school.name}}</li>
                                        <li class="list-group-item"><b>Класс:</b> {{user.school_class.grade_number}}{{user.school_class.grade_letter}}</li>
                                    </ul>
                                </div>
                                <div class="card-footer text-end border-dark">
                                    <div class="d-grid gap-2 d-md-block">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="Change_profile_data_caller" data-bs-target="#Change_profile_data">
                                            Изменить личные данные
                                        </button>
                                        <button type="submit" class="btn border-secondary">Сменить пароль</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <h2>
                                Выбранные профориентационные мероприятия
                            </h2>
                            <div class="row row-cols-4 g-3">
                                {% for bundle_key, bundle_value in choosen_bundles.items %}
                                    <div class="col-6">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">{{bundle_key}}</h5>
                                                <p class="card-text">{{bundle_value|get_item:'description'}}</p>
                                               <!-- <ul class="list-group list-group-flush">
                                                    {%for value in bundle_value|get_item:'competences'%}
                                                        <li class="list-group-item">{{value}}</li>
                                                    {% endfor %}
                                                </ul>-->
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-grid gap-2">
                                                    <form action="{%url 'reject_bundle' %}" method="post">
                                                        <input type="input" class="form-control" name="citizen" value="{{user.id}}" style="display: none;">
                                                        <input type="input" class="form-control" name="bundle_name" value="{{bundle_key}}" style="display: none;">
                                                        <div class="d-grid gap-2">
                                                            <button type="submit" class="btn btn-primary">Отказаться</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for bundle_key, bundle_value in choosen_online_bundles.items %}
                                    <div class="col-6">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">{{bundle_key}}</h5>
                                                <p class="card-text">{{bundle_value|get_item:'description'}}</p>
                                                <!--<ul class="list-group list-group-flush">
                                                    {%for value in bundle_value|get_item:'competences'%}
                                                        <li class="list-group-item">{{value}}</li>
                                                    {% endfor %}
                                                </ul>-->
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-grid gap-2">
                                                    <form action="{%url 'reject_bundle' %}" method="post">
                                                        <input type="input" class="form-control" name="citizen" value="{{user.id}}" style="display: none;">
                                                        <input type="input" class="form-control" name="bundle_name" value="{{bundle_key}}" style="display: none;">
                                                        <div class="d-grid gap-2">
                                                            <button type="submit" class="btn btn-primary">Отказаться</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                            <p>{{message}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section park-section">
        <div class="container">
            <div class="row row-cols-4 g-3">
                <div class="col-12 justify-content-center text-center">
                    <h2>Профессиональные пробы на площадке исторический парк «Россия – Моя история» </h2>
                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p> 
                </div>
                {% for bundle_key, bundle_value in bundles.items %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{bundle_value|get_item:'img_link'}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{bundle_key}}</h5>
                                <p class="card-text">{{bundle_value|get_item:'description'}}</p>
                                <!--<ul class="list-group list-group-flush">
                                    {%for value in bundle_value|get_item:'competences'%}
                                        <li class="list-group-item">{{value}}</li>
                                    {% endfor %}
                                </ul>-->
                                <p></p>
                            </div>
                            <div class="card-footer">
                                <div class="d-grid gap-2">
                                    <form action="{%url 'choose_bundle' %}" method="post">
                                        <input type="input" class="form-control" name="citizen" value="{{user.id}}" style="display: none;">
                                        <input type="input" class="form-control" name="bundle_name" value="{{bundle_key}}" style="display: none;">
                                        <div class="d-grid gap-2">
                                            <button type="submit" class="btn btn-primary">Выбрать</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section online-section">
        <div class="container">
            <div class="row row-cols-4 g-3">
                <div class="col-12 justify-content-center text-center">
                    <h2>Профессиональны пробы в онлайн формате </h2>
                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p> 
                </div>
                {% for bundle_key, bundle_value in bundles_online.items %}
                    <div class="col h-100">
                        <div class="card">
                            <img src="{{bundle_value|get_item:'img_link'}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{bundle_key}}</h5>
                                <p class="card-text">{{bundle_value|get_item:'description'}}</p>
                                <!--<ul class="list-group list-group-flush">
                                    {%for value in bundle_value|get_item:'competences'%}
                                        <li class="list-group-item">{{value}}</li>
                                    {% endfor %}
                                </ul>-->
                            </div>
                            <div class="card-footer">
                                <div class="d-grid gap-2">
                                    <form action="{%url 'choose_bundle' %}" method="post">
                                        <input type="input" class="form-control" name="citizen" value="{{user.id}}" style="display: none;">
                                        <input type="input" class="form-control" name="bundle_name" value="{{bundle_key}}" style="display: none;">
                                        <div class="d-grid gap-2">
                                            <button type="submit" class="btn btn-primary">Выбрать</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
