{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Авторизация | Билет в будущее{% endblock %}

{% block style %}
        <link href="{% static 'vocational_guidance/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center align-self-center">
            <div class="h2"><h2>Восстановление пароля</h2></div>
            <div class="card" style="width: 25rem;">
                {% if message is not None %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            {{message}}
                        </div>
                    </div>
                {% endif %}
                <form action="{% url 'password_recovery_code' user_id %}" method="post">
                    <div class="mb-3">
                        <input type="input" style="display:None" class="form-control" name="user" id="User" value={{user_id}} required>
                    </div>
                    <div class="mb-3">
                        <label for="code" class="form-label">Введите код</label>
                        <input type="input" class="form-control" name="code" id="code" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Введите новый пароль</label>
                        <input type="password" class="form-control" name="password" id="Password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmation" class="form-label">Повторите пароль</label>
                        <input type="password" class="form-control" name="confirmation" id="Confirmation" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Сменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
