{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Регистрация | Билет в будущее{% endblock %}

{% block style %}
        <link href="{% static 'vocational_guidance/css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'vocational_guidance/js/registration.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center"></div>
        <div class="row justify-content-center">
            <div class="h2"><h2>Регистрация</h2></div>
            
            <div class="card" style="width: 25rem;">
            <form action="{% url 'signup_child' %}" method="post">
                <div class="step-title"><h5>Шаг 1/2: Личные данные</h5></div>
                <div class="form-floating mb-3">
                    <input type="input" class="form-control first-step" name="name" id="Name" placeholder="Имя" required>
                    <label for="Name">Имя</label>
                </div>
                <div class="form-floating mb-3 first-step-optional">
                    <input type="input" class="form-control" name="middle_name" id="MiddleName" placeholder="Отчество">
                    <label for="MiddleName">Отчество</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="input" class="form-control first-step" name="last_name" id="LastName" placeholder="Фамилия" required>
                    <label for="LastName">Фамилия</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control first-step" name="birthday" id="Birthday" placeholder="Дата рождения" required>
                    <label for="Birthday">Дата рождения</label>
                </div>
                <div class="form form-city mb-3">
                    <select class="selectpicker first-step-select" data-width="100%" data-live-search="true" name="city" id="City" required>
                    <option value="">Выберите населённый пункт</option>
                        {% for city in cities %}
                            <option class="city" value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form form-city mb-3">
                    <select class="selectpicker first-step-select" data-width="100%" data-live-search="true" name="school" id="School" required>
                        <option value="">Выберите школу</option>
                        {% for school in schools %}
                            <option value="{{school.id}}" class="school" data-school="{{school.city}}">{{school.name}} ({{school.city}})</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Example invalid select feedback</div>
                </div>
                <div class="form mb-3">
                    <div class="row g-3">
                        <div class="col">
                            <select class="form-select first-step-select" name="school_class" id="school_class" required>
                                    <option value="">Класс</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="input" class="form-control first-step" name="school_class_latter" id="school_class_latter" placeholder="Буква класса" required>
                        </div>
                    </div>
                </div>
                <div class="form-check first-step-optional">
                    <input class="form-check-input" type="checkbox" id="disability-check" name="disability-check">
                    <label class="form-check-label" for="flexCheckDefault">
                        Я отношусь к лицам с ОВЗ
                    </label>
                </div>
                <div class="form mb-3 first-step-optional" id="form-disability" style="display:none;">
                    <select class="selectpicker" data-width="100%" data-live-search="true" name="disability_type" id="disability_type">
                        <option>Выберите вид нарушения</option>
                        {% for type in disability_types %}
                            <option value="{{type.0}}" class="disability_type" data-school="{{type}}">{{type.1}}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Example invalid select feedback</div>
                </div>
                <div class="form-floating mb-3 finale-step" style="display:none;">
                    <input type="email" class="form-control" name="email" id="Email" placeholder="Email" required>
                    <label for="Email">Email</label>
                </div>
                <div class="form-floating mb-3 finale-step" style="display:none;">
                    <input type="phone2numeric" class="form-control" name="phone" id="Phone" placeholder="Номер телефона" required>
                    <label for="Phone">Номер телефона</label>
                </div>
                <div class="form-floating mb-3 finale-step" style="display:none;">
                    <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Пароль" required>
                    <label for="InputPassword">Придумайте пароль</label>
                </div>
                <div class="form-floating mb-3 finale-step" style="display:none;">
                    <input type="password" class="form-control" name="confirmation" id="Сonfirmation" placeholder="Пароль" required>
                    <label for="InputPassword">Повторите пароль</label>
                </div>
                <div class="form-check finale-step" style="display:none;">
                    <input class="form-check-input" type="checkbox" id="personal-data-check" name="personal-data" required>
                    <label class="form-check-label" for="flexCheckDefault">
                        Соглашаюсь на обработку моих персональных данных в соответствии с 
                        <a href="https://docs.google.com/document/d/1NBAR5ZwyE9cu9qLpi6gsRd5QjzJMrkbqqQIhTqLaSMU/edit?usp=sharing">
                            Политикой конфиденциальности
                        </a>
                        и принимаю условия 
                        <a href="https://docs.google.com/document/d/153ovlmAa_lT0My-rnlNR98I1jb5hJ4wIKCO0llxV-4U/edit?usp=sharing">
                            Лицензионного соглашения
                        </a>
                    </label>
                </div>
                {% if message %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            {{message}}
                        </div>
                    </div>
                {% endif %}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary finale-step" style="display:none;">Зарегистрироваться</button>
                </div>
            </form>
            <div class="mb-3 d-grid gap-2">
                <button class="btn btn-secondary first-step-end disabled">Продолжить</button>
            </div>
            <div class="mb-3 d-grid gap-2">
                <button class="btn btn-dark first-step-back"  style="display:none;">Назад</button>
                <div id="SignUpHelp" class="form-text finale-step" style="display:none;">Уже есть аккаунт? <a href="{% url 'signin' %}">Войти</a></div>
            </div>
        </div>
    </div>
{% endblock %}
