{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Регистрация | Билет в будущее{% endblock %}

{% block style %}
        <link href="{% static 'vocational_guidance/css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center"></div>
        <div class="row justify-content-center">
            <div class="h2"><h2>Регистрация</h2></div>
            <div class="card" style="width: 25rem;">
            <form action="{% url 'signup' %}" method="post">
                <div class="form-floating mb-3">
                    <input type="input" class="form-control" name="name" id="Name" placeholder="Имя">
                    <label for="Name">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="input" class="form-control" name="middle_name" id="MiddleName" placeholder="Отчество">
                    <label for="MiddleName">Отчество</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="input" class="form-control" name="last_name" id="LastName" placeholder="Фамилия">
                    <label for="LastName">Фамилия</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" name="birthday" id="Birthday" placeholder="Дата рождения">
                    <label for="Birthday">Дата рождения</label>
                </div>
                <div class="form mb-3">
                    <select class="form-select" name="school" id="School">
                        <option>Выберите школу</option>
                        {% for school in schools %}
                            <option value="{{school.name}}">{{school.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="Email" placeholder="Email">
                    <label for="Email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Пароль">
                    <label for="InputPassword">Придумайте пароль</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="confirmation" id="InputPassword" placeholder="Пароль">
                    <label for="InputPassword">Повторите пароль</label>
                    <div id="SignUpHelp" class="form-text">Уже есть аккаунт? <a href="{% url 'signin' %}">Войти</a></div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
