{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Школьный дашбоард | Билет в будущее{% endblock %}

{% block style %}
        <link href="{% static 'vocational_guidance/css/school_dash.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div class="modal fade" id="ChangePasswordModal" tabindex="-1" aria-labelledby="ChangePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Изменить данные профиля</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'change_password' %}" method="post">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="current_password" id="Сonfirmation" placeholder="Пароль" required>
                            <label for="InputPassword">Введите текущий пароль</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Пароль" required>
                            <label for="InputPassword">Придумайте новый пароль</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="confirmation" id="Сonfirmation" placeholder="Пароль" required>
                            <label for="InputPassword">Повторите новый пароль</label>                        
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Сменить пароль</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ChangeProfileModal" tabindex="-1" aria-labelledby="ChangeProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Изменить данные профиля</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'change_profile_teacher' %}" method="post">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            {% if user.first_name == None %}
                                <input type="input" class="form-control" name="name" id="Name" placeholder="Имя" required>
                            {% else %}
                                <input type="input" class="form-control" name="name" id="Name" placeholder="Имя" value="{{user.first_name}}" required>
                            {% endif %} 
                            <label for="Name">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            {% if user.middle_name == None %}
                                <input type="input" class="form-control" name="middle_name" id="MiddleName" placeholder="Отчество" >
                            {% else %}
                                <input type="input" class="form-control" name="middle_name" id="MiddleName" placeholder="Отчество" value="{{user.middle_name}}">
                            {% endif %} 
                            <label for="MiddleName">Отчество</label>
                        </div>
                        <div class="form-floating mb-3">
                            {% if user.last_name == None %}
                                <input type="input" class="form-control" name="last_name" id="LastName" placeholder="Фамилия" required>
                            {% else %}
                                <input type="input" class="form-control" name="last_name" id="LastName" placeholder="Фамилия" value="{{user.last_name}}" required>
                            {% endif %} 
                            <label for="LastName">Фамилия</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="Email" placeholder="Email" value="{{user.email}}" required>
                            <label for="Email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            {% if user.phone == None %}
                                <input type="phone2numeric" class="form-control" name="phone" id="Phone" placeholder="Номер телефона" value="{{user.phone_number}}" required>
                            {% else %}
                                <input type="phone2numeric" class="form-control" name="phone" id="Phone" placeholder="Номер телефона" required>
                            {% endif %}
                            <label for="Phone">Номер телефона</label>
                        </div>
                        <div class="form-floating mb-3">
                            {% if school.adress == None %}
                                <input type="input" class="form-control" name="adress" id="adress" placeholder="Адрес" required>
                            {% else %}
                                <input type="input" class="form-control" name="adress" id="adress" placeholder="Адрес" value="{{school.adress}}" required>
                            {% endif %}
                            <label for="Name">Адрес</label>
                        </div>
                        <div style="display: none;">
                            <input type="input" class="form-control" name="school_id" value="{{school.id}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section profile-section">
        <div class="container-xxl">
            <div class="row row-cols-3 g-3">
                <div class="col-12 justify-content-center text-left">
                    <div class="row row-cols-6 g-5">
                        <div class="col-5">
                            <div class="card card-profile border-dark">
                                <h2 class="card-header border-dark">
                                    {{school.name}}
                                </h2>
                                <div class="card-body border-dark">
                                    <h5>
                                        {% if user.last_name != None %}
                                                {{user.last_name}}
                                        {% endif %}
                                        {% if user.first_name != None %}
                                                {{user.first_name}}
                                        {% endif %}
                                        {% if user.middle_name != None %}
                                                {{user.middle_name}}
                                        {% endif %}
                                    </h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
                                        <li class="list-group-item"><b>Контактный телефона:</b>
                                            {% if user.phone_number == None %}
                                                –
                                            {% else %}
                                                {{user.phone_number}}
                                            {% endif %}
                                         </li>
                                        <li class="list-group-item"><b>Населённый пункт:</b> {{school.city}}</li>
                                        <li class="list-group-item"><b>Адрес школы:</b>
                                            {% if school.adress == None %}
                                                –
                                            {% else %}
                                                {{school.adress}}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer text-end border-dark">
                                    <div class="d-grid gap-2 d-md-block">
                                        <button type="button" class="btn border-secondary" id="Change_password" data-bs-toggle="modal" data-bs-target="#ChangePasswordModal">Сменить пароль</button>
                                        <button type="button" class="btn btn-primary" id="Change_profile" data-bs-toggle="modal" data-bs-target="#ChangeProfileModal">
                                            Изменить личные данные
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 statistic">
                            <h2>
                                Статистика школы
                            </h2>
                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="col card text-center main-stat">
                                        <div class="card-body">
                                            <p class="card-title">Учеников зарегистрировано: {{school_stat|get_item:'students_count'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card text-center main-stat">
                                        <div class="card-body">
                                            <p class="card-title">Учеников записалось на пробы: {{school_stat|get_item:'enroll_count'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col card text-centerы">
                                        <div class="card-body">
                                            <p class="card-title">Учеников 6-7 классов: {{school_stat|get_item:'six_grade'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <p class="card-title">Учеников 6-7 классов: {{school_stat|get_item:'six_grade_enroll'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col card text-centerы">
                                        <div class="card-body">
                                            <p class="card-title">Учеников 8-9 классов: {{school_stat|get_item:'eight_grade'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <p class="card-title">Учеников 8-9 классов: {{school_stat|get_item:'eight_grade_enroll'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="col card text-centerы">
                                        <div class="card-body">
                                            <p class="card-title">Учеников 10-11 классов: {{school_stat|get_item:'ten_grade'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <p class="card-title">Учеников 10-11 классов: {{school_stat|get_item:'ten_grade_enroll'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="col card text-center main-stat">
                                        <div class="card-body">
                                            <p class="card-title">Групп записанно на проф. пробы: {{school_stat|get_item:'groups_enroll'}} из {{school_stat|get_item:'groups_count'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="col card text-center main-stat">
                                        <div class="card-body">
                                            <p class="card-title">Квота школы: {{school_stat|get_item:'school_limit'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section online-section">
        <div class="container">
            <div class="row row-cols-3 g-3">
                <div class="col-12 justify-content-center text-center">
                    <h2>Профессиональны пробы в рамках федерального проекта «Билет в будущее» (список групп) </h2>
                    <p>Ученики школ Самарской области с 6 по 11 класс могут принять участии в мероприятиях профессионального выбора в рамках проекта «Билет в будущее». Все мероприятия будут проходить онлайн в связи с эпидемиологической ситуацией, длительность одного мероприятия – 90 минут.</p>
                </div>
                {% for key_test, value_test in tests.items %}
                   <div class="col-12 test">
                        <h3>{{key_test}}</h3>
                        {% if value_test|get_item:'contact_name' != None %}
                            <p><b>Преподователь:</b> {{value_test|get_item:'contact_name'}}</p>
                            <p><b>Email:</b> {{value_test|get_item:'email'}}</p>
                            <p><b>Телефон:</b> {{value_test|get_item:'phone'}}</p>
                        {% endif %}
                   </div>
                        {% for group in value_test|get_item:'groups' %}
                            <div class="col">
                                <div class="card h-100 group-card">
                                    <div class="card-body">
                                        <div class="card-header">
                                            <h5 class="card-title"> Группа №{{group.0.id}}</h5>
                                        </div>
                                        <div class="card-text">
                                            <p><b>Центр обучения:</b> {{group.0.bundle.education_center}}</p>
                                            <p><b>Возрастная категория:</b> {{group.0.age_group}} класс</p>
                                            <p><b>Колво участников:</b> {{group.0.participants.count}}/8</p>
                                            {% if group.1.zoom_link is not None %}
                                                <p><a href="{{group.1.zoom_link}}">Ссылка на конференцию</a></p>
                                            {% endif %}
                                            <p><b>Участники:</b></p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            {% if group.4 is not None %}
                                                {% for assessment in group.3 %}
                                                    {% if assessment.attendance == False and group.5 == True %}
                                                        <li class="list-group-item assessment-false">
                                                            <div class="unsub-form">
                                                                {{assessment.participant}}
                                                                <form action="{% url 'cancel_participant' %}" method="POST">
                                                                    <input style="display:none;" type="input" name="participant" value={{assessment.participant.id}}>
                                                                    <input style="display:none;" type="input" name="test" value={{group.0.bundle.id}}>
                                                                    <input style="display:none;" type="input" name="group" value={{group.0.id}}>
                                                                    <input style="display:none;" type="input" name="slots" value={{group.0.slots}}>
                                                                    <button type="submit" class="btn btn-danger">Искл.</button>
                                                                </form>
                                                            <div>
                                                        </li>
                                                    {% elif assessment.attendance == True and group.5 == True %}
                                                        <li class="list-group-item assessment-true">{{assessment.participant}}</li>
                                                    {% else %}
                                                        <li class="list-group-item">{{assessment.participant}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% for participant in group.3 %}
                                                    <li class="list-group-item">{{participant}}</li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        {% if group.2 != None and group.1 is None %}
                                            <form class="" action="{% url 'choose_slot' %}" method="post">
                                                <div style="display: none;">
                                                    <input type="input" class="form-control" name="group_id" value="{{group.0.id}}">
                                                </div>
                                                <div class="form mb-3">
                                                    <select class="selectpicker" data-width="100%" data-live-search="true" name="slot_id" id="Slot" required>
                                                        {% if group.1 is None %}
                                                            <option value="">Выберите дату и время</option>
                                                        {% else %}
                                                            <option value="{{group.3.id}}">
                                                                {{slot.date}} {{slot.get_slot_display}} ({{slot.participants_count}}/8 участников)
                                                            </option>
                                                        {% endif %}
                                                        {% for slot in group.2 %}
                                                            {% if group.1.id != slot.0.id %}
                                                                <option value="{{slot.0.id}}">
                                                                    {{slot.0.date}} {{slot.0.get_slot_display}} ({{slot.1}}/8 участников)
                                                                </option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="d-grid gap-2 slot-submit">
                                                    <button type="submit" class="btn btn-primary">Записать группу на пробу</button>
                                                </div>
                                            </form>
                                        {% else %}
                                            {{group.1}}
                                            {% if group.1 is not None %}
                                                <h5>Группа записана на {{group.1.date}} {{group.1.get_slot_display}}</h5>
                                            {% else %}
                                                <h5>В данный момент по данной проф. пробе нет запланированных занятий. Возможно они появяться позже.</h5>
                                            {% endif %}
                                        {% endif %}
                                        {% if group.1 is not None %}
                                            <div class="d-grid gap-2 slot-submit fuck">
                                                <form class="cancel_slot" action="{% url 'cancel_slot' %}" method="post">
                                                    <div style="display: none;">
                                                        <input type="input" class="form-control" name="group_id" value="{{group.0.id}}">
                                                    </div>
                                                    {% if group.4 %}
                                                        <button type="submit" class="btn btn-dark">Отменить запись</button>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
