{% extends "vocational_guidance/layout.html" %}
{% load static %}
{% block title %}Список проб | Билет в будущее{% endblock %}

{% block style %}
        <link href="{% static 'vocational_guidance/css/school_dash.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div class="section bundles-section">
        <div class="container">
            <div class="row row-cols-3 g-3">
                <div class="col-12 justify-content-center text-center">
                    <h2>Пробы доступные в рамках проекта "Билет в будущее" в 2021 году</h2>
                </div>
                {% for key, value in tests.items %}
                    <div class="col-12 justify-content-center text-center">
                        <h3>{{key}}</h3>
                    </div>
                    {% for test in value %}
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h5 class="card-title">{{test.name}}</h5>
                                            <p class="card-text">{{test.description}}</p>
                                            <ul class="list-group list-group-flush">
                                                {% if test.education_program_link != None %}
                                                    <li class="list-group-item">
                                                        <a href="{{test.education_program_link}}">
                                                            <b>Программа подготовки</b>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                <li class="list-group-item"><b>Возрастная группа:</b> {{test.get_age_group_display}}</li>
                                                <li class="list-group-item ed_center"><b>Центр обучения:</b> {{test.education_center}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
</div>
    

{% endblock %}
