$light: white
$dark: #394959
$table-striped-bg-factor: .045
$table-hover-color: #0037ff
$table-hover-bg-factor: .08
@import "../../layout/bootstrap/scss/bootstrap"
//Popups
.disappear
    display: none !important

.modal
    .dropdown-toggle
        border: 1px solid #0000003b
    .import-field
        label, .errorlist
            display: none
    .change_contact_panel
        width: 100%
        display: flex
        justify-content: space-between
    input:disabled, textarea:disabled
        background-color: white

//Messages
.messages-board
    padding-top: 15px
    width: 85%
    margin: auto
    .alert
        padding: 5px 5px
        margin-bottom: 10px
//Панель управления
.control-panel
    width: 85%
    margin: auto

    display: flex
    justify-content: space-between
    flex-direction: column

    padding-top: 25px
    margin-bottom: 15px
    .row-1
        display: flex
        justify-content: flex-start
        column-gap: 10px
        button
            max-width: 300px
            border: 1px solid #394959
    .row-2
        z-index: 200
        display: flex
        justify-content: space-between
    .import-btn img
        width: 21px
    .table-search
        width: 200px
        input
            border: 1px solid #394959
            padding-left: 27px
            background-image: url('../img/search-icon.png')
            background-position: 4px 8px
            background-size: 20px
            background-repeat: no-repeat

//Таблица-контактов
.contact-list
    width: 85%
    margin: auto
    margin-bottom: 25px
    text-align: left
    background-color: #ffffff00
    box-shadow: 1px 3px 8px 5px #828282ab
    border-radius: 10px
    .disapear-OrganizationFilter, .disapear-ProjectFilter, .disapear-OrganizationTypeFilter
        display: none !important
    td
        border: 0
        border-bottom: 1px solid white

        color: #394959 
        vertical-align: middle !important
    thead 
        z-index: 100
        th div
            display: flex
            flex-wrap: nowrap
            justify-content: space-between
            img
                width: 23px
    thead:first-child th
        background-color: #394959
        color: white
        font-weight: 500
        border-top: 0
        &:first-child
            border-top-left-radius: 7px
        &:last-child
            border-top-right-radius: 7px
    thead:last-child th
            background-color: #394959   
            color: white
            font-weight: 500
            border: 0
            &:first-child
                border-bottom-left-radius: 7px
            &:last-child
                border-bottom-right-radius: 7px
