{% extends "layout.html" %}
{% load static %}
{% load fed_extras %}

{% block title %}Статистика по ЦО{% endblock %}
{% block style %}
    <link href="{% static 'federal_empl_program/css/flow_appls_dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}

{% endblock %}

{% block body %}
    <div class="stat">
            <div class="text-center">
                <h1>Федеральный проект «Содействие занятости»</h1>
            </div>
            <div class="qouta_table">
                <div><h3>Статистика заявок ЦО на flow</h3></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th rowspan="2" style="text-align: left;">ЦО</th>
                            <th colspan="4" style="border:0;">72 часа</th>
                            <th colspan="4" style="border:0;">144 часа</th>
                            <th colspan="4" style="border:0;">256 часа</th>
                            <th colspan="4" style="border:0;">Всего</th>
                        </tr>
                        <tr>
                            <th>Квота</th>
                            <th>Заявок</th>
                            <th>Одобрено ЦЗН</th>
                            <th>%</th>
                            <th>Квота</th>
                            <th>Заявок</th>
                            <th>Одобрено ЦЗН</th>
                            <th>%</th>
                            <th>Квота</th>
                            <th>Заявок</th>
                            <th>Одобрено ЦЗН</th>
                            <th>%</th>
                            <th>Квота</th>
                            <th>Заявок</th>
                            <th>Одобрено ЦЗН</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    {% for ed_center in ed_centers %}
                    <tr>
                        {% if ed_center.ed_center.flow_name != "" %}
                            <td style="text-align: left;">{{ed_center.ed_center.flow_name}}</td>
                        {% elif ed_center.ed_center.short_name != "" %}
                            <td style="text-align: left;">{{ed_center.ed_center.short_name}}</td>
                        {% else %}
                        <td style="text-align: left;">{{ed_center.ed_center.name}}</td>
                        {% endif %}
                        <td>{{ed_center.quota_72}}</td>
                        <td>{{applications|filter_center_72:ed_center.ed_center}}</td>
                        <td>{{applications|filter_prvvd_72:ed_center.ed_center}}</td>
                        <td>{{applications|count_procent_72:ed_center}}</td>
                        <td>{{ed_center.quota_144}}</td>
                        <td>{{applications|filter_center_144:ed_center.ed_center}}</td>
                        <td>{{applications|filter_prvvd_144:ed_center.ed_center}}</td>
                        <td>{{applications|count_procent_144:ed_center}}</td>
                        <td>{{ed_center.quota_256}}</td>
                        <td>{{applications|filter_center_256:ed_center.ed_center}}</td>
                        <td>{{applications|filter_prvvd_256:ed_center.ed_center}}</td>
                        <td>{{applications|count_procent_256:ed_center}}</td>
                        <td>{{ed_center.quota_72|add:ed_center.quota_144|add:ed_center.quota_256}}</td>
                        <td>{{applications|filter_center:ed_center.ed_center}}</td>
                        <td>{{applications|filter_prvvd:ed_center.ed_center}}</td>
                        <td>{{applications|count_procent:ed_center}}</td>
                    </tr>
                    {% endfor %}
                    <!--<tr class='table-darkblue'>
                        <td style="font-weight: bold">Итого</td>
                        <td style="font-weight: bold"></td>

                    </tr>-->
                </table>
            </div>
        </div>

{% endblock %}
