{% extends "layout.html" %}
{% load static %}
{% load fed_extras %}

{% block title %}Статистика по ЦО{% endblock %}
{% block style %}
    <link href="{% static 'federal_empl_program/css/flow_appls_dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
<script src="{% static 'federal_empl_program/js/flow_appls_dashboard.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Федеральный проект «Содействие занятости»</h1>
    </div>
    <div class="weekly-stat">
        <div><h3>Статистика по заявкам</h3></div>
        <div class="day-stats">
            <div class="day-stat" style="background-color: #426cf8;">
                <h5>Новых заявок: {{day_stats|get_item:'Новые'}}</h5>
            </div>
            <div class="day-stat" style="background-color: #02509e;">
                <h5>Одобрено ЦЗН: {{day_stats|get_item:'Одобрено ЦЗН'}}</h5>
            </div>
            <div class="day-stat">
                <h5>Начали обучение: {{day_stats|get_item:'Начали обучение'}}</h5>
            </div>
        </div>
        <div class="graphic-control">
            <div class="appls-last-update">Последнее обновление: {{project_year.appls_last_update|date:"H:i d/m/y"}}</div>
            <button class="btn btn-primary cumulative-switch">Показать нарастающий итог</button>
        </div>
        <div class="graphic">
            <img src='data:image/png;base64, {{chart|safe}}'>
        </div>
        <div style="display: none;" class="cumulative-graphic">
            <img src='data:image/png;base64, {{cumulative_chart|safe}}'>
        </div>
    </div>
    <div class="qouta_table">
        <div><h3>Статистика заявок ЦО на flow</h3></div>
        
        <div class="instrument-panel">
            <button class="btn btn-primary show-appls">Показать все заявки</button>
            <button class="btn btn-primary hide-appls" style="display: none;">Скрыть не одобреные заявки</button>
        </div>
        <table class="table table-striped">
            <thead class="sticky-top">
                <tr>
                    <th rowspan="2" style="text-align: left;">ЦО</th>
                    <th class="qouta-duration right-border" colspan="1" style="border:0;">72 часа</th>
                    <th class="qouta-duration right-border" colspan="1" style="border:0;">144 часа</th>
                    <th class="qouta-duration right-border" colspan="1" style="border:0;">256 часа</th>
                    <th class="qouta-duration" colspan="1" style="border:0;">Всего</th>
                </tr>
                <tr>
                    <th class="hide-col">Заявок</th>
                    <th class="hide-col">Начали обучение</th>
                    <th class=""><p>Одобрено ЦЗН</p></th>
                    <th class="hide-col">Заявок</th>
                    <th class="hide-col">Начали обучение</th>
                    <th class=""><p>Одобрено ЦЗН</p></th>
                    <th class="hide-col">Заявок</th>
                    <th class="hide-col">Начали обучение</th>
                    <th class=""><p>Одобрено ЦЗН</p></th>
                    <th class="hide-col">Заявок</th>
                    <th class="hide-col">Начали обучение</th>
                    <th><p>Одобрено ЦЗН</p></th>
                </tr>
            </thead>
            {% for ed_center in ed_centers %}
            <tr>
                <td style="text-align: left;" class="ed_center-col">
                {% if ed_center.ed_center__flow_name != "" %} {{ed_center.ed_center__flow_name}}
                {% elif ed_center.ed_center__short_name != "" %} {{ed_center.ed_center__short_name}}
                {% else %} {{ed_center.ed_center__name}}
                {% endif %}</td>
                <td class="hide-col">{{applications|filter_center_72:ed_center}}</td>
                <td class="hide-col">{{applications|filter_strt_center_72:ed_center}}</td>
                <td class="right-border"><p>{{applications|count_procent_72:ed_center}}</p></td>
                <td class="hide-col">{{applications|filter_center_144:ed_center}}</td>
                <td class="hide-col">{{applications|filter_strt_center_144:ed_center}}</td>
                <td class="right-border"><p>{{applications|count_procent_144:ed_center}}</p></td>
                <td class="hide-col">{{applications|filter_center_256:ed_center}}</td>
                <td class="hide-col">{{applications|filter_strt_center_256:ed_center}}</td>
                <td class="right-border"><p>{{applications|count_procent_256:ed_center}}</p></td>
                <td class="hide-col">{{applications|filter_center:ed_center}}</td>
                <td class="hide-col">{{applications|filter_strt_center:ed_center}}</td>
                <td><p>{{applications|count_procent:ed_center}}</p></td>
            </tr>
            {% endfor %}
            <tr class='table-darkblue'>
                <td style="font-weight: bold">Итого</td>
                <td class="hide-col" style="font-weight: bold">{{appls_stat.appls_count_72}}</td>
                <td class="hide-col">{{applications|filter_strt_center_all:72}}</td>
                <td style="font-weight: bold"><p>{{applications|count_procent_all_72:ed_centers}}</p></td>
                <td class="hide-col" style="font-weight: bold">{{appls_stat.appls_count_144}}</td>
                <td class="hide-col">{{applications|filter_strt_center_all:144}}</td>
                <td style="font-weight: bold"><p>{{applications|count_procent_all_144:ed_centers}}</p></td>
                <td class="hide-col" style="font-weight: bold">{{appls_stat.appls_count_256}}</td>
                <td class="hide-col">{{applications|filter_strt_center_all:256}}</td>
                <td style="font-weight: bold"><p>{{applications|count_procent_all_256:ed_centers}}</p></td>
                <td class="hide-col" style="font-weight: bold">{{appls_stat.appls_count}}</td>
                <td class="hide-col">{{applications|filter_strt_center_all}}</td>
                <td style="font-weight: bold"><p>{{applications|count_procent_all:ed_centers}}</p></td>
            </tr>
        </table>
    </div>

{% endblock %}
