{% extends "layout.html" %}
{% load static %}
{% load fed_extras %}

{% block title %}Поток №{{group.flow_id}}{% endblock %}
{% block style %}
    <link href="{% static 'federal_empl_program/css/group_view.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}

{% endblock %}

{% block body %}
    {% for document in documents %}
        <div class="modal fade change-document-modal" id="ChangeDoc{{document.id}}Modal" tabindex="-1" aria-labelledby="AddDocModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddDocModalLabel">Изменить документы</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'group_view' group.id %}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input style="display: none;" type="text" name="doc_id" value="{{document.id}}">
                        <div class="form mb-3 selectpicker">
                            <select class="selectpicker" title="Тип документа" data-width="100%" data-live-search="true" name="doc_type" required>
                                <option {% if document.doc_type == "ACT" %}selected{% endif %} value="ACT">Акт</option>
                                <option {% if document.doc_type == "RPRT" %}selected{% endif %} value="RPRT">Отчёт об трудоустройсте</option>
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="BillSumInput" name="bill_sum" placeholder="Сумма акта" value="{{document.bill_sum}}" step="0.01" required>
                            <label for="BillSumInput">Сумма акта</label>
                        </div>
                        <a href="{{document.doc_file.url}}">Акт/Отчёт:</a>
                        <div class="mb-3">
                            {% csrf_token %}
                            {{ act_change_form.non_field_errors }}
                            {{ act_change_form.act_file.help_text }}
                            {{ act_change_form.act_file.errors }}
                            {{ act_change_form.act_file }}
                        </div>
                        {% if document.bill_sum.url != None %}
                            <a href="{{document.bill_sum.url}}">Счёт:</a>
                        {% endif %}
                        <div class="mb-3">
                            {% csrf_token %}
                            {{ bill_form.non_field_errors }}
                            {% if document.bill_sum.url == None %}
                                {{ bill_form.bill_file.label_tag }} 
                            {% endif %}
                            {{ bill_form.bill_file.help_text }}
                            {{ bill_form.bill_file.errors }}
                            {{ bill_form.bill_file }}
                        </div>  
                                           
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="bill_id" id="bill_id" {% if document.bill_id is not None %}value="{{document.bill_id}}"{% endif %} placeholder="Номер счёта">
                            <label class="form-check-label first-step" for="bill_id">Номер счёта</label>  
                        </div>
                    </div>
                    <div class="modal-footer" style="display: flex;flex-direction: row-reverse;justify-content: space-between;">
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-primary" name="change-doc" value="Сохранить">
                            </div>
                        </form>
                        <form action="{% url 'group_view' group.id %}" method="post">
                            <input style="display: none;" type="text" name="doc_id" value="{{document.id}}">
                            <input type="submit" class="btn btn-danger" name="delete-doc" value="Удалить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="modal fade add-document-modal" id="AddDocModal" tabindex="-1" aria-labelledby="AddDocModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddDocModalLabel">Добавить документ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'group_view' group.id %}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form mb-3 selectpicker">
                            <select class="selectpicker" title="Тип документа" data-width="100%" data-live-search="true" name="doc_type" required>
                                <option selected value="ACT">Акт</option>
                                <option value="RPRT">Отчёт об трудоустройсте</option>
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="BillSumInput" name="bill_sum" step="0.01" placeholder="Сумма акта" required>
                            <label for="BillSumInput">Сумма акта</label>
                        </div>
                        <div class="mb-3">
                            {% csrf_token %}
                            {{ act_form.non_field_errors }}
                            {{ act_form.act_file.label_tag }} 
                            {{ act_form.act_file.help_text }}
                            {{ act_form.act_file.errors }}
                            {{ act_form.act_file }}
                        </div>
                        <div class="mb-3">
                            {% csrf_token %}
                            {{ bill_form.non_field_errors }}
                            {{ bill_form.bill_file.label_tag }} 
                            {{ bill_form.bill_file.help_text }}
                            {{ bill_form.bill_file.errors }}
                            {{ bill_form.bill_file }}
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="bill_id" id="bill_id" value="{{document.bill_id}}" placeholder="Номер счёта">
                            <label class="form-check-label first-step" for="bill_id">Номер счёта</label>  
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <input type="submit" class="btn btn-primary" name="add-doc" value="Сохранить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="page-hdr">
        <h1>
            Учебный поток 
            <a href="https://flow.firpo.info/EducationPrograms/Cohort?cohortId={{group.flow_id}}" target="_blank">
                №{{group.flow_id}}
            </a>
        </h1>
        <h3>{{group.education_program.ed_center.flow_name}}</h3>
    </div>
    <div id="group-info">
        <h2>Данные потока</h2>
        
        <div>
            <p><b>Центр обучения:</b> {{group.education_program.ed_center.flow_name}}</p>
            <p><b>Программа обучения:</b> {{group.education_program.program_name}}</p>
            <p><b>Статус:</b> {{group.get_pay_status_display}}</p>
            <p><b>Начало обучения:</b> {{group.start_date}}</p>
            <p><b>Конец обучения:</b> {{group.end_date}}</p>
            {% if group.group_link is not None%} <p><b><a href="{{group.group_link}}" target="_blank" rel="noopener noreferrer">Цифровой след</a></b></p>{% endif %}
        </div>
        <div>
            <p><b>Вид программы:</b> {{group.education_program.get_program_type_display}}</p>
            <p><b>Длительность программы:</b> {{group.education_program.duration}} ч.</p>
            
        </div>
    </div>
    <div style="width: 85%; margin: auto;">
        <form action="{% url 'group_view' group.id %}" method="post" style="display: flex; gap: 15px; align-items: flex-start;">
            <div class="mb-3">
                <input type="input" class="form-control" name="group_link" id="group_link" placeholder="Цифровой след" required>
            </div>
            <input type="submit" class="btn btn-primary" name="add-group-link" value="Сохранить">
        </form>
    </div>
    <div id="applicants-list">
        <form style="width:100%" action="{% url 'group_view' group.id %}" method="post">
            <div style="display:flex; justify-content:space-between;margin-bottom:10px">
                <h2>Участники</h2>
                <button class="btn btn-primary" name="add_to_act">Сохранить</button>
            </div>
            <table id="applicants-table" class="table table-striped">
                <thead>
                    <th scope="col" style="border-top-left-radius: 10px; text-align:left;">ФИО</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Актирован</th>
                    <th scope="col">Трудоустроен (не подтверждено)</th>
                    <th scope="col" style="border-top-right-radius: 10px;">Стоимость обучения</th>
                </thead>
                {% for applicant in applicants %}
                    <tr>
                        <td scope="row" style="text-align:left;">{{applicant.applicant}}</td>
                        <td scope="row">{{applicant.flow_status.off_name}}</td>
                        <td scope="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="act{{applicant.id}}" {% if applicant.added_to_act %} checked {% endif %}>
                            </div>
                        </td>
                        <td scope="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="is_working{{applicant.id}}" {% if applicant.is_working %} checked {% endif %}>
                            </div>
                        </td>
                        <td scope="row">{{applicant.price}}</td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <div id="payment-stats">
        <h2 style="text-align: center;">Оплата</h2>
        <div class="pay-stat"><h5>За обучение:<br>{{ed_price|money_format}}</h5></div>
        <div class="pay-stat"><h5>За трудоустройство:<br>{{wrk_price|money_format}}</h5></div>
        <div class="pay-stat"><h5>Всего:<br>{{full_price|money_format}}</h5></div>
        <div class="pay-stat"><h5>Оплаченно:<br>{{paid_price|money_format}}</h5></div>
        <div style="display:flex; justify-content:space-between;margin-top:10px; width:100%">
            <h2>Документы</h2>
            <div id="control-panel">
                {% if documents.count != 0 and group.pay_status != 'UPB' %}
                <form action="{% url 'group_view' group.id %}" method="post">
                    <input type="submit" class="btn btn-outline-primary" name="send-bill" value="Отправить на оплату">
                </form>
                {% endif %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddDocModal">Добавить документ</button>
            </div>
        </div>
        <table id="acts-table" class="table table-striped">
            <thead>
                <th style="border-top-left-radius: 10px; text-align:left;padding-left:60px">Акт/Отчёт о занятости</th>
                <th>Оплачен</th>
                <th>Сумма</th>
                <th>Номер счёта</th>
                <th style="border-top-right-radius: 10px;">Счёт</th>
            </thead>
                {% for document in documents %}
                    <tr>
                        <td scope="row" style="text-align:left;">
                            <div style="display: flex; align-items:center; gap:15px;">
                                <div class="edit-icon" data-bs-toggle="modal" data-bs-target="#ChangeDoc{{document.id}}Modal">
                                    <img src="{% static 'federal_empl_program/img/edit-icon.svg' %}" alt="">
                                </div>
                                <a href="{{document.doc_file.url}}" target="_blank"{% if group.pay_status == 'UPB' %}style="padding-left: 50px;"{% endif %}>{{document.get_doc_type_display}}</a>    
                            </div>
                        </td>
                        <td scope="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="" {% if document.is_paid %}checked{% endif %} disabled>
                            </div>
                        </td>
                        <td scope="row">{{document.bill_sum|money_format}}</td>
                        <td>{% if document.bill_id is not None%}{{document.bill_id}}{% endif %}</td>
                        <td scope="row">
                            {% if document.bill_file.name == "" %}
                                <form action="{% url 'group_view' group.id %}" method="post" enctype="multipart/form-data" style="display: flex;align-items: flex-start; justify-content:center;gap:10px;">
                                    <input style="display: none;" type="text" name="doc_id" value="{{document.id}}">
                                    <div class="mb-3" style="width: 260px; margin-bottom:0 !important;">
                                        {% csrf_token %}
                                        {{ bill_form.non_field_errors }}
                                        {{ bill_form.bill_file.help_text }}
                                        {{ bill_form.bill_file.errors }}
                                        {{ bill_form.bill_file }}
                                    </div>
                                    <input type="submit" class="btn btn-primary" name="add-bill" value="Загрузить">
                                </form>
                            {% else %}
                                <a href="{{document.bill_file.url}}" target="_blank">Счёт</a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td scope="row" colspan="4">Нет документов</td></tr>
                {% endfor %}
        </table>
    </div>
    <div style="width: 85%; margin: auto; margin-bottom: 25px;">
        <h5>Комментарий</h5>
        <form class="comment-form" action="{% url 'group_view' group.id %}" method="post">
            <div class="mb-3">
                <textarea class="form-control" name="group_commentary" rows="3">{% if group.group_commentary != None %}{{group.group_commentary}}{% endif %}</textarea>
            </div>
            <div class="submit" style="display: flex; justify-content: flex-end;"><button class="btn btn-primary" name="group-comment">Сохранить</button></div>
        </form>
    </div>
{% endblock %}