{% extends "layout.html" %}
{% load static %}
{% load fed_extras %}

{% block title %}Импорт данных | ФП «Содействие занятости»{% endblock %}
{% block style %}
    <link href="{% static 'future_ticket/css/import_programs.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'federal_empl_program/js/citizens.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="modal-body">
        <div class="import-form">
            <h2>Импорт заявок (flow)!</h2>
            {% if message != None %}
                {% if message.1 == 'MissingFieldsError' %}
                    <div class="alert alert-danger" role="alert">
                        Выгрузка невозможна. В таблице отсутсвуют следующие поля:
                        <ul>
                            {% for field in message.2 %}
                                <li>{{field}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% elif message.1 == 'EmptySheet' %}
                    <div class="alert alert-danger" role="alert">
                        Выгрузка невозможна. Пустая таблица!
                    </div>
                {% elif message.1 == 'IndexError' %}
                    <div class="alert alert-danger" role="alert">
                        IndexError
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        <p>Слушателей добавлено/изменено: {{message.2}}/{{message.3}}</p>
                        <p>Заявок добавлено/изменено: {{message.4}}/{{message.5}}</p>
                        <p>Групп добавлено/изменено: {{message.6}}/{{message.7}}</p>
                    </div> 
                {% endif %}
            {% endif %}
            <form enctype="multipart/form-data" action="{% url 'import_flow' %}" method="post">
                <div class="mb-3">
                    {{ form }}
                </div>
                <button style="margin-bottom: 15px;" type="submit" class="btn btn-primary" name="import-participants">Импортировать</button>
            </form>
            {% for missing_field in message.1 %}
                {% if missing_field|get_item:'status' == "SnilsMissing" %}
                    <div class="alert alert-danger" role="alert">
                        В {{missing_field|get_item:'value'}} строке отсутсвует СНИЛС.
                    </div>
                {% elif missing_field|get_item:'status' == "EdCenterMissing" %}
                    <div class="alert alert-danger" role="alert">
                        {{missing_field|get_item:'value'}} не найден на платформе.
                    </div>
                {% elif missing_field|get_item:'status' == "EdProgramMissing" %}
                    <div class="alert alert-danger" role="alert">
                        Программа с flow_id "{{missing_field|get_item:'value'}}" не найден на платформе.
                    </div>
                {% elif missing_field|get_item:'status' == "CategoryMissing" %}
                    <div class="alert alert-danger" role="alert">
                        Категория "{{missing_field|get_item:'value'}}" не найден на платформе.
                    </div>
                {% elif missing_field|get_item:'status' == "FlowStatusMissing" %}
                <div class="alert alert-danger" role="alert">
                    Статус flow "{{missing_field|get_item:'value'}}" не найден на платформе.
                    <br><a href="{% url 'admin:federal_empl_program_flowstatus_changelist' %}" target="_blank">Список статусов</a> 
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
