{% extends "layout.html" %}
{% load static %}

{% block title %}Импорт данных | ФП «Содействие занятости»‎{% endblock %}
{% block style %}
    <link href="{% static 'federal_empl_program/css/citizens.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'federal_empl_program/js/citizens.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="card" style="width: 25rem;" id='import_form'>
        {% if message != None %}
            <div class="alert alert-success" role="alert">
                Заявок добавлено: {{message.1}}
            </div> 
        {% endif %}
        <h2>Импортировать&nbspданные</h2>
        <form enctype="multipart/form-data" action="{% url 'import_express' %}" method="post">
            <div class="input-group mb-3">
                {{ form }}
            </div>
            <div class="submit">
                <input type="submit" value="Загрузить данные" class="btn btn-primary">   
            </div>
        </form>
        {% for row in message.2 %}
                <div class="alert alert-danger" role="alert">
                    В строке {{row.2}} не верно заполнены следующие поля:
                    <ul>
                        {% for field in row.1 %}
                            <li>{{field}}</li>
                        {% endfor %}
                    </ul>
                </div> 
            {% endfor %}
    </div>

{% endblock %}
