{% extends "layout.html" %}
{% load static %}
{% load fed_extras %}

{% block title %}Список счетов (30%){% endblock %}
{% block style %}
    <link href="{% static 'federal_empl_program/css/groups_list.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
<script src="{% static 'federal_empl_program/js/invoices_list.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}
    <div id="page-hdr">
        <h1>Мониторинг счетов (трудоустройство)</h1>
        <h3><b>Проект:</b> Содействие занятости</h3>
    </div>
    <div id="switch-panel"><a  href="{% url 'groups_list' 2023 %}"><button class="btn btn-primary">Мониторинг потоков</button></a></div>
    <div id="groups-list">
        <h2>Счета по трудоустройству (30%)</h2>
        <div id="control-panel">
            {% if user.role != 'CO' %}
            <div id="filters">
                <div class="input-group mb-3 table-search">
                    <input type="text" class="form-control" id="myInput" onkeyup="SearchFunction()" placeholder="Поиск..">
                </div>
                <div class="form mb-3">
                    <select class="selectpicker" title="Выберите ЦО" multiple data-width="100%" onchange="FilterFunction(0, 'EdCenterFilter')" data-live-search="true" id="EdCenterFilter">
                        {% for ed_center in ed_centers %}
                            <option value="{{ed_center.flow_name}}">{{ed_center.flow_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form mb-3">
                    <select class="selectpicker" title="Выберите статус" multiple data-width="100%" onchange="FilterFunction(2, 'ActPayStatusFilter')" data-live-search="true" id="ActPayStatusFilter">
                        <option>Сгенерирован</option>
                        <option>Подгружен счёт</option>
                        <option>На оплату</option>
                        <option>Оплачен</option>
                    </select>
                </div>
            </div>
            {% endif %}
            <form action="{% url 'invoices_list' project_year.year %}" method="post">
                {% if user.role == 'CNT' %}
                    <button class="btn btn-primary" name="pay_bills">Оплатить</button>
                {% endif %}
        </div>
        <table id="groups-table" class="table">
            <thead style="background-color: white;" class="sticky-top">
                <th scope="col" class="align-col-left">ЦО</th>
                <th scope="col" class="align-col-left">Договор</th>
                <th scope="col">Статус</th>
                <th scope="col">Потоки</th>
                <th scope="col">Кол-во чел.</th>
                <th scope="col">Счёт</th>
                <th scope="col">Сумма</th>
                <th scope="col">Оплачен?</th>
            </thead>
            {% for invoice in invoices %}
                <tr>
                    <td class="align-col-left"><a href="{% url 'invoice_view' invoice.id %}" target="_blank">{{invoice.contract.ed_center.ed_center.flow_name}}</a></td>
                    <td class="align-col-left">{{invoice.contract.number}}</td>
                    <td>{{invoice.get_stage_display}}</td>
                    <td>
                        {% for group in invoice|get_groups %}
                            <a href="{% url 'group_view' group.id %}" target="_blank">Поток №{{group.flow_id}}</a><br>
                        {% endfor %}
                    </td>
                    <td>{{invoice.applications.all.count}}</td>
                    <td>
                        {% if invoice.invoice_file.name != "" %}
                            <a href="{{invoice.invoice_file.url}}" target="_blank">Счёт {% if invoice.invoice_number is not None %}№{{invoice.invoice_number}}{% endif %}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if invoice.invoice_file.name != "" %}
                            {{invoice.amount|money_format}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="">
                        {% if invoice.stage == 'SPD' or invoice.stage == 'PD'  %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{invoice.id}}" name="invoices" {% if invoice.stage == 'PD' %}checked disabled {% endif %}>
                        </div>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </form>
    </div>

{% endblock %}