{% extends "layout.html" %}
{% load static %}
{% block title %}{{page_name}}{% endblock %}

{% block style %}
        <link href="{% static 'federal_empl_program/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <!--<script src="{% static 'federal_empl_program/js/login.js' %}"></script>-->
{% endblock %}

{% block body %}
    <div class="modal fade" id="InstructionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="InstructionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="InstructionModalLabel">Спасибо за регистрацию!</h5>
                </div>
                <div class="modal-body">
                    <p>Ваша предварительная заявка принята. Отправили на указанную почту дальнейшие инструкции по старту обучения.</p>
                    <p>
                        Теперь Вам доступен список ближайших групп для предварительной записи. 
                        После записи в группу с Вами свяжется представитель выбранного центра обучения.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary cont-btn">Перейти к выбору группы</button>
                </div>
            </div>
        </div>
    </div>

    {% if stage == 'registration' %}
        <div style="display: none;" class="stage">registration</div>
    {% else %}
        <div style="display: none;" class="stage">login</div>
    {% endif %}

    <div class="row justify-content-center align-self-center">
        <div class="card sign-card">
            <div class="form-title"><p>Авторизация</p></div>
            <div class="alert alert-danger" role="alert"></div>
        <!--Авторизация-->
            <div class="sign-form">
                <form action="{% url 'login' %}" method="post">
                    <input style="display: none;" type="input" class="form-control" name="redirect" value="{{redirect}}">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control email-login" name="email" placeholder="Email" aria-label="Email" aria-describedby="at">
                        <span class="input-group-text" id="at">@</span>
                    </div>
                    <div class="input-group mb-3 password-input">
                        <input  type="password" class="form-control" name="password" placeholder="Пароль" id="InputPassword" required>
                    </div>
                    <button style="width: 100%;" class="btn btn-primary sign-button" type="submit">Войти</button>
                    {% if message %}
                        <div class="alert alert-danger d-flex align-items-center" role="alert" style="margin-top: 10px;">
                            <div>
                                {{message}}
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
