{% extends "layout.html" %}
{% load static %}
{% load  mathfilters %}
{% block title %}Квота{% endblock %}
{% block style %}
    <link href="{% static 'federal_empl_program/css/quote_dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'federal_empl_program/js/quote_dashboard.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="page-hdr"><h1>Управление квотами (2023 г)</h1></div>
    <div class="qouta-table">
        <h2>Запрос на квоты на июнь</h2>
        <table class="table">
            <tr class=""> 
                <th scope="col">Центр обучения</th>
                <th scope="col">Квота 72 ч</th>
                <th scope="col">Квота 144 ч</th>
                <th scope="col">Квота 256 ч</th>
            </tr>
            {% for qouta in centers_quota %} 
                <tr>
                    <td scope="row">{{ qouta.ed_center_year.ed_center.short_name }}</td>
                    <td scope="row">{{ qouta.quota_72 }}</td>
                    <td scope="row">{{ qouta.quota_144 }}</td>
                    <td scope="row">{{ qouta.quota_256 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
