{% extends "layout.html" %}
{% load static %}
{% load ed_centers_extras %}

{% block title %}Личный кабинет ЦО{% endblock %}
{% block style %}
        <link href="{% static 'federal_empl_program/css/quota_dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
        <script src="{% static 'federal_empl_program/js/quota_dashboard.js' %}" rel="stylesheet"></script>
 {% endblock %}

{% block body %}
    <div class="page-hdr">
        <h1>Запрос квоты (дашборд)</h1>
    </div>
    <div class="programs-plan">
        <form action="{% url 'quota_dashboard' %}" method="post">
            <div class="filter">
                <h2>Запрос квоты ЦО</h2>
                <div class="form-floating mb-3" style="margin-bottom: 0 !important">
                    <select class="selectpicker" title="Выберите ЦО" multiple data-width="100%" onchange="FilterFunction(0, 'EdCenter')" data-live-search="true" name="center" id="EdCenter">
                        {% for ed_center in ed_centers %}
                            <option class="ter_admin" value="{{ ed_center.short_name }}">{{ ed_center.short_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="EdCenter">Выберите ЦО</label>
                </div>
            </div>
            <table class="table">
                <thead class="sticky-top">
                    <tr> 
                        <th scope="col" rowspan="2">ЦО</th>
                        <th scope="col" rowspan="2">Программа</th>
                        <th scope="col" class="col-center" colspan="{{ months|length|add:1 }}" style="border: 0;">Квота</th>
                    </tr>
                    <tr>
                        {% for month in months %}
                            <th scope="col" class="col-center">{{ month.1 }}</th>
                        {% endfor %}
                        <th class="col-center">Всего</th>
                    </tr>
                </thead>
                {% for plan in plans %}
                    <tr class="plan{{plan.program.ed_center.id}}">
                        <td data-id="{{plan.program.ed_center.id}}">{{ plan.program.ed_center.short_name }}</td>
                        <td>{{ plan.program }}</td>
                        {% for monthly_plan in plan.monthly_plans.all %}
                            <td class="month-cell">
                                <input class="col-center" type="number" name="plan{{ monthly_plan.id }}" value="{{ monthly_plan.students_count }}">
                            </td>
                        {% endfor %}
                        <td class="col-center">{{ plan.months_sum }}</td>
                    </tr>
                {% endfor %}
                    <tr class='sticky-bottom'>
                        <td colspan="2">Всего</td>
                        {% for month_sum in monthly_plans %}
                            <td class="col-center">
                                {{month_sum}}
                            </td>
                        {% endfor %}
                    </tr>
            </table>
        </form>
    </div>

{% endblock %}