{% extends "layout.html" %}
{% load static %}
{% load  mathfilters %}
{% block title %}Квота{% endblock %}
{% block style %}
    <link href="{% static 'federal_empl_program/css/quote_dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'federal_empl_program/js/quote_dashboard.js' %}"></script>
{% endblock %}

{% block body %}
    <table class="table table-striped table-stat">
        <thead>
            <tr> 
                <th scope="col" class="stage" rowspan="3"></th>
                <th scope="col" class="stage" colspan="3">Грант 1</th>
                <th scope="col" class="stage" colspan="3">Грант 2</th>
            </tr>
            <tr>
                <th scope="col" class="stage">72ч</th>
                <th scope="col" class="stage">144ч</th>
                <th scope="col" class="stage">256ч</th>
                <th scope="col" class="stage">72ч</th>
                <th scope="col" class="stage">144ч</th>
                <th scope="col" class="stage">256ч</th>
            </tr>
            <tr>
                <th scope="col" colspan="6">Потрачено</th>
            </tr>
            <tr>
                <td><b>Зачислены</b></td>
                <td>{{quotes|get_item:'quote_1_72_sed'}}</td>
                <td>{{quotes|get_item:'quote_1_144_sed'}}</td>
                <td>{{quotes|get_item:'quote_1_256_sed'}}</td>
                <td>{{quotes|get_item:'quote_2_72_sed'}}</td>
                <td>{{quotes|get_item:'quote_2_144_sed'}}</td>
                <td>{{quotes|get_item:'quote_2_256_sed'}}</td>
            </tr>
            <tr>
                <td><b>Завершил обучение</b></td>
                <td>{{quotes|get_item:'quote_1_72_comp'}}</td>
                <td>{{quotes|get_item:'quote_1_144_comp'}}</td>
                <td>{{quotes|get_item:'quote_1_256_comp'}}</td>
                <td>{{quotes|get_item:'quote_2_72_comp'}}</td>
                <td>{{quotes|get_item:'quote_2_144_comp'}}</td>
                <td>{{quotes|get_item:'quote_2_256_comp'}}</td>
            </tr>
            <tr>
                <td><b>Завершили + Зачислены</b></td>
                <td>{{quotes|get_item:'quote_1_72'}}</td>
                <td>{{quotes|get_item:'quote_1_144'}}</td>
                <td>{{quotes|get_item:'quote_1_256'}}</td>
                <td>{{quotes|get_item:'quote_2_72'}}</td>
                <td>{{quotes|get_item:'quote_2_144'}}</td>
                <td>{{quotes|get_item:'quote_2_256'}}</td>
            </tr>
            <tr>
                <td><b>Квота</b></td>
                <td>{{grant_1.qoute_72}}</td>
                <td>{{grant_1.qoute_144}}</td>
                <td>{{grant_1.qoute_256}}</td>
                <td>{{grant_2.qoute_72}}</td>
                <td>{{grant_2.qoute_144}}</td>
                <td>{{grant_2.qoute_256}}</td>
            </tr>
            <tr>
                <th>Осталось</th>
                <th>{{quotes|get_item:'quote_1_72_remains'}}</th>
                <th>{{quotes|get_item:'quote_1_144_remains'}}</th>
                <th>{{quotes|get_item:'quote_1_256_remains'}}</th>
                <th>{{quotes|get_item:'quote_2_72_remains'}}</th>
                <th>{{quotes|get_item:'quote_2_144_remains'}}</th>
                <th>{{quotes|get_item:'quote_2_256_remains'}}</th>
            </tr>
        </thead>
    </table>
    <div class="input-group mb-3 table-search">
        <input type="text" class="form-control" id="myInput" onkeyup="SearchFunction()" placeholder="Поиск..">
    </div>
    <table class="table table-striped table-centers">
        <thead class="sticky-top">
            <tr> 
                <th scope="col" class='ed_center-head' rowspan="3">Центр обучения</th>
                <th scope="col" class="stage" colspan="9">Грант 1</th>
                <th scope="col" class="stage" colspan="9">Грант 2</th>
            </tr>
            <tr>
                <th scope="col" class="stage" colspan="3">72ч</th>
                <th scope="col" class="stage" colspan="3">144ч</th>
                <th scope="col" class="stage" colspan="3">256ч</th>
                <th scope="col" class="stage" colspan="3">72ч</th>
                <th scope="col" class="stage" colspan="3">144ч</th>
                <th scope="col" class="stage" colspan="3">256ч</th>
            </tr>
            <tr>
                <th scope="col" class="stage">квота</th>
                <th scope="col" class="stage">выполнено</th>
                <th scope="col" class="stage">осталось</th>
                <th scope="col" class="stage">квота</th>
                <th scope="col" class="stage">выполнено</th>
                <th scope="col" class="stage">осталось</th>
                <th scope="col" class="stage">квота</th>
                <th scope="col" class="stage">выполнено</th>
                <th scope="col" class="stage">осталось</th>
                <th scope="col" class="stage">квота</th>
                <th scope="col" class="stage">выполнено</th>
                <th scope="col" class="stage">осталось</th>
                <th scope="col" class="stage">квота</th>
                <th scope="col" class="stage">выполнено</th>
                <th scope="col" class="stage">осталось</th>
                <th scope="col" class="stage">квота</th>
                <th scope="col" class="stage">выполнено</th>
                <th scope="col" class="stage">осталось</th>
            </tr>
        </thead>
        {% for ed_center in ed_centers %}
            <tr>
                <td class='ed_center'>{{ed_center.name}}</td>

                <td><input class="quote_1_72_quote quote_1_72_quote_{{ed_center.id}}" data-id="{{ed_center.id}}" type="text" value="{{ed_center.quota_1_72}}"></td>
                <td class="quote_1_72_fact_{{ed_center.id}}">{{ed_center.quote_1_72_count}}</td>
                <td class="quote_1_72_remains" data-id="{{ed_center.id}}"></td>

                <td><input class="quote_1_144_quote quote_1_144_quote_{{ed_center.id}}" data-id="{{ed_center.id}}" type="text" value="{{ed_center.quota_1_144}}"></td>
                <td class="quote_1_144_fact_{{ed_center.id}}">{{ed_center.quote_1_144_count}}</td>
                <td class="quote_1_144_remains" data-id="{{ed_center.id}}"></td>

                <td><input class="quote_1_256_quote quote_1_256_quote_{{ed_center.id}}" type="text" data-id="{{ed_center.id}}" value="{{ed_center.quota_1_256}}"></td>
                <td class="quote_1_256_fact_{{ed_center.id}}">{{ed_center.quote_1_256_count}}</td>
                <td class="quote_1_256_remains" data-id="{{ed_center.id}}"></td>

                <td><input class="quote_2_72_quote quote_2_72_quote_{{ed_center.id}}" type="text" data-id="{{ed_center.id}}" value="{{ed_center.quota_2_72}}"></td>
                <td class="quote_2_72_fact_{{ed_center.id}}">{{ed_center.quote_2_72_count}}</td>
                <td class="quote_2_72_remains" data-id="{{ed_center.id}}"></td>

                <td><input class="quote_2_144_quote quote_2_144_quote_{{ed_center.id}}" type="text" data-id="{{ed_center.id}}" value="{{ed_center.quota_2_144}}"></td>
                <td class="quote_2_144_fact_{{ed_center.id}}">{{ed_center.quote_2_144_count}}</td>
                <td class="quote_2_144_remains" data-id="{{ed_center.id}}"></td>

                <td><input class="quote_2_256_quote quote_2_256_quote_{{ed_center.id}}" type="text" data-id="{{ed_center.id}}" value="{{ed_center.quota_2_256}}"></td>
                <td class="quote_2_256_fact_{{ed_center.id}}">{{ed_center.quote_2_256_count}}</td>
                <td class="quote_2_256_remains" data-id="{{ed_center.id}}"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
