{% extends "layout.html" %}
{% load static %}

{% block title %}Управление мероприятиями{% endblock %}
{% block style %}
    <link href="{% static 'education_centers/css/abilimpics.css' %}" rel="stylesheet">
    <style>
        h1 {
            text-align: center;
            font-size: 32px !important;
        }
        form {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
        .form-group {
            width: 100%;
        }
        .btn {
            margin-top: 10px;
            width: 100%;
        }

    </style>
{% endblock %}
{% block script %}
    <script src="{% static 'education_centers/js/application_docs.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="page-hdr">
        
    </div>
    <div class="page-body">
        <form action="{% url 'application_docs' %}" method="post" name="download-application" id="download-application" {% if form != "generate_application"%}style="display: none;"{% endif %}>
            <h2>Генерация заявления на отправку документа о квалификации</h2>
            <div class="form-group mb-3">
                <label for="passport_series" class="form-label">Серия и номер паспорта</label>
                <input type="text" class="form-control" id="passport_series" maxlength="20" name="passport_series" required>
            </div>
            <div class="form-group mb-3">
                <label for="index" class="form-label">Почтовый индекс</label>
                <input type="text" class="form-control" id="index" maxlength="20" name="index" required>
            </div>
            <div class="form-group mb-3">
                <label for="address" class="form-label">Адрес</label>
                <textarea class="form-control" id="address" name="address" required placeholder="субъект РФ, населенный пункт, улица/другое,  дом/другое, корпус/другое, квартира/другое"></textarea>
            </div>
            <button class="btn btn-primary"  id="generate-application" name="generate-application">Сгенерировать заявление</button>
            <div class="btn btn-outline-primary" id="switch-download">Загрузить подписанное заявление</div>
        </form>
        
        <form action="{% url 'application_docs' %}" method="post" enctype="multipart/form-data" name="upload-application" id="upload-application" {% if form == "generate_application"%}style="display: none;"{% endif %}>
            <h2>Загрузка подписанного заявления</h2>
            <div class="alert alert-success" id="success-alert"  class="alert alert-success alert-dismissible fade show" style="width: 100%; display: none;" role="alert">
                Заявление сгенерировано. Теперь загрузите подписанный скан.
            </div>
            {% if message == "success_upload" %}
                <div class="alert alert-success" id="success-upload-alert"  class="alert alert-success alert-dismissible fade show" style="width: 100%;" role="alert">
                    Заявление загружено успешно!
                </div>
            {% endif %}
            {% if message == "404" %}
            <div class="alert alert-danger" role="alert">
                Не нашли заявления с такими паспортными данными (перед отправкой скана сгенерируйте заявление)
            </div>
            {% endif %}
            <div class="form-group mb-3">
                <label for="passport_series" id="shadow-field-passport" class="form-label">Серия и номер паспорта</label>
                <input type="text" class="form-control" id="passport_series" maxlength="20" name="passport_series" required>
            </div>
            {{ file_input }}
            
            <button class="btn btn-primary" name="upload-application">Загрузить подписанное заявление</button>
            <div class="btn btn-outline-primary" id="switch-generate">Сгенерировать заявление</div>
        </form>
    </div>
{% endblock %}
