{% extends "layout.html" %}
{% load static %}
{% load ed_centers_extras %}

{% block title %}Мониторинг заявок{% endblock %}
{% block style %}
        <link href="{% static 'education_centers/css/applications.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'education_centers/js/applications.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}
    <div class="page-hdr">
        <h1>Мониторинг заявок на ПКО</h1>
        <div class="project-choice">
            <a data-project="bilet" href="{% url 'applications' %}?p=bilet" class="project-btn btn {%if project == 'bilet' %}btn-primary{%else%}btn-outline-primary{%endif%}">Билет в будущее</a>
            <a data-project="zan" href="{% url 'applications' %}?p=zan" class="project-btn btn {%if project != 'bilet' %}btn-primary{%else%}btn-outline-primary{%endif%}">Содействие занятости</a>
        </div>
        <h3 {% if project == 'bilet' %}data-project="bilet"{% else%}data-project="zan"{% endif %}> 
            <b>Проект:</b> 
            {% if project == 'bilet' %}
                Билет в будущее
            {% else %}
                Содействие занятости
            {% endif %}
        </h3>
    </div>
    <div class="centers-list">
        <h2>Список участников ПКО</h2>
        <div class="filter">
            <form action="{% url 'applications' %}" method="post">
                {% if project == 'bilet'%}<input type="input" style="display: none;" class="form-control" name="bilet" value="bilet" required>{%endif%}
                <div class="form-floating mb-3 filter-selectpicker">
                    <select class="selectpicker" data-width="100%" data-live-search="true" title="Статусы" name="stages" multiple>
                        {% for stage in stages %}
                            {% if stage.0 in chosen_stages %}
                                <option selected value="{{stage.0}}">{{stage.1}}</option>
                            {% else %}
                                <option value="{{stage.0}}">{{stage.1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    
                </div>
                <button type="submit" class="btn btn-outline-primary" name="filter-events">Фильтровать</button>
            </form>
            {% if user.is_superuser %}
            <div class="action-panel">
                <div class="form-floating mb-3 filter-selectpicker">
                    <select class="selectpicker" data-width="100%" data-live-search="true" title="Сменить статус" id="stage-select">
                        {% for stage in stages %}
                        <option value="{{stage.0}}">{{stage.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="change-status-btn">Изменить</button>
                <div class="row-count">Выбрано <span class="selected-row-count">0</span> из {{centers_project_year.centers_count}}</div>
            </div>
            {% endif %}
        </div>
        <table class="table">
            <tr style="background-color: white;" class="sticky-top">
                {% if user.is_superuser %}
                    <th scope="col" id="CheckAll">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                        </div>
                    </th>
                {% else %}
                    <th scope="col">№</th>
                {% endif %}
                <th scope="col">ЦО</th>
                <th scope="col">Статус</th>
                {% if project == 'bilet' %}
                    <th scope="col">Ссылка на упр. квотой</th>
                {% endif %}
            </tr>
            {%for center in centers_project_year %}
                <tr class="center-row">
                    {% if user.is_superuser %}
                        <td scope="row" class="check-td">
                            <div class="form-check">
                                <input class="form-check-input center-checkbox" type="checkbox" value="{{center.id}}">
                            </div>
                        </td>
                    {% else %}
                        <td scope="row">{{ forloop.counter }}</td>
                    {% endif %}
                    <td scope="row">
                        {% if user.is_superuser %}
                        <a href="{% url 'ed_center_application' center.ed_center.id %}?p={{project}}" target="_blank">
                            {{ center.ed_center.short_name }}
                            {% if center.ed_center.short_name == "" %}{{center.ed_center.name}}{% endif %}
                        </a> 
                       {% else %}
                            {{ center.ed_center.short_name }}
                            {% if center.ed_center.short_name == "" %}{{center.ed_center.name}}{% endif %}
                       {% endif %}
                    </td>
                    <td scope="row">{{ center.get_stage_display }}</td>
                    {% if project == 'bilet' %}
                    <td scope="row">
                        <a href="{% url 'ticket_center_events' center.ed_center.id %}" target="_blank">
                            Ссылка
                        </a>  
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}