{% extends "layout.html" %}
{% load static %}
{% load ed_centers_extras %}

{% block title %}Личный кабинет ЦО{% endblock %}
{% block style %}
        <link href="{% static 'education_centers/css/ed_center_groups.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'education_centers/js/ed_center_groups.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}
    <div class="edcenter-profile">
        <div class="edcenter-name">
            <h1>{{ed_center}}</h1>
        </div>
        <div class="edcenter-bank-details">
            <h2 class="director-h2">Руководитель</h2>
            <div class="director">
                <p><b>ФИО:</b> {{ed_center.head.get_name}}</p>
                <p><b>ФИО (род. падеж):</b> {{ ed_center.head|get_name_r }}</p>
                <p><b>Должность:</b> {{ed_center.head.position}}</p>
                <p><b>Должность (род. падеж):</b> {{ed_center.head.position_r}}</p>
            </div>
            <h2 class="bank-h2">Платёжная информация</h2>
            <div class="inn">
                <p><b>ИНН/КПП:</b> {{ed_center.bank_details.inn}}/{{ed_center.bank_details.kpp}}</p>
                <p><b>ОКТМО:</b> {{ed_center.bank_details.oktmo}}</p>
                <p><b>ОГРН:</b> {{ed_center.bank_details.ogrn}}</p>
                <p><b>ОКПО/ОКВЭД:</b> {{ed_center.bank_details.okpo}}/{{ed_center.bank_details.okved}}</p>
            </div>
            <div class="bank">
                <p><b>{{ed_center.bank_details.bank}}</b></p>
                <p><b>БИК:</b> {{ed_center.bank_details.biс}}</p>
                <p><b>р/с:</b> {{ed_center.bank_details.account_number}}</p>
                <p><b>К/сч:</b> {{ed_center.bank_details.corr_account}}</p>
            </div>
            <div class="contacts">
                <p><b>Главный бухгалтер:</b> {{ed_center.bank_details.accountant}}</p>
                <p><b>Телефон(-ы):</b> {{ed_center.bank_details.phone}}</p>
                <p><b>Email:</b> {{ed_center.bank_details.email}}</p>
            </div>
            <div class="address">
                <p><b>Юридический адрес:</b> {{ed_center.bank_details.legal_address}}</p>
                <p><b>Почтовый адрес:</b> {{ed_center.bank_details.mail_address}}</p>
            </div>
        </div>
        <div class="edcenter-director">
            
        </div>
    </div>
    <div class="modal fade AddAssModal" id="AddAssModal" tabindex="-1" aria-labelledby="AddAssModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddAssModalLabel">Добавить задание</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'ed_center_groups' ed_center.id %}" method="post">
                    <div class="modal-body">
                        <div class="form mb-3">
                            <select class="selectpicker w-100" title="Выберите группы" multiple data-live-search="true" name="groups" required>
                                {% for group in free_groups %}
                                    <option value="{{group.id}}">№{{group.name}} - {{group.education_program}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <input type="submit" class="btn btn-primary" name="create_assignment" value="Сформировать задание">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="documents">
        <div class="doc-table">
            <div class="doc-table-hdr">
                <h2>Документы по группам</h2>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddAssModal">Создать задание</button>
            </div>
            <table class="table">
                <tr class="sticky-top"> 
                    <th scope="col" style="max-width: 250px;">Задание на оказание услуг</th>
                    <th scope="col">Учебные группы</th>
                    <th scope="col" style="max-width: 250px;">Список лиц, завершивших обучение</th>
                    <th scope="col" style="max-width: 250px;">Акт выполненных работ</th>
                    <th scope="col" style="max-width: 250px;">Счет на оплату</th>
                </tr>
                {% for contract in contracts %}
                    {% for assigment in contract.children_docs.all %}
                        {% for act in assigment.children_docs.all %}
                            {% for group in act.groups.all %}
                                {% if forloop.parentloop.parentloop.counter|divisibleby:2 %}
                                    <tr>
                                {% else %}
                                    <tr class="colored-row">
                                {% endif %}
                                    {% if forloop.first and forloop.parentloop.first %}
                                        <td scope="row" rowspan="{{ assigment.groups.all|length }}">
                                            <p><a href="{{ assigment.doc_file.url }}">Задание №{{ assigment.register_number }} от {{ assigment.creation_date|date:"d.m.y" }}</a></p>
                                            <p><b>Статус:</b> {{ assigment.get_doc_stage_display }}</p>
                                        </td>
                                    {% endif %}
                                    <td scope="row" style="max-width: 300px;">
                                        <p><b>Группа №{{ group.name }}</b> ({{ group.start_date|date:"d.m" }}-{{ group.end_date|date:"d.m" }}) - {{ group.education_program }}</p>
                                        <p><b>Статус группы:</b> {{ group.get_group_status_display }}</p>
                                    </td>
                                    <div class="modal fade ListModal" id="ListModal{{group.id}}" tabindex="-1" aria-labelledby="TestModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="TestLabel">Список лиц, заверш. обучение (Группа №{{group.name}})</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form action="{% url 'ed_center_groups' ed_center.id %}" method="post">
                                                    <div class="modal-body">
                                                        <input style="display:none;" type="input" class="form-control" name="group_id"  value={{group.id}} required>
                                                        <input style="display:none;" type="input" class="form-control" name="act_id"  value={{act.id}} required>
                                                        {% for student in group.students.all %}
                                                            <div class="mb-3">
                                                                <label for="student_doc{{student.id}}">{{student.applicant}}</label>
                                                                <input type="input" class="form-control" name="student_doc{{student.id}}" placeholder="Документ о квалификации" required>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="d-grid gap-2">
                                                            <input type="submit" class="btn btn-primary" name="create_students_list" value="Сформировать список">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <td scope="row">
                                        {% if group|get_list == None %}
                                            <p data-bs-toggle="modal" data-bs-target="#ListModal{{group.id}}">Cформировать список</p>
                                        {% else %} 
                                            {% with group|get_list as students_list %}
                                                <p><a href="{{ students_list.doc_file.url }}">Список лиц, завершивших обучение</a></p>
                                            {% endwith %}
                                            <p><b>Статус:</b> {{ act.get_doc_stage_display }}</p>
                                        {% endif %}
                                    </td>
                                    {% if forloop.first %}
                                        <td scope="row" rowspan="{{ act.groups.all|length }}">
                                            <p><a href="{{act.doc_file.url}}">Акт №{{ act.register_number }} от {{ act.creation_date|date:"d.m.y" }}</a></p>
                                            <p><b>Статус:</b> {{ act.get_doc_stage_display }}</p>
                                        </td>
                                        <td scope="row" rowspan="{{ act.groups.all|length }}">
                                            {% if act|get_bill != None %}
                                                {% with act|get_bill as bill %}
                                                    <p><a href="{{ bill.doc_file.url }}" target="_blank">Счёт на оплату</a></p>
                                                {% endwith %}
                                            {% endif %}
                                            <p><b>Статус:</b> {{ act.get_doc_stage_display }}</p>
                                            <form action="{% url 'ed_center_groups' ed_center.id %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form mb-3">
                                                    <input style="display:none;" type="input" class="form-control" name="act_id"  value={{act.id}} required>
                                                </div>
                                                <p>{{ form.non_field_errors }}</p>
                                                <p>{{ form.import_file.label_tag }} {{ form.import_file.help_text }}</p>
                                                <p>
                                                    {{ form.import_file.errors }}
                                                    {{ form.import_file }}
                                                </p>
                                                <input style="width: 250px;" type="submit" class="btn btn-primary" name="create_bill" value="Загрузить счёт">
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        {% for group in assigment.groups.all|get_groups_wo_act %}
                            {% if group|is_group_wo_act %}
                                {% if forloop.parentloop.counter|divisibleby:2 %}
                                    <tr>
                                {% else %}
                                    <tr class="colored-row">
                                {% endif %}
                                    {% if forloop.first and assigment.children_docs.all.count == 0 %}
                                        <td scope="row" rowspan="{{ assigment.groups.all|length }}">
                                            <p><a href="{{ assigment.doc_file.url }}">Задание №{{ assigment.register_number }} от {{ assigment.creation_date|date:"d.m.y" }}</a></p>
                                            <p><b>Статус:</b> {{ assigment.get_doc_stage_display }}</p>
                                        </td>
                                    {% endif %}
                                    <td scope="row" style="max-width: 300px;">
                                        <p><b>Группа №{{ group.name }}</b> ({{ group.start_date|date:"d.m" }}-{{ group.end_date|date:"d.m" }}) - {{ group.education_program }}</p>
                                        <p><b>Статус группы:</b> {{ group.get_group_status_display }}</p>
                                    </td>
                                    <td scope="row">Список отсутствует</td>
                                    {% if forloop.first %}
                                        <td scope="row" rowspan="{{ assigment.groups.all|get_groups_wo_act|length }}">
                                            <form action="{% url 'ed_center_groups' ed_center.id %}" method="post">
                                                <div class="form mb-3">
                                                    <input style="display: none;" type="number" name="doc_parent" value={{assigment.id}}>
                                                    <select class="selectpicker" title="Группы" data-live-search="true" name="groups" multiple required>
                                                        {% for group in assigment.groups.all|get_groups_wo_act %}
                                                            <option value="{{group.id}}">№{{group}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <input type="submit" class="btn btn-primary" name="create_act" value="Сформировать акт">
                                            </form>
                                        </td>
                                        <td scope="row" rowspan="{{ assigment.groups.all|get_groups_wo_act|length }}">Загрузить счёт</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>    
        </div>
    </div>
{% endblock %}
<!--<div class="test-forms">
                <form action="{% url 'ed_center_groups' ed_center.id %}" method="POST">
                    <input class="btn btn-primary" type="submit" name="create_contract" value="Договор">
                </form>
                <div>
                    
                </div>
                <div>
                    
                </div>
                <div>
                    <form action="{% url 'ed_center_groups' ed_center.id %}" method="post">
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите акт" data-live-search="true" name="act" required>
                                {% for act in acts %}
                                    <option value="{{act.id}}">{{act}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary" name="create_students_list" value="Список">
                    </form>
                </div>
            </div>-->