{% extends "layout.html" %}
{% load static %}
{% load ed_centers_extras %}

{% block title %}Личный кабинет ЦО{% endblock %}
{% block style %}
        <link href="{% static 'education_centers/css/ed_center_groups.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
{% endblock %}

{% block body %}
    <div class="edcenter-profile">
        <div class="edcenter-name">
            <h1>{{ed_center}}</h1>
        </div>
        <div class="edcenter-bank-details">
            <h2 class="director-h2">Руководитель</h2>
            <div class="director">
                <p><b>ФИО:</b> {{ed_center.head.get_name}}</p>
                <p><b>ФИО (род. падеж):</b> {{ ed_center.head|get_name_r }}</p>
                <p><b>Должность:</b> {{ed_center.head.position}}</p>
                <p><b>Должность (род. падеж):</b> {{ed_center.head.position_r}}</p>
            </div>
            <h2 class="bank-h2">Платёжная информация</h2>
            <div class="inn">
                <p><b>ИНН/КПП:</b> {{ed_center.bank_details.inn}}/{{ed_center.bank_details.kpp}}</p>
                <p><b>ОКТМО:</b> {{ed_center.bank_details.oktmo}}</p>
                <p><b>ОГРН:</b> {{ed_center.bank_details.ogrn}}</p>
                <p><b>ОКПО/ОКВЭД:</b> {{ed_center.bank_details.okpo}}/{{ed_center.bank_details.okved}}</p>
            </div>
            <div class="bank">
                <p><b>{{ed_center.bank_details.bank}}</b></p>
                <p><b>БИК:</b> {{ed_center.bank_details.biс}}</p>
                <p><b>р/с:</b> {{ed_center.bank_details.account_number}}</p>
                <p><b>К/сч:</b> {{ed_center.bank_details.corr_account}}</p>
            </div>
            <div class="contacts">
                <p><b>Главный бухгалтер:</b> {{ed_center.bank_details.accountant}}</p>
                <p><b>Телефон(-ы):</b> {{ed_center.bank_details.phone}}</p>
                <p><b>Email:</b> {{ed_center.bank_details.email}}</p>
            </div>
            <div class="address">
                <p><b>Юридический адрес:</b> {{ed_center.bank_details.legal_address}}</p>
                <p><b>Почтовый адрес:</b> {{ed_center.bank_details.mail_address}}</p>
            </div>
        </div>
        <div class="edcenter-director">
            
        </div>
    </div>
    <div class="documents">
        <div class="doc-table">
            <h2>Документы по группам</h2>
            <table class="table">
                <tr class="sticky-top"> 
                    <th scope="col" style="max-width: 250px;">Задание на оказание услуг</th>
                    <th scope="col">Учебные группы</th>
                    <th scope="col" style="max-width: 250px;">Список лиц, завершивших обучение</th>
                    <th scope="col" style="max-width: 250px;">Акт выполненных работ</th>
                    <th scope="col" style="max-width: 250px;">Счет на оплату</th>
                </tr>
                {% for contract in contracts %}
                    {% for assigment in contract.children_docs.all %}
                        {% for act in assigment.children_docs.all %}
                            {% for group in act.groups.all %}
                                {% if forloop.parentloop.parentloop.counter|divisibleby:2 %}
                                    <tr>
                                {% else %}
                                    <tr class="colored-row">
                                {% endif %}
                                    {% if forloop.first and forloop.parentloop.first %}
                                        <td scope="row" rowspan="{{ assigment.groups.all|length }}">Задание №{{ assigment.register_number }} от {{ assigment.creation_date|date:"d.m.y" }}</td>
                                    {% endif %}
                                    <td scope="row" style="max-width: 300px;">
                                        <p><b>Группа №{{ group.name }}</b> ({{ group.start_date|date:"d.m" }}-{{ group.end_date|date:"d.m" }}) - {{ group.education_program }}</p>
                                    </td>
                                    <td scope="row">Cформировать список</td>
                                    {% if forloop.first %}
                                        <td scope="row" rowspan="{{ act.groups.all|length }}">Акт №{{ act.register_number }} от {{ act.creation_date|date:"d.m.y" }}</td>
                                        <td scope="row" rowspan="{{ act.groups.all|length }}">Загрузить счёт</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        {% if assigment.children_docs.all.count == 0 %}
                            {% for group in assigment.groups.all %}
                                {% if forloop.parentloop.counter|divisibleby:2 %}
                                    <tr>
                                {% else %}
                                    <tr class="colored-row">
                                {% endif %}
                                    {% if forloop.first %}
                                        <td scope="row" rowspan="{{ assigment.groups.all|length }}">Задание №{{ assigment.register_number }} от {{ assigment.creation_date|date:"d.m.y" }}</td>
                                    {% endif %}
                                    <td scope="row" style="max-width: 300px;">
                                        <p><b>Группа №{{ group.name }}</b> ({{ group.start_date|date:"d.m" }}-{{ group.end_date|date:"d.m" }}) - {{ group.education_program }}</p>
                                    </td>
                                    <td scope="row">Cформировать список</td>
                                    {% if forloop.first %}
                                        <td scope="row" rowspan="{{ assigment.groups.all|length }}">Сформировать акт</td>
                                        <td scope="row" rowspan="{{ assigment.groups.all|length }}">Загрузить счёт</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>    
        </div>
    </div>
{% endblock %}
<!--<div class="test-forms">
                <form action="{% url 'ed_center_groups' ed_center.id %}" method="POST">
                    <input class="btn btn-primary" type="submit" name="create_contract" value="Договор">
                </form>
                <div>
                    <form action="{% url 'ed_center_groups' ed_center.id %}" method="post">
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите группы" multiple data-live-search="true" name="groups" required>
                                {% for group in groups %}
                                    <option value="{{group.id}}">{{group.id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary" name="create_assignment" value="Задание">
                    </form>
                </div>
                <div>
                    <form action="{% url 'ed_center_groups' ed_center.id %}" method="post">
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите задание" data-live-search="true" name="assignment" required>
                                {% for assigment in assigments %}
                                    <option value="{{assigment.id}}">{{assigment}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary" name="create_act" value="Акт">
                    </form>
                </div>
                <div>
                    <form action="{% url 'ed_center_groups' ed_center.id %}" method="post">
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите акт" data-live-search="true" name="act" required>
                                {% for act in acts %}
                                    <option value="{{act.id}}">{{act}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary" name="create_students_list" value="Список">
                    </form>
                </div>
            </div>-->