{% extends "layout.html" %}
{% load static %}
{% load ed_centers_extras %}

{% block title %}Документооборот{% endblock %}
{% block style %}
        <link href="{% static 'education_centers/css/fed-empl.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'education_centers/js/fed-empl.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}
    <div class="documents">
        <div class="doc-filter">
            <h2>Фильтр</h2>
            <form action="{% url 'documents_fed' %}" method="post">
                <div class="w-75">
                    <div style="z-index: 15000; max-width: 450px" class="w-50">
                        <select class="selectpicker w-100" title="Выберите ЦО" multiple data-actions-box="true" data-live-search="true" name="ed_centers">
                            {% for ed_center in ed_centers %}
                                <option
                                {% if doc_filter != None %} 
                                    {% if ed_center in doc_filter|get_item:"ed_centers" %}
                                        selected
                                    {% endif %}
                                {% endif %}
                                 value="{{ed_center.id}}">{{ed_center}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="z-index: 15000; max-width: 450px" class="w-50">
                        <select class="selectpicker w-100" title="Выберите программу" multiple data-actions-box="true" data-live-search="true" name="programs">
                            {% for program in programs %}
                                <option value="{{program.id}}"
                                {% if doc_filter != None %} 
                                    {% if program in doc_filter|get_item:"programs" %}
                                        selected
                                    {% endif %}
                                {% endif %}
                                >{{program}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="w-75">
                    <div style="max-width: 450px" class="form-floating start-date-filter w-50">
                        <input type="date" class="form-control" name="start_date"
                        {% if doc_filter != None %} value="{{doc_filter|get_item:'start_date'}}" {% endif %}
                         placeholder="Дата начала" aria-label="Дата">
                        <label for="start_date" class="form-label">Дата начало</label>
                    </div>
                    <div style="max-width: 450px" class="form-floating end-date-filter w-50">
                        <input type="date" class="form-control" name="end_date"
                        {% if doc_filter != None %} value="{{doc_filter|get_item:'end_date'}}" {% endif %}
                         placeholder="Дата окончания" aria-label="Дата">
                        <label for="end_date" class="form-label">Дата окончания</label>
                    </div>
                </div>
                <button class="btn btn-primary w-50" type="submit">Фильтр</button>
            </form>
        </div>
        <div class="doc-table">
            <table class="table">
                <tr class="sticky-top"> 
                    <th scope="col" style="max-width: 250px;">Задание на оказание услуг</th>
                    <th scope="col" style="max-width: 300px;">ЦО</th>
                    <th scope="col">Учебные группы</th>
                    <th scope="col" style="max-width: 250px;">Список лиц, завершивших обучение</th>
                    <th scope="col" style="max-width: 250px;">Акт выполненных работ</th>
                    <th scope="col" style="max-width: 200px;">Счет на оплату</th>
                </tr>
                {% for ed_center in ed_centers|filter_centers:doc_filter %}
                    {% for contract in ed_center.ed_center_documents|get_contracts %}
                        {% for assigment in contract.children_docs.all %}
                            {% for act in assigment.children_docs.all %}
                                {% with act.groups.all|filter_groups:doc_filter as groups %}
                                {% for group in groups %}
                                    {% if forloop.parentloop.parentloop.counter|divisibleby:2 %}
                                        <tr>
                                    {% else %}
                                        <tr class="colored-row">
                                    {% endif %}
                                        {% if forloop.first and forloop.parentloop.first %}
                                            <td scope="row" rowspan="{{ assigment.groups|filter_groups:doc_filter|length }}">
                                                <p><a href="{{ assigment.doc_file.url }}">Задание №{{ assigment.register_number }} от {{ assigment.creation_date|date:"d.m.y" }}</a></p>
                                                <p><b>Статус:</b> {{ assigment.get_doc_stage_display }}</p>
                                            </td>
                                            <td scope="row" style="max-width: 300px;" rowspan="{{ assigment.groups|filter_groups:doc_filter|length }}">{{ ed_center }}</td>
                                        {% endif %}
                                        <td scope="row" style="max-width: 300px;">
                                            <p><b data-bs-toggle="modal" data-bs-target="#GroupModal{{group.id}}">Группа №{{ group.name }}</b> ({{ group.start_date|date:"d.m" }}-{{ group.end_date|date:"d.m" }}) - {{ group.education_program }}</p>
                                            <p><b>Статус группы:</b> {{ group.get_group_status_display }}</p>
                                        </td>
                                        <td scope="row">
                                            {% if group|get_list == None %}
                                                <p>Cписок отсутствует</p>
                                            {% else %} 
                                                {% with group|get_list as students_list %}
                                                    <p><a href="{{ students_list.doc_file.url }}">Список лиц, завершивших обучение</a></p>
                                                {% endwith %}
                                                <p><b>Статус:</b> {{ act.get_doc_stage_display }}</p>
                                            {% endif %}
                                        </td>
                                        {% if forloop.first %}
                                            <td scope="row" rowspan="{{ groups|length }}">
                                                <p><a href="{{act.doc_file.url}}">Акт №{{ act.register_number }} от {{ act.creation_date|date:"d.m.y" }} ({{act.doc_type}})</a></p>
                                                <p><b>Статус:</b> {{ act.get_doc_stage_display }}</p>
                                            </td>
                                            <td scope="row" rowspan="{{ groups|length }}">
                                                {% if act|get_bill != None %}
                                                    {% with act|get_bill as bill %}
                                                        <p><a href="{{ bill.doc_file.url }}" target="_blank">Счёт на оплату</a></p>
                                                        <p><b>Статус:</b> {{ act.get_doc_stage_display }}</p>
                                                    {% endwith %}                                                 
                                                {% else %}
                                                    <p>Счёт отсутствует</p>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% endwith %}
                            {% endfor %}
                            {% with assigment.groups.all|filter_groups:doc_filter as groups %}
                            {% for group in groups|get_groups_wo_act %}
                                {% if group|is_group_wo_act %}
                                    {% if forloop.parentloop.counter|divisibleby:2 %}
                                        <tr>
                                    {% else %}
                                        <tr class="colored-row">
                                    {% endif %}
                                        {% if forloop.first and assigment.children_docs.all.count == 0 %}
                                            <td scope="row" rowspan="{{ groups|length }}">
                                                <p><a href="{{ assigment.doc_file.url }}">Задание №{{ assigment.register_number }} от {{ assigment.creation_date|date:"d.m.y" }}</a></p>
                                                <p><b>Статус:</b> {{ assigment.get_doc_stage_display }}</p>
                                            </td>
                                            <td scope="row" rowspan="{{ groups|length }}">{{ ed_center }}</td>
                                        {% endif %}
                                        <td scope="row" style="max-width: 300px;">
                                            <p><b data-bs-toggle="modal" data-bs-target="#GroupModal{{group.id}}">Группа №{{ group.name }}</b> ({{ group.start_date|date:"d.m" }}-{{ group.end_date|date:"d.m" }}) - {{ group.education_program }}</p>
                                            <p><b>Статус группы:</b> {{ group.get_group_status_display }}</p>
                                        </td>
                                        <td scope="row">Список отсутствует</td>
                                        {% if forloop.first %}
                                            <td scope="row" rowspan="{{ groups|get_groups_wo_act|length }}">
                                                {% if assigment.doc_stage == 'SGNDAP' %}
                                                    <p data-bs-toggle="modal" data-bs-target="#ActModal{{assigment.id}}">Сформировать акт</p>
                                                {% else %}
                                                    <p>Акт отсутствует</p>
                                                {% endif %}
                                            </td>
                                            <td scope="row" rowspan="{{ groups|get_groups_wo_act|length }}"><p>Счёт отсутствует</p></td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}