{% extends "region163_dashboard/layout.html" %}
{% load static %}

{% block title %}Статистика по ЦО{% endblock %}
{% block style %}
        <link href="{% static 'region163_dashboard/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
{% endblock %}

{% block body %}
    <div class="filter">
        <div class="container">
            <div class="text-center">
                <h1>Федеральный проект «Содействие занятости»‎</h1>
            </div>
            <h5>Фильтр</h5>
            <div class="row g-2">
                <div class="col-md">
                    <select class="selectpicker filter-select filter-type" id='filter-type' multiple data-actions-box="true" data-width="95%" data-live-search="true" name="group_type" id="group_type">
                        <option value="off" class="option-type">Оффлайн</option>
                        <option value="on" class="option-type">Онлайн</option>
                    </select>
                    <select class="selectpicker filter-select filter-city" multiple data-actions-box="true" data-width="95%" data-live-search="true" name="city" id="city">
                        {% for city in cities %}
                            <option value="{{city}}" class="option-city">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md">
                    <select class="selectpicker filter-select filter-ed" multiple data-actions-box="true" data-width="95%" data-live-search="true" name="ed_center" id="ed_center">
                        {% for ed_center in ed_centers %}
                            <option value="{{ed_center}}" class="option-ed">{{ed_center}}</option>
                        {% endfor %}
                    </select>
                    <select class="selectpicker filter-select filter-competence" multiple data-actions-box="true" data-width="95%" data-live-search="true" name="competence" id="competence">
                        {% for competence in competencies %}
                            <option value="{{competence}}" class="option-competence">{{competence}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container group_list">
        <div class="text-center">
            <h2>Список ближайщих групп‎</h2>
        </div>
        <div class="row row-cols-2 g-3">
            {% for group in group_list.0 %}
            <div class="col" data-type="{{group.is_online}}" data-education_center="{{group.education_center}}" data-education_center="{{group.education_center}}" data-city="{{group.city}}" data-competence="{{group.competence}}">
                <div class="card h-100">
                    <h5 class="card-header">
                        Группа №{{group.id}}   {{group.competence}}
                    </h5>
                    <div class="card-body">
                      <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6 class="card-title">{{group.education_center}}</h6>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text ed_program">
                                    <b>
                                        Программа подготовки:
                                    </b> 
                                    {%if group.program.program_link != None%}
                                        <a href={{group.program.program_link}} target="_blank">
                                            {{group.program.program_name}}
                                        </a>
                                    {% else %}
                                        {{group.program.program_name}}
                                    {% endif %}
                                </p>
                                <p class="card-text ed_program"><b>Длительность подготовки:</b> {{group.program.duration}}ч.</p>
                                {%if group.study_period == 'MRNG'%}
                                    <p class="card-text ed_program"><b>Период проведения занятий:</b> 09:00-13:00</p>
                                {% endif %}
                                {%if group.study_period == 'DAYT'%}
                                    <p class="card-text ed_program"><b>Период проведения занятий:</b> 13:00-17:00</p>
                                {% endif %}
                                {%if group.study_period == 'EVNG'%}
                                    <p class="card-text ed_program"><b>Период проведения занятий:</b> 17:00-21:00</p>
                                {% endif %}
                                {%if group.study_days_count != None%}
                                    <p class="card-text"><b>Занятий в неделю:</b> {{group.study_days_count}}</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                <p class="card-text start-date"><b>Дата начала:</b> {{group.start_date}}</p>
                                {% if group.end_date != None %}
                                    <p class="card-text"><b>Дата окончания:</b> {{group.end_date}}</p>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-end border-dark">
                        {% if group.ed_schedule_link != None %}
                            <a href={{group.ed_schedule_link}} class="btn btn-dark" target="_blank">График обучения</a>
                        {% endif %}
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmzY-KjLvBOUEnCMQFx6P-wnFYmlCyvRi77LsosDPBCT941A/viewform" class="btn btn-primary" target="_blank">
                            Записаться на обучение
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'region163_dashboard/js/dashboard.js' %}"></script>
{% endblock %}
