{% extends "region163_dashboard/layout.html" %}
{% load static %}

{% block title %}Статистика по ЦО{% endblock %}
{% block style %}
    <link href="{% static 'region163_dashboard/css/ed_centers_empl.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}{% endblock %}

{% block body %}
    <!--{{ed_centers}}-->
    <table class="table table-striped">
        <tr>
            <th scope="col" class="comp">Компетенция</th>
            <th scope="col" class="stage">Новая заявка</th>
            <th scope="col" class="stage">Верификация</th>
            <th scope="col" class="stage">Допущен</th>
            <th scope="col" class="stage">Начал обучение</th>
            <th scope="col" class="stage">Завершил обучение</th>
            <th scope="col" class="stage">Отчислен</th>
            <th scope="col" class="stage">Резерв</th>
        </tr>
        {% for comp_key, comp_value in ed_centers.items %}
             {% if comp_value|get_item:'Empty' == False %}
                <tr class="table-dark"><td colspan="8" scope="row">{{comp_key}}</td></tr>
                {% for center_key, center_value in comp_value.items %}
                    <tr>
                        {% if center_value|get_item:'Empty' == False %}
                            <td scope="row" class="ed-center">{{center_key}}</td>
                            {% for stage_key, stage_value in center_value.items %}
                                {% if stage_key != 'Empty' %}
                                    <td class="stages" data-stage={{stage_key}}>
                                        {{stage_value}}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
