{% extends "region163_dashboard/layout.html" %}
{% load static %}

{% block title %}Статистика по ЦО{% endblock %}
{% block style %}
    <link href="{% static 'region163_dashboard/css/ed_centers_empl.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'region163_dashboard/js/ed_centers_empl.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="stat">
        <div class="container">
            <div class="text-center">
                <h1>Федеральный проект «Содействие занятости»‎</h1>
            </div>
            <div class="row justify-content-center main-stats">
                <div class="card text-center mb-3" style="max-width: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">Компетенций:</h5>
                        <h4 class="card-title">{{competencies_count}}</h4>
                    </div>
                </div>
                <div class="card text-center mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Программ подготовки:</h5>
                        <h4 class="card-title">{{education_programs_count}}</h4>
                    </div>
                </div>
                <div class="card text-center mb-3" style="max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Центров обучения:</h5>
                        <h4 class="card-title">{{education_centers_count}}</h4>
                    </div>
                </div>
                <div class="card text-center mb-3" style="max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Заявок:</h5>
                        <h4 class="card-title">{{appl_count}}</h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="card text-center mb-3" style="max-width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Допущено: {{stages_count.0}}</h5>
                    </div>
                </div>
                <div class="card text-center mb-3" style="max-width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">Учатся: {{stages_count.1}}</h5>
                    </div>
                </div>
                <div class="card text-center mb-3" style="max-width: 17rem;">
                    <div class="card-body">
                        <h5 class="card-title">Завершили обучение: {{stages_count.2}}</h5>
                    </div>
                </div>
                <div class="card text-center mb-3" style="max-width: 17rem;">
                    <div class="card-body">
                        <h5 class="card-title">Отклонено: {{stages_count.5}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stat-table">
        <div class="text-center">
            <h2>Заявки по этапам и компетенциям/программа подготовки‎</h2>
        </div>
        <div class="filter">
            <button type="button" class="btn btn-dark" id="program_switch">Программы подготовки</button>
            <button type="button" class="btn btn-dark" id="competence_switch">Компетенции</button>
            <button type="button" class="btn btn-dark" id="delays_btn">Задержки</button>
        </div>

        <table class="table table-striped">
            <tr class="sticky-top"> 
                <th scope="col" class='comp' id="view_name">Компетенция</th>
                <th scope="col" class="stage">Допущено</th>
                <th scope="col" class="stage delay-cell">Простой</th>
                <th scope="col" class="stage non-delay-stage">Учатся</th>
                <th scope="col" class="stage non-delay-stage">Завершили обучение</th>
                <th scope="col" class="stage non-delay-stage">Отчислено</th>
                <th scope="col" class="stage non-delay-stage">Резерв</th>
                <th scope="col" class="stage non-delay-stage">Отклонено</th>
            </tr>
            {% for comp_key, comp_value in stat.items %}
                {% if comp_value|get_item:'Empty' == False %}
                    <tr class="competence-row"><td colspan="7" scope="row">{{comp_key}}</td></tr>
                    {% for ed_key, ed_value in comp_value.items %}
                        {% if ed_value|get_item:'Empty' == False %}
                            <tr>
                                {% if ed_key != 'Empty'%}
                                    <td scope="row" class="ed-center competence-cell">{{ed_key}}</td>
                                    {% for stage_key, stage_value in ed_value.items %}
                                        {% if stage_key != 'Empty' %}
                                            <td class="stages competence-cell" data-stage={{stage_key}}>
                                                {{stage_value}}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for comp_key, comp_value in stat_programs.items %}
                {% if comp_value|get_item:'Empty' == False %}
                    <tr class="program-row"><td colspan="7" scope="row">{{comp_value|get_item:'program_type'}} {{comp_key}} ({{comp_value|get_item:'duration'}}ч.)</td></tr>
                    {% for ed_key, ed_value in comp_value.items %}
                        {% if ed_value|get_item:'Empty' == False %}
                            <tr>
                                {% if ed_key != 'Empty' %}
                                    <td scope="row" class="ed-center program-cell">{{ed_key}}</td>
                                    {% for stage_key, stage_value in ed_value.items %}
                                        {% if stage_key != 'Empty'  and stage_key != 'duration' and stage_key != 'program_type' %}
                                            <td class="stages program-cell" data-stage={{stage_key}}>
                                                {{stage_value}}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for delay in stat_delays %}
                <tr>
                    <td class="stages delay-cell">
                        {{delay.0}}
                    </td>
                    <td class="stages delay-cell">
                        {{delay.1}}
                    </td>
                    <td class="stages delay-cell">
                        {{delay.2}}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    
{% endblock %}
