{% extends "region163_dashboard/layout.html" %}
{% load static %}

{% block title %}Статистика по ЦО{% endblock %}
{% block style %}
        <link href="{% static 'region163_dashboard/css/group_suggestions.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}{% endblock %}

{% block body %}
    {% for match in matches %}
        <table class="table table-striped group">
            <thead class="table-dark">
                <th scope="col" id="group-id">Группа&nbsp№{{match.0.id}}</th>
                <th scope="col" colspan="2">ЦО:</b> {{match.0.education_center}}</th>
            </thead>
            <tbody>
                <tr><td scope="row" class="competence-cell" colspan="3"><b>Компетенция:</b> {{match.1}}</td></tr>
                <tr><td scope="row" class="competence-cell" colspan="3"><b>Программа:</b> {{match.0.program}}</td></tr>
                <tr>
                    <td scope="row" class="competence-cell" colspan="2"><b>Требуется&nbspстудентов:</b> {{match.0.min_group_size}}</td>
                    <td scope="row" class="competence-cell" colspan="1"><b>Заявок:</b> {{match.2}}</td>            
                </tr>
                <tr><td scope="row" class="competence-cell" colspan="4"><b>Дата начала:</b> {{match.0.start_date}}</td></tr>
            </tbody>
        </table>
        <table class="table table-striped suggestions">
            <thead class="table-dark">
                <th scope="col" colspan="1">№</th>
                <th scope="col" colspan="1">Объект</th>
                <th scope="col" colspan="1">Текущее состояние</th>
                <th scope="col" colspan="1">Действие</th>
                <th scope="col" colspan="1">Заявок</th>
            </thead>
            <tbody>
                {% for suggestions in match.3 %}
                    <tr>
                        <td scope="row" class="competence-cell" colspan="1">{{suggestions.0}}</td>
                        <td scope="row" class="competence-cell" colspan="1">{{suggestions.2}}</td>
                        <td scope="row" class="competence-cell" colspan="1">{{suggestions.3}}</td>
                        <td scope="row" class="competence-cell" colspan="1">
                            <a href={{suggestions.5}}>
                                {{suggestions.4}}
                            </a>
                        </td>
                        <td scope="row" class="competence-cell" colspan="1">{{suggestions.1}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}


    <!--<h2>Статистика по компетенциям и колледжам</h2>
    <div>
        {% for comp_key, comp_value in competencies_dict.items %}
            <b><div>{{comp_key}}: {{comp_value|get_item:'Count'}}</div></b>
            {% for key, value in  comp_value.items %}
                {% if key == 'Programs' %}
                    {% for ed_key, ed_value in  value.items %}
                        <div>{{ed_key}}: {{ed_value|get_item:'Count'}}</div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>-->
