h1
    font-size: 24px
h2
    color: #394959
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 24px
.body
    background-color: #F2F2F2
.edcenter-profile
    display: flex
    flex-direction: column
    align-content: center
    flex-wrap: wrap
    padding: 20px 20px 20px 25px
    .edcenter-name
        text-align: center
        width: 85%
    .edcenter-bank-details
        background-color: white
        border-radius: 12px
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078)
        padding: 25px 50px 25px 50px
        display: grid
        justify-content: space-around
        align-content: center
        grid-template-columns: auto auto auto auto
        column-gap: 15px
        row-gap: 15px
        .bank-h2
            grid-column: 1 / span 2
            grid-row: 1
            text-align: center
        .director-h2
            grid-column: 3
            grid-row: 1
            text-align: center
        .director
            grid-column: 3
            grid-row: 2 / span 2
        .inn
            grid-column: 2
            grid-row: 2
        .bank
            grid-column: 1
            grid-row: 2
        .contacts
            grid-column: 2
            grid-row: 3
        .address
            max-width: 350px
            grid-column: 1
            grid-row: 3
        p
            color: #394959
            font-weight: 400 !important
            font-size: 15px
            line-height: 20px
            margin-bottom: 7px
.documents
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 15px
    padding: 0px 20px 50px 25px
    margin: auto
    h2
        text-align: center
    .doc-table
        width: 85%
        background-color: white
        border-radius: 12px
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078)
        padding: 25px 50px 10px 50px
        table
            th
                color: #394959
                font-weight: 400 !important
                font-size: 16px
                line-height: 20px
                text-align: center
                border: 0
                border-bottom: 2px solid #394959
                background-color: white
            .colored-row
                background-color: #f2f2f28a
            tr
                td
                    color: #394959
                    font-weight: 300 !important
                    font-size: 14px
                    line-height: 20px
                    text-align: center
                    border: 1px solid #dee2e6
                    border-bottom: 0
                td:last-child
                    border-right: 0
                td:first-child
                    border-left: 0
            
