.edcenter-profile
    background-color: #e9ecf7
    padding: 50px 0
    display: flex
    justify-content: center
.groups
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 15px
    padding: 50px 0
    .group-card
        width: 400px
.test-forms
    display: flex
    justify-content: center
    gap: 25px
    
