body {
  background-color: rgba(242, 242, 242, 0.5411764706);
}
body h2 {
  font-size: 24px;
}
body h3 {
  font-size: 20px;
  padding-left: 10px;
  margin: 0;
}
body .data-bs-target {
  text-decoration: underline;
  cursor: pointer;
}
body .filter-selectpicker {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
body .filter-selectpicker .dropdown-toggle {
  height: 37px !important;
  background-color: white !important;
}
body .filter-selectpicker label {
  padding-top: 11px !important;
  opacity: 0.65;
  #transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.modal-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.page-hdr {
  text-align: center;
  margin-top: 15px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  margin-top: 25px;
  padding-bottom: 50px;
  width: 85%;
  margin: auto;
}
.steps .tabs-panel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.steps .tabs-panel .step-btn {
  width: 150px;
  font-size: 18px;
}
.steps .tabs-panel .btn-primary {
  font-weight: 500;
}
.steps .tabs-panel .btn-outline-primary {
  border: 0;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.steps .tabs-panel .btn-outline-primary:hover {
  background-color: #394959 !important;
  color: white !important;
}
.steps .step {
  width: 100%;
  display: none;
  border-radius: 12px;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 25px 50px 25px 50px;
}
.steps .step .comment-form {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.steps .step .comment-form .mb-3, .steps .step .comment-form .submit {
  width: 95% !important;
}
@media (max-width: 1370px) {
  .steps .step .comment-form .mb-3, .steps .step .comment-form .submit {
    width: 100% !important;
  }
}
.steps .step .w-90 {
  width: 1000px !important;
}
@media (max-width: 1370px) {
  .steps .step .w-90 {
    width: 100% !important;
  }
}
.steps .step .step-hdr {
  display: flex;
  justify-content: space-between;
}
.steps .step .step-hdr .check-img {
  width: 35px;
  margin-bottom: 4px;
}
.steps .step .step-hdr .collapse-btn {
  display: flex;
  background-color: rgba(57, 73, 89, 0.1019607843);
  width: 36px;
  height: 35px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}
.steps .step .step-hdr .collapse-btn img {
  width: 26px;
}
.steps .step .step-hdr .collapse-btn .rot {
  transform: rotate(180deg);
  margin-bottom: -2px;
}
.steps .step table th {
  color: #394959;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
  border-top: 0;
  border-bottom: 2px solid #394959;
}
.steps .step table td {
  color: #394959;
  font-weight: 300 !important;
  max-width: 250px;
  word-wrap: break-word;
}
.steps .step table .none-alert {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
.steps .step .free-indicator {
  margin-left: 15px;
  margin-top: 10px;
}
.steps .organization-step {
  display: block;
}
.steps .organization-step h3 {
  margin-bottom: 10px;
}
.steps .organization-step .dropdown-toggle {
  height: 57px !important;
}
.steps .organization-step .dropdown-toggle .filter-option-inner-inner {
  padding-top: 10px;
}
.steps .organization-step .bank-details, .steps .organization-step .about, .steps .organization-step .license-details {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.steps .organization-step .bank-details .form-check, .steps .organization-step .about .form-check, .steps .organization-step .license-details .form-check {
  margin-left: 5px;
}
.steps .organization-step .bank-details .mb-3, .steps .organization-step .about .mb-3, .steps .organization-step .license-details .mb-3 {
  width: 450px;
  margin-bottom: 0 !important;
}
@media (max-width: 1370px) {
  .steps .organization-step .bank-details .mb-3, .steps .organization-step .about .mb-3, .steps .organization-step .license-details .mb-3 {
    width: 100%;
  }
}
.steps .organization-step .license-details .mb-3 {
  width: 90%;
}
.steps .submit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.steps .submit input {
  width: 250px;
}
.steps .table-hdr {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  align-items: center;
}
.steps .table-hdr h2 {
  vertical-align: middle;
  margin: 0;
}
.steps .positions-step .table {
  margin-left: 10px;
}
.steps .positions-step .positions {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px 15px 15px 15px;
  gap: 25px;
}
.steps .positions-step .positions .position-form {
  background-color: rgba(242, 242, 242, 0.5411764706);
  border-radius: 12px;
}
.steps .positions-step .positions .position-form .card-body {
  min-height: 150px;
}
.steps .positions-step .positions .position-form .card-footer {
  display: flex;
  justify-content: flex-end;
}/*# sourceMappingURL=ed_center_application.css.map */