body
    background-color: #f2f2f28a
    h2 
        font-size: 24px
    h3
        font-size: 20px
        padding-left: 10px
        margin: 0
    .data-bs-target
        text-decoration: underline
        cursor: pointer
    .filter-selectpicker
        border: 1px solid #ced4da
        border-radius: 0.25rem
        .dropdown-toggle
            height: 37px !important
            background-color: white !important
        label
            padding-top: 11px !important
            opacity: .65
            #transform: scale(.85) translateY(-0.5rem) translateX(0.15rem)
.modal-footer
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
.page-hdr
    text-align: center
    margin-top: 15px
.steps
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 25px
    margin-top: 25px
    padding-bottom: 50px
    width: 85%
    margin: auto
    .tabs-panel
        width: 100%
        display: flex
        justify-content: flex-start
        gap: 12px
        .step-btn
            width: 150px
            font-size: 18px
        .btn-primary
            font-weight: 500
        .btn-outline-primary
            border: 0
            background-color: white
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078)
            &:hover
                background-color: #394959 !important
                color: white !important
    .step
        width: 100%
        display: none
        border-radius: 12px
        background-color: white
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078)
        padding: 25px 50px 25px 50px
        .step-hdr
            display: flex
            justify-content: space-between
            .check-img
                width: 35px
                margin-bottom: 4px
            .collapse-btn
                display: flex
                background-color: #3949591a
                width: 36px
                height: 35px
                border-radius: 30px
                align-items: center
                justify-content: center
                img
                    width: 26px
                .rot
                    transform: rotate(180deg)
                    margin-bottom: -2px
        table
            th
                color: #394959
                font-weight: 400 !important
                font-size: 16px
                line-height: 20px
                border-top: 0
                border-bottom: 2px solid #394959
            td
                color: #394959
                font-weight: 300 !important
                max-width: 250px
                word-wrap: break-word
            .none-alert
                text-align: center
                font-weight: 300
                font-size: 20px
        .free-indicator
            margin-left: 15px
            margin-top: 10px
    .organization-step
        display: block
        h3
            margin-bottom: 10px
        .dropdown-toggle
            height: 57px !important
            .filter-option-inner-inner
                padding-top: 10px
        .bank-details, .about, .license-details
            width: 95%
            margin: auto
            display: flex
            flex-wrap: wrap
            gap: 15px
            justify-content: flex-start
            margin-bottom: 15px
            .form-check
                margin-left: 5px
            .w-90
                width: 1000px !important
                @media (max-width: 1370px)
                    width: 100% !important
            .mb-3
                width: 450px
                margin-bottom: 0 !important
                @media (max-width: 1370px)
                    width: 100%
        .license-details .mb-3
                width: 90%
    .submit
        display: flex
        justify-content: flex-end
        margin-bottom: 15px
        input
            width: 250px
    .table-hdr
        display: flex
        justify-content: space-between
        margin-top: 15px
        margin-bottom: 10px
        align-items: center
        h2
            vertical-align: middle
            margin: 0
    .positions-step
        .table
            margin-left: 10px
        .positions
            display: flex
            justify-content: left
            flex-wrap: wrap
            align-items: flex-start
            padding: 15px 15px 15px 15px
            gap: 25px
            .position-form
                background-color: #f2f2f28a
                border-radius: 12px
                .card-body
                    min-height: 150px
                .card-footer
                    display: flex
                    justify-content: flex-end