@use 'styles'

.card
    padding-top: 0px
    border: 0px
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, .2)

.profile-section
    .card
        border: 1px solid black
    .card-body
        border: 1px
    .contact-info
        padding-top: 5px
        padding-bottom: 5px
        padding-left: 0px 
        border-left: 1px solid black
    .school-info
        padding-bottom: 5px
        padding-top: 5px
        padding-right: 0px 
    .card-footer, .card-header
        padding: 5px

.justify-content-center
    margin-top: 20px
    margin-bottom: 10px

.section
    padding-top: 50px
    padding-bottom: 50px
    width: 100%

.group-section
    background-color: hsl(216, 98%, 52%, 10%)
    .card-bundle
        margin-top: 0px
        margin-bottom: 15px 
        padding: 0px
        .card
            border: 2px solid
            padding: 0px
            margin-left: 10px 
            margin-right: 10px
            .card-body
                padding: 0px
            button
                margin: 0px
                border: 0
                border-radius: 0
        .border-success
            .list-group-item
                border-radius: 0
                border-color: #28a745
                border-bottom-color: #1b7730
                color: white
                background-color: #28a745
        .border-warning
            .list-group-item
                border-radius: 0
                border-color: #ffc107
                border-bottom-color: #c29204
                color: white
                background-color: #ffc107
        .list-group-item.last
            border-bottom: 0