.filter
    margin-bottom: 25px
    .filter-select
        margin: 5px
    .bootstrap-select
        border: 1px solid #ced4da
        border-radius: .25rem
    .dropdown-toggle
        background-color: #fff
    .filter-option
        color: #000
    .filter-submit
        padding: 5px
        padding-right: 2%
        a
            width: 200px

.card
    --bs-gutter-x: 0rem


.start-date, .ed_program
    margin-bottom: 0

.btn
    vertical-align: bottom

h2
    margin-bottom: 20px

