{% extends "layout.html" %}
{% load static %}

{% block title %}Контакты партнёров{% endblock %}
{% block style %}
    <link href="{% static 'users/css/contacts_list.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'users/js/contacts_list.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}
    <!--Modals--> 
    <div class="modal fade" id="AddContactModal" tabindex="-1" aria-labelledby="AddContactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="AddContactModalLabel">Добавление контакта</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'contacts_list' %}"  method="post">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="input" class="form-control" name="last_name" id="LastName" placeholder="Фамилия">
                    </div>
                    <div class="input-group mb-3">
                        <input type="input" class="form-control" name="first_name" id="Name" placeholder="Имя" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="input" class="form-control" name="middle_name" id="MiddleName" placeholder="Отчество">
                    </div>
                    <div class="input-group mb-3">
                        <input type="input" class="form-control" name="email" placeholder="Email" aria-label="Emails" aria-describedby="at">
                        <span class="input-group-text" id="at">@</span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="phone2numeric" class="form-control" name="phone" id="Phone" placeholder="Номера телефона" required>
                    </div>
                    <div class="form mb-3">
                        <select class="selectpicker" title="Выберите организацию" data-width="100%" data-live-search="true" name="organization" id="Organization" required>
                            {% for organization in organizations %}
                                <option class="organization" value="{{organization.id}}">{{organization}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input type="input" class="form-control" name="job_title" id="JobTitle" placeholder="Должность">
                    </div>
                    <div class="form mb-3">
                        <select class="selectpicker" title="Выберите проекты" multiple data-width="100%" data-live-search="true" name="project" id="Project" required>
                            {% for project in projects %}
                                <option class="project" value="{{project.id}}">{{project}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="commentary" class="form-label">Комментарий</label>
                        <textarea class="form-control" name='commentary' id="commentary" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark" name="add_contact">Добавить</button>
                    
                </div>
            </form>

        </div>
        </div>
    </div>
    <div class="modal fade" id="OrgModal" tabindex="-1" aria-labelledby="OrgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="OrgModalLabel">Добавление организации</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'add_organization' %}" method="post" name="add_organization">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="input" class="form-control" name="name" id="OrgName" placeholder="Название организации">
                        </div>
                        <div class="input-group mb-3">
                            <input type="input" class="form-control" name="organization_inn" id="OrganizationINN" placeholder="ИНН организации">
                        </div>
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите тип организации" data-width="100%" data-live-search="true" name="organization_type" id="OrganizationType" required>
                                <option class="organization_type" value="ECSPO">ЦО СПО</option>
                                <option class="organization_type" value="ECVO">ЦО ВО</option>
                                <option class="organization_type" value="ECP">ЦО частные</option>
                                <option class="organization_type" value="GOV">Гос. орган</option>
                                <option class="organization_type" value="OTH">Другие</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ImportContactsModal" tabindex="-1" aria-labelledby="ImportContactsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ImportContactsLabel">Импорт контактов</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form enctype="multipart/form-data" action="{% url 'contacts_list' %}" method="post">
                    <div class="modal-body">
                        <p><a href="https://docs.google.com/spreadsheets/d/1ZEa8TR7C_cwAyZNRU_6pYf8XcLwGSQf6agHYnDGF7tY/edit?usp=sharing" target="_blank">
                            Шаблон
                        </a></p>
                        <div class="mb-3 import-field">
                            {{ form }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="submit">
                            <input type="submit" value="Загрузить данные" class="btn btn-dark" name="import_contacts">   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ContactModal" tabindex="-1" aria-labelledby="ContactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ContactModalLabel">Контакт</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'contacts_list' %}"  method="post">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input style="display: none;" type="input" class="form-control ID_input" name="id" id="ID" placeholder="ID">
                        </div>
                        <div class="input-group mb-3">
                            <input type="input" class="form-control last_name_input" name="last_name" id="LastName" placeholder="Фамилия" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <input type="input" class="form-control first_name_input" name="first_name" id="Name" placeholder="Имя" required disabled>
                        </div>
                        <div class="input-group mb-3">
                            <input type="input" class="form-control middle_name_input" name="middle_name" id="MiddleName" placeholder="Отчество" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <input type="input" class="form-control email_input" name="email" placeholder="Email" aria-label="Email" aria-describedby="at" disabled>
                            <span class="input-group-text" id="at">@</span>
                        </div>
                        <div class="input-group mb-3">
                            <input type="phone2numeric" class="form-control phone_input" name="phone" id="Phone" placeholder="Номер телефона" required disabled>
                        </div>
                        <div class="form mb-3 organization_input">
                            <select class="selectpicker organization_input_selectpicker" title="Выберите организацию" data-width="100%" data-live-search="true" name="organization" id="Organization" required disabled>
                                {% for organization in organizations %}
                                    <option class="organization" value="{{organization.id}}">{{organization}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input type="input" class="form-control job_title_input" name="job_title" id="JobTitle" placeholder="Должность" disabled>
                        </div>
                        <div class="form mb-3 project_input">
                            <select class="selectpicker project_input_selectpicker" title="Выберите проекты" multiple data-width="100%" data-live-search="true" name="project" id="Project" required disabled>
                                {% for project in projects %}
                                    <option value="{{project.id}}">{{project}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="commentary" class="form-label">Комментарий</label>
                            <textarea class="form-control commentary_input" name='commentary' id="commentary" rows="3" disabled></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="change_contact_panel disappear">
                            <button type="submit" class="btn btn-outline-danger" name="delete_contact">Удалить</button>
                            <button type="submit" class="btn btn-dark" name="edit_contact">Сохранить</button>
                        </div>
                        <div class="btn btn-dark change_contact_btn">Изменить</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SendModal" tabindex="-1" aria-labelledby="SendModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SendModalLabel">Создание рассылки</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'contacts_list' %}"  method="post">
                    <div class="modal-body">
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите почту для отправки" data-width="100%" data-live-search="true" name="from_email" id="FormEmailSend" required>
                                {% for from_email in from_emails %}
                                    <option class="from_email" value="{{from_email}}">{{from_email}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input type="input" class="form-control" name="name" id="Name" placeholder="Имя отправителя" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="input" class="form-control" name="subject" id="Subject" placeholder="Тема письма" required>
                        </div>
                        <div class="mb-3">
                            <label for="commentary" class="form-label">Текст письма</label>
                            <textarea class="form-control" name='text' id="textMail" rows="3"></textarea>
                        </div>
                        <p><b>Настройки списка отправки</b></p>
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите тип организацию" multiple data-width="100%" data-live-search="true" name="organizationtype" id="OrganizationTypeMail">
                                <option class="organization-type" value="ECSPO">ЦО СПО</option>
                                <option class="organization-type" value="ECVO">ЦО ВО</option>
                                <option class="organization-type" value="ECP">ЦО частные</option>
                                <option class="organization-type" value="SCHL">СОУ</option>
                                <option class="organization-type" value="GOV">Гос. орган</option>
                                <option class="organization-type" value="OTH">Другие</option>
                            </select>
                        </div>
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите проекты" multiple data-width="100%" data-live-search="true" name="projects" id="ProjectSend">
                                {% for project in projects %}
                                    <option class="project" value="{{project}}">{{project}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3">
                            <select class="selectpicker" title="Выберите организации" multiple data-width="100%" data-live-search="true" name="organizations" id="OrganizationsSend">
                                {% for organization in organizations %}
                                    <option class="organization" value="{{organization}}">{{organization}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3 organization_input">
                            <select class="selectpicker" title="Выберите адреса для отправки" multiple data-width="100%" data-live-search="true" name="emails" id="EmailsSend">
                                {% for contact in contacts %}
                                    {% for email in contact.emails.all %}
                                        <option class="organization" value="{{email.email}}">{{contact}} ({{email.email}})</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark" name="send_emails">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="messages-board">
        {% if message == 'IndexError' %}
            <div class="alert alert-danger" role="alert">
                Проблема обработки файла!
            </div> 
        {% elif message == 'EmptySheet' %}
            <div class="alert alert-danger" role="alert">
                Таблица пуста!
            </div> 
        {% elif message == 'MissingFieldsError' %}
            <div class="alert alert-danger" role="alert">
                Часть полей отсутствует:
                <ul>
                    {% for field in data.2 %}
                        <li>{{field}}</li>
                    {% endfor %}
                </ul>
            </div> 
        {% elif message == 'AddContact' %}
            <div class="alert alert-success" role="alert">
                Пользователь '{{data.last_name}} {{data.first_name}} {{data.middle_name}}' добавлен успешно!
            </div>
        {% elif message == 'Delete Contact' %}
        <div class="alert alert-warning" role="alert">
            Контакт '{{data}}' успешно удалён!
        </div>
        {% elif message == 'Change Contact' %}
            <div class="alert alert-warning" role="alert">
                Контакт '{{data.last_name}} {{data.first_name}} {{data.middle_name}}' изменён!
            </div>
        {% elif message == "BisyError" %}
            <div class="alert alert-danger" role="alert">
                Все адресные книги заняты, попробуйте повторить рассылку позже!
            </div> 
        {% elif message == "SendMails" %}
            {% if data == 1 or data == 13 %}
                <div class="alert alert-success" role="alert"> 
                    Рассылка отправлена успешно!
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Не удалось отправить рассылку, попробуйте повторить рассылку позже.
                </div> 
            {% endif %}
        {% elif message == True %}
            {% if data.1 != 0 %}
                <div class="alert alert-success" role="alert">
                    Контактов добавлено: {{data.1}}
                </div>
            {% endif %}
             {% if data.3 != 0 %}
                <div class="alert alert-success" role="alert">
                    Организаций добавлено: {{data.3}}
                </div>
            {% endif %}
            <!--Ошибки-->
            {% for problem in data.2 %}
                {% if problem.0 == 'ContactDublicateError' %}
                    <div class="alert alert-danger" role="alert">
                        Пользователь '{{problem.1.last_name}} {{problem.1.first_name}} {{problem.1.middle_name}} ({{problem.1.organization}})' уже существует!
                    </div> 
                {% endif %}
                {% if problem.0 == 'ProjectError' %}
                    <div class="alert alert-danger" role="alert">
                        Проекта с названием '{{problem.1}}' не найдено!
                        Пользователи с этим теруправлением не добавлены.
                    </div> 
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="control-panel">
        <div class="row-1">
            <div class="input-group mb-3 table-search">
                <input type="text" class="form-control" id="myInput" onkeyup="SearchFunction()" placeholder="Поиск..">
            </div>
            <div class="form mb-3">
                <select class="selectpicker" title="Выберите проекты" multiple data-width="100%" onchange="FilterFunction(6, 'ProjectFilter')" data-live-search="true" name="project" id="ProjectFilter" required>
                    {% for project in projects %}
                        <option class="project" value="{{project}}">{{project}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form mb-3">
                <select class="selectpicker" title="Выберите организацию" multiple data-width="100%" onchange="FilterFunction(4, 'OrganizationFilter')" data-live-search="true" name="organizationfilter" id="OrganizationFilter" required>
                    {% for organization in organizations %}
                        <option class="organization" value="{{organization}}">{{organization}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form mb-3">
                <select class="selectpicker" title="Выберите тип организацию" multiple data-width="100%" onchange="FilterFunction(10, 'OrganizationTypeFilter')" data-live-search="true" name="organizationfilter" id="OrganizationTypeFilter" required>
                    <option class="organization-type" value="ЦО СПО">ЦО СПО</option>
                    <option class="organization-type" value="ЦО ВО">ЦО ВО</option>
                    <option class="organization-type" value="ЦО частные">ЦО частные</option>
                    <option class="organization-type" value="СОУ">СОУ</option>
                    <option class="organization-type" value="ЦО СПО">Гос. орган</option>
                    <option class="organization-type" value="ЦО СПО">Другие</option>
                </select>
            </div>
        </div>
        <div class="row-2">
            <div>
                <button class="btn btn-dark import-btn" data-bs-toggle="modal" data-bs-target="#ImportContactsModal">
                    <img src="{%static 'users/img/icon-xls-import.png' %}" alt="">
                    Импортировать контакты
                </button>
                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#AddContactModal">
                    Добавить контакт
                </button>
                <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#OrgModal">
                    Добавить организацию
                </button>
            </div>
            
            <button class="btn btn-dark import-btn" data-bs-toggle="modal" data-bs-target="#SendModal">
                <img src="{%static 'users/img/upload-mail-icon.png' %}" alt="">
                Создать рассылку
            </button>
        </div>
    </div>
    
    <table class="contact-list table table-light table-striped table-hover sortable">
        <thead class="thead-dark sticky-top">
            <th onclick="sortTable(1)">
                <div>
                    <div class="th-text">Фамилия</div> 
                    <div class="th-sort disappear"><img src="{%static 'users/img/sort-icon.png' %}" alt=""></div> 
                    <div class="th-sort-backward disappear"><img src="{%static 'users/img/sort-backward-icon.png' %}" alt=""></div> 
                </div>
            </th>
            <th onclick="sortTable(2)">
                <div>
                    <div class="th-text">Имя</div> 
                    <div class="th-sort disappear"><img src="{%static 'users/img/sort-icon.png' %}" alt=""></div> 
                    <div class="th-sort-backward disappear"><img src="{%static 'users/img/sort-backward-icon.png' %}" alt=""></div> 
                </div>
            </th>
            <th onclick="sortTable(3)">
                <div>
                    <div class="th-text">Отчество</div> 
                    <div class="th-sort disappear"><img src="{%static 'users/img/sort-icon.png' %}" alt=""></div> 
                    <div class="th-sort-backward disappear"><img src="{%static 'users/img/sort-backward-icon.png' %}" alt=""></div> 
                </div>
            </th>
            <th onclick="sortTable(4)">
                <div>
                    <div class="th-text">Организация</div> 
                    <div class="th-sort disappear"><img src="{%static 'users/img/sort-icon.png' %}" alt=""></div> 
                    <div class="th-sort-backward disappear"><img src="{%static 'users/img/sort-backward-icon.png' %}" alt=""></div> 
                </div>
            </th>
            <th onclick="sortTable(5)">
                <div>
                    <div class="th-text">Должность</div> 
                    <div class="th-sort disappear"><img src="{%static 'users/img/sort-icon.png' %}" alt=""></div> 
                    <div class="th-sort-backward disappear"><img src="{%static 'users/img/sort-backward-icon.png' %}" alt=""></div> 
                </div>
            </th>
            <th onclick="sortTable(6)">
                <div>
                    <div class="th-text">Проекты</div> 
                    <div class="th-sort disappear"><img src="{%static 'users/img/sort-icon.png' %}" alt=""></div> 
                    <div class="th-sort-backward disappear"><img src="{%static 'users/img/sort-backward-icon.png' %}" alt=""></div> 
                </div>
            </th>
            <th onclick="sortTable(7)">
                <div>
                    <div class="th-text">Emails</div> 
                    <div class="th-sort disappear"><img src="{%static 'users/img/sort-icon.png' %}" alt=""></div> 
                    <div class="th-sort-backward disappear"><img src="{%static 'users/img/sort-backward-icon.png' %}" alt=""></div> 
                </div>
            </th>
            <th onclick="sortTable(8)">
                <div>
                    <div class="th-text">Телефоны</div> 
                    <div class="th-sort disappear"><img src="{%static 'users/img/sort-icon.png' %}" alt=""></div> 
                    <div class="th-sort-backward disappear"><img src="{%static 'users/img/sort-backward-icon.png' %}" alt=""></div> 
                </div>
            </th>
        </thead>
        {% for contact in contacts %}
            <tr class="contact-row">
                <td style="display: none !important;" class="id">{{contact.id}}</td>
                <td class="last_name">{{contact.last_name}}</td> 
                <td class="first_name">{{contact.first_name}}</td>
                <td class="middle_name">{{contact.middle_name}}</td>
                <td class="organization">{{contact.organization}}</td>
                <td class="job_title">{{contact.job_title}}</td>
                <td class="projects">
                    {% for project in contact.projects.all %}
                        <div style="white-space: nowrap">{{project.project_name}}</div>
                    {% endfor %}
                </td>
                <td class="emails">
                    {% for email in contact.emails.all %}
                        <div>{{email.email}}</div>
                    {% endfor %}
                </td>
                <td class="phones">
                    {% for phone in contact.phones.all %}
                        <div style="white-space: nowrap">{{phone.phone}}</div>
                    {% endfor %}
                </td>
                <td style="display: none;" class="commentary">{{contact.commentary}}</td>
                <td style="display: none;" class="organization_type">{{contact.organization.get_organization_type_display}}</td>
            </tr>
        {% endfor %}
        <thead class="thead-dark">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Контактов: {{contacts_count}}</th>
        </thead>
    </table>
    <button class="ContactModalBtn" style="display: none" data-bs-toggle="modal" data-bs-target="#ContactModal"></button>
{% endblock %}
