{% extends "layout.html" %}
{% load static %}
{% load ticket_extras %}

{% block title %}Управление мероприятиями{% endblock %}
{% block style %}
    <link href="{% static 'future_ticket/css/center_events.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'future_ticket/js/center_events.js' %}" rel="stylesheet"></script>
    <script type="text/javascript">
        $(window).on('load', function() {
            $('#ImportResultModal').modal('show');
        });
    </script>
{% endblock %}

{% block body %}
    <!-- #Modals -->
    {% if import_output != None %}
        <div class="modal fade import-result-modal" id="ImportResultModal" tabindex="-1" aria-labelledby="#ImportResultModalLabel" aria-hidden="false">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#ImportResultModalLabel">Результат импорта участников</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    {% if import_output == "FormError" %}
                    <div class="alert alert-danger w-90" role="alert">
                        Ошибка загрузки данных! Попробуйте повторить загрузку или обратитесь в тех. поддержку.
                    </div>
                    {% elif import_output.1 == 'MissingFieldsError' %}
                    <div class="alert alert-danger w-90" role="alert">
                        В таблице отсутствует часть полей:
                        <ul>
                            {% for missing_field in import_output.2 %}
                                <li>{{missing_field}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% elif import_output.0 == 'Error' %}
                    <div class="alert alert-danger w-90" role="alert">
                        Ошибка загрузки данных! Попробуйте повторить загрузку или обратитесь в тех. поддержку.
                    </div>
                    {% elif import_output.0 == 'OK' %}
                        <p style="font-size: 20px;font-weight: 300;">Участников добавлено: {{import_output.5}}</p>
                        <div class="modal-body participant-table">
                            <table class="table">
                                <tr class="">
                                    <th scope="row">№</th>
                                    <th scope="row">ФИО</th>
                                    <th scope="row" class="th-center">Школа</th>
                                </tr>
                                {% for participant in import_output.6 %}
                                    <tr>
                                        <td scope="row">{{forloop.counter}}</td>
                                        <td scope="row">{{ participant.full_name }}</td>
                                        <td scope="row" class="td-center">{{ participant.school.name }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td scope="row" class="none-alert" colspan="7">Нет участников</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% if import_output.4|length != 0 or import_output.2|length != 0 or import_output.3|length != 0 %}
                            <h3 style="margin-bottom: 15px; text-align: center;">Проблемы</h3>
                        {% endif %}
                        {% if import_output.4|length != 0 %}
                            <div class="alert alert-warning w-90" role="alert">
                                Часть школ отсутствует в квоте мероприятия:
                                <ul>
                                    {% for school in import_output.4 %}
                                        <li>{{school}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if import_output.2|length != 0 %}
                            <div class="alert alert-warning w-90" role="alert">
                                Часть школ не найдены на платформе:
                                <ul>
                                    {% for school in import_output.2 %}
                                        <li>{{school}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if import_output.3|length != 0 %}
                            <p style="font-size: 20px;font-weight: 300;">Следующие участники не добавленны:</p>
                                {% for missing_fields in import_output.3 %}
                                    <div class="alert alert-warning w-90" role="alert">
                                        В строке №{{missing_fields.2}} не хватает следующих данных:
                                        {% for field in missing_fields.1 %}
                                            {% if forloop.last %}
                                                {{field}}
                                            {% else %}
                                                {{field}}, 
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Понятно">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    {% endif %}
    {% for cycle in cycles %}
        <div class="modal fade add-event-modal" id="AddEventModal{{cycle.id}}" tabindex="-1" aria-labelledby="#AddEventModal{{cycle.id}}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#AddEventModal{{cycle.id}}Label">Добавить мероприятие</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post">
                        <div class="modal-body">
                            <input style="display: none;" type="text" name="cycle_id" value="{{cycle.id}}">
                            <div class="form mb-3 filter-selectpicker">
                                <label for="DurationInput">Дата проведения</label>
                                <select class="selectpicker w-100" title="Дата проведения" data-live-search="true" name="event_date" required>
                                    {% for available_date in cycle|get_available_dates %}
                                        <option value='{{available_date|date:"d.m.Y"}}'>{{available_date|date:"d.m.Y"}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form mb-3">
                                <label>Время начала</label>
                                <input class="form-control" type="text" name="start_time" required>
                            </div>
                            <div class="form mb-3 filter-selectpicker">
                                <label for="DurationInput">Профессия</label>
                                <select class="selectpicker w-100" title="Профессия" data-live-search="true" name="profession_id" required>
                                    {% for profession in professions %}
                                        <option value='{{profession.id}}'>{{profession.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-primary" name="add-event" value="Добавить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% for event in cycle.events.all|filter_events:center_year %}
            <div class="modal fade change-event-modal" id="ChangeEvent{{event.id}}Modal" tabindex="-1" aria-labelledby="#ChangeEvent{{event.id}}ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="#ChangeEvent{{event.id}}ModalLabel">Изменить мероприятие</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input style="display: none;" type="text" id="event_id" name="event_id" value={{event.id}}>
                                <div class="form mb-3 filter-selectpicker">
                                    <label for="DurationInput">Профессия</label>
                                    <select class="selectpicker w-100" title="Профессия" data-live-search="true" name="profession_id" required>
                                        <option selected value={{event.profession.id}}>{{event.profession.name}}</option>
                                        {% for profession in professions %}
                                            {% if event.profession != profession %}
                                                <option value='{{profession.id}}'>{{profession.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form mb-3 filter-selectpicker">
                                    <label for="DurationInput">Дата проведения</label>
                                    <select class="selectpicker w-100" title="Дата проведения" data-live-search="true" name="event_date" required>
                                        <option selected value={{event.event_date|date:"d.m.Y"}}>{{event.event_date|date:"d.m.Y"}}</option>
                                        {% for available_date in cycle|get_available_dates %}
                                            <option value='{{available_date|date:"d.m.Y"}}'>{{available_date|date:"d.m.Y"}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form mb-3">
                                    <label>Время начала</label>
                                    <input class="form-control" type="text" name="start_time" {% if event.start_time != None %}value="{{event.start_time}}"{% endif %} required>
                                </div>
                                <div class="form mb-3" >
                                    <label for="photo_link{{event.id}}" class="form-label">Ссылка на фото и видеоматериалы с профпробы</label>
                                    <input type="url" name="photo_link" class="form-control" id="photo_link{{event.id}}" {% if event.photo_link != None %}value="{{event.photo_link}}"{% endif %}>
                                </div>
                            </div>
                            <div class="modal-footer" style="display: flex;flex-direction: row-reverse;justify-content: space-between;">
                                    <div class="d-grid gap-2">
                                        <input type="submit" class="btn btn-primary" name="change-event" value="Изменить мероприятие"> 
                                    </div>
                                </form>
                                <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post">
                                    <input style="display: none;" type="text" name="event_id" value="{{event.id}}">
                                    <button class="btn btn-danger" name="delete-event">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal fade assign-quota-modal" id="AssignQuotaModal{{event.id}}" tabindex="-1" aria-labelledby="#AssignQuotaModal{{event.id}}Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="#AssignQuotaModal{{event.id}}Label">Добавить квоту</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post">
                            <div class="modal-body">
                                <input style="display: none;" type="text" name="event_id" value="{{event.id}}">
                                <div class="form mb-3 filter-selectpicker">
                                    <select class="selectpicker w-100 select-quota-profession" title="Квота" data-live-search="true" name="quota_id" required>
                                        {% for quota in quotas|get_event_quota:event %}
                                            <option value='{{quota.id}}' data-quota="{{quota.free_quota}}">{{quota.school.name}} ({{quota.free_quota}}/{{quota.approved_value}})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form mb-3" >
                                    <label for="reserved_quota{{event.id}}" class="form-label">Квота</label>
                                    <input type="number" name="reserved_quota" class="reserved_quota form-control" id="reserved_quota{{event.id}}" min="1" max="1" data-limit="{{15|subtract:event.participants_limit}}" readonly required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="d-grid gap-2">
                                    <input type="submit" class="btn btn-primary" name="assign-quota" value="Добавить" disabled> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade participants" id="ParticipantsModal{{event.id}}" tabindex="-1" aria-labelledby="#ParticipantsModal{{event.id}}Label" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="#ParticipantsModal{{event.id}}Label">Список участников</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body participant-table">
                            <table class="table">
                                <tr class="">
                                    <th scope="row">№</th>
                                    <th scope="row">ID</th>
                                    <th scope="row">ФИО</th>
                                    <th scope="row" class="th-center">Школа</th>
                                    <th scope="row" class="th-center">Посещаемость</th>
                                    <th scope="row" class="th-center">Дубликат?</th>
                                    <th scope="row" class="th-center">Удалить?</th>
                                </tr>
                                {% for participant in event.participants.all %}
                                    <tr>
                                        <td scope="row">{{forloop.counter}}</td>
                                        <td scope="row">{{ participant.bvb_id }}</td>
                                        <td scope="row">{{ participant.full_name }}</td>
                                        <td scope="row" class="td-center">{{ participant.school.name }}</td>
                                        <td scope="row" class="td-center"><input class="form-check-input" type="checkbox" {% if participant.is_attend %}checked{% endif %} disabled></td>
                                        <td scope="row" class="td-center"><input class="form-check-input" type="checkbox" {% if participant.is_double %}checked{% endif %} disabled></td>
                                        <td scope="row" class="td-center">
                                            <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post">
                                                <input type="input" style="display: none;" name="participant_id" value="{{participant.id}}">
                                                <button class="btn btn-outline-danger btn-sm" name="delete-participant">Удалить</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td scope="row" class="none-alert" colspan="7">Нет участников</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Закрыть">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for event_quota in event.quotas.all %}
                <div class="modal fade change-event-quota-modal" id="EventQuotaChangeModal{{event_quota.id}}" tabindex="-1" aria-labelledby="#EventQuotaChangeModal{{event_quota.id}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="#EventQuotaChangeModal{{event_quota.id}}Label">Уменьшить квоту</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post">
                                <div class="modal-body">
                                    <input style="display: none;" type="text" name="event_quota_id" value="{{event_quota.id}}">
                                    <div class="form mb-3">
                                        <label for="minus_quota{{event_quota.id}}" class="form-label">На сколько уменьшить квоту?</label>
                                        <input type="number" name="minus_quota" class="minus_quota form-control" id="minus_quota{{event_quota.id}}" min="0" max="{{ event_quota.reserved_quota }}" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="d-grid gap-2">
                                        <input type="submit" class="btn btn-primary" name="change-event-quota" value="Изменить"> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% for quota in quotas %}
        <div class="modal fade assign-quota-modal" id="ChangeSchoolModal{{quota.id}}" tabindex="-1" aria-labelledby="#ChangeSchoolModal{{quota.id}}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#ChangeSchoolModal{{quota.id}}Label">Перераспределить квоту</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post">
                        <div class="modal-body">
                            <input style="display: none;" type="text" name="quota_id" value="{{quota.id}}">
                            <div class="form mb-3">
                                <label for="quota_prof{{quota.id}}" class="form-label">Профессия</label>
                                <input type="input" name="reserved_quota" class="form-control" value="{{quota.profession.name}}" id="quota_prof{{quota.id}}" readonly>
                            </div>
                            <div class="form mb-3">
                                <label for="quota_ter_adm{{quota.id}}" class="form-label">Тер. управление</label>
                                <input type="input" name="quota_ter_adm" class="form-control" value="{{quota.school.get_territorial_administration_display}}" id="quota_ter_adm{{quota.id}}" readonly>
                            </div>
                            <div class="form mb-3 filter-selectpicker">
                                <select class="selectpicker w-100" title="Школа" data-live-search="true" name="school_id" required>
                                    <option selected value='{{quota.school.id}}'>{{quota.school.name}}</option>
                                    {% for school in schools|quota_filter_school:quota.school.territorial_administration %}
                                        <option value='{{school.id}}'>{{school.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form mb-3" >
                                <label for="reserved_quota{{event.id}}" class="form-label">Квота</label>
                                <input type="number" name="transfered_quota" class="reserved_quota form-control" id="approved_value{{quota.id}}" min="1" max="{{ quota.free_quota }}"  value="{{ quota.free_quota }}" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-primary" name="change-quota" value="Изменить" {% if quota.free_quota == 0 %} disabled {% endif %}> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="modal fade import-participants-modal" id="ImportParticModal" tabindex="-1" aria-labelledby="#ImportParticModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="#ImportParticModalLabel">Импорт участников</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input style="display: none;" type="text" id="event_id" name="event_id">
                        <div class="form mb-3">
                            <label for="quota_profession" class="form-label">Профессия</label>
                            <input type="input" name="reserved_quota" class="form-control" value="{{quota.profession.name}}" id="quota_profession" readonly>
                        </div>
                        <div class="form mb-3">
                            <label for="quota_event_date" class="form-label">Дата проведения</label>
                            <input type="input" name="quota_ter_adm" class="form-control" value="{{quota.event_date}}" id="quota_event_date" readonly>
                        </div>
                        <div class="form mb-3" >
                            <label for="participants_limit" class="form-label">Лимит участников</label>
                            <input type="number" name="transfered_quota" class="reserved_quota form-control" id="participants_limit" value="{{ quota.participants_limit }}" readonly>
                        </div>
                        <div class="mb-3">
                            {% csrf_token %}
                            {{ participants_form.non_field_errors }}
                            {{ participants_form.import_file.label_tag }} 
                            {{ participants_form.import_file.help_text }}
                            {{ participants_form.import_file.errors }}
                            {{ participants_form.import_file }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <input type="submit" class="btn btn-primary" name="import-participants" value="Импортировать"> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- #EndModals -->

    <div class="page-hdr">
        <h1>Управление мероприятиями</h1>
        {% if user.is_superuser %}<h3>{{center_year.ed_center.short_name}}</h3>{% endif %}
    </div>
    <div class="quotas-list">
        <div class="table-hdr">
            <h2>Выполнение квоты</h2>
            {% if center_year.stage == 'ACT' %}
                <div class="alert alert-success w-90" role="alert">
                    Акт сформирован успешно, мы уведомив Вас, когда отправим его на подписание. После подписания Вы сможете подгрузить счёт на оплату.
                </div>
            {% elif center_year.stage == 'ACTS' %}
                <div class="alert alert-success w-90" role="alert">
                    Мы отправили Вам акт на подписание через систему электронного документооборота. Подпишите акт и подгрузите его и счёт на оплату.
                </div>
                {% if center_year.act_file.url != None %}
                    <a class="act-link btn btn-primary" href="{{center_year.act_file.url}}">Скачать акт</a>
                {% else %}
                    <form class="upload-act-form" action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {{ form.import_file.errors }}
                            {{ form.import_file }}
                        </div>
                        <input type="submit" class="btn btn-primary" name="upload-act" value="Загрузить подписанный акт">
                    </form>
                {% endif %}
                {% if center_year.bill_file.url != None %}
                    <a class="bill-link btn btn-primary" href="{{center_year.bill_file.url}}">Скачать счёт</a>
                {% else %}
                    <form class="upload-bill-form" action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            {% csrf_token %}
                            {{ form.non_field_errors }} 
                            {{ form.import_file.errors }}
                            {{ form.import_file }}
                        </div>
                        <input type="submit" class="btn btn-primary" name="upload-bill" value="Загрузить счёт">
                    </form>  
                {% endif %}
                
                
                {% if center_year.is_ndc and center_year.ndc_bill_file.url != None %}
                    <form class="upload-ndc-bill-form" action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            {% csrf_token %}a
                            {{ form.non_field_errors }} 
                            {{ form.import_file.errors }}
                            {{ form.import_file }}
                        </div>
                        <input type="submit" class="btn btn-primary" name="upload-ndc-bill" value="Загрузить счёт-фактуру">
                    </form>
                {% endif %}
                {% if center_year.ndc_bill_file.url != None %}
                    <a class="ndc-bill-link btn btn-primary" href="{{center_year.ndc_bill_file.url}}">Скачать счёт-фактуру</a>
                {% endif %}
                
            {% elif center_year.stage == 'NVC' or center_year.stage == 'PNVC' or center_year.stage == 'NVCP' or center_year.stage == 'ACT' %}
                <div class="alert alert-success w-90" role="alert">
                    Документы полученны, после проверки, мы оплатим счёт и уведомим Вас.
                </div>
                {% if center_year.act_file.url != None %}
                    <a class="act-link btn btn-primary" href="{{center_year.act_file.url}}">Скачать акт</a>
                {% endif %}
                {% if center_year.bill_file.url != None %}
                    <a class="bill-link btn btn-primary" href="{{center_year.bill_file.url}}">Скачать счёт</a>
                {% endif %}
            {% else %}
                {% if act_ready %}
                    <form action="{% url 'ticket_center_events' center_year.ed_center.id %}" method="post" enctype="multipart/form-data">
                        <button class="btn btn-primary" name="create-act">Сформировать акт</button>
                    </form>
                {% else %}
                    <div class="alert alert-warning w-90" role="alert">
                        Чтобы перейти к формированию акта нужно прикрепить ссылки на фото/видео материалы ко всем пробам, добавить время начала проб и 
                        чтобы выделенная Вам квота была выполнена (или обратиться для уменьшения квоты).
                    </div>
                {% endif %}
            {% endif %}
            
        </div>
        <table class="table quotas-table">
            <tr class="">
                <th scope="row" rowspan="2">Профессия</th>
                <th scope="row" rowspan="2">Школа</th>
                <th scope="row" colspan="4" class="quota-hdr-th th-center">Квота</th>
            </tr>
            <tr>
                <th scope="row" class="th-center">Всего</th>
                <th scope="row" class="th-center">Зарезервировано</th>
                <th scope="row" class="th-center">Выполнено</th>
                <th scope="row" class="th-center">Свободно</th>
            </tr>
            {% for quota in quotas %}
                <tr>
                    <td scope="row">{{ quota.profession }}</td>
                    <td scope="row">{% if center_year.stage == 'FNSHD' %}<a href="" data-bs-toggle="modal" data-bs-target="#ChangeSchoolModal{{quota.id}}">{{ quota.school.name }}</a>{% else %}{{ quota.school.name }}{% endif %}</td>
                    <td scope="row" class="td-center">{{ quota.approved_value }}</td>
                    <td scope="row" class="td-center">{{ quota.reserved_quota }}</td>
                    <td scope="row" class="td-center">{{ quota.completed_quota }}</td>
                    <td scope="row" class="td-center">{{ quota.free_quota }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td scope="row" class="none-alert" colspan="6">Нет одобренной квоты</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="cycles-list">
        <div class="table-hdr">
            <h2>Циклы проб</h2>
        </div>
        {% for cycle in cycles %}
        <div class="cycle-info">
            <h3>Цикл №{{cycle.cycle_number}}</h3>
            <div>
                <ul class="timeline" id="timeline">
                    <li class="li registration {% if cycle.status == 'REG' %} in-progress {% else %} complete {% endif %}">
                      <div class="timestamp">
                        <span class="date">{{cycle.end_reg_date|date:"d.m"}}<span>
                      </div>
                      <div class="status">
                        <span class="first" style="transform: translate(35px, -55px)">Регистрация</span>
                        <span class="second"style="transform: translate(35px, 0px)">Проверка</span>
                      </div>
                    </li>
                    <li class="li start {% if cycle.status == 'CHCK' %} in-progress {% elif cycle.status == 'REG' %} {% else %} complete {% endif %}">
                      <div class="timestamp">
                        <span class="date">{{cycle.start_period_date|date:"d.m"}}<span>
                      </div>
                      <div class="status">
                        <span class="first" style="transform: translate(21px, -55px)">Исправление</span>
                        <span class="second" style="transform: translate(26px, 0px)">Начало</span>
                      </div>
                    </li>
                    <li class="li action {% if cycle.status == 'HSTNG' %} in-progress {% elif cycle.status == 'END' %} complete {% endif %}">
                      <div class="timestamp">
                        <span class="date">{{cycle.end_period_date|date:"d.m"}}<span>
                      </div>
                      <div class="status">
                        <span class="first" style="transform: translate(23px, -55px)">Проведение профпроб</span>
                        <span class="second" style="transform: translate(23px, 0px)">Окончание</span>
                      </div>
                    </li>
                </ul>
            </div>
            <div class="schedule"></div>
            <div class="cycle-events-stat">
                
                <p>Мероприятий запланировано: {{ cycle.center_events_count }}</p>
                {% if center_year.stage == 'FNSHD' %}
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddEventModal{{cycle.id}}">
                        Запланировать мероприятия
                    </button>
                {% endif %}
            </div>
            <div class="cycle-events">
                {% for event in cycle.events.all|filter_events:center_year %}
                    <div class="event-card" data-event_date={{event.event_date|date:"d/m/Y" }} data-limit="{{event.participants_limit }}" data-event_id="{{event.id }}">
                        <div class="event-card-hdr">
                            <div class="profession-hdr">
                                {{event.profession}} 
                                <span class="tooltiptext">{{event.profession}}</span>
                            </div>
                            {% if center_year.stage == 'FNSHD' %}
                                <div class="edit-icon" data-bs-toggle="modal" data-bs-target="#ChangeEvent{{event.id}}Modal">
                                    <img src="{% static 'federal_empl_program/img/edit-icon.svg' %}" alt="">
                                </div>
                            {% endif %}
                        </div>
                        <div class="event-card-body">
                            {% if event|check_double %}
                                <div class="alert alert-danger w-90" role="alert">
                                    Есть дубликаты!
                                </div>
                            {% endif %}
                            <p><span class="field">ID мероприятия:</span> {{event.id }}</p>
                            <p><span class="field">Статус:</span> {{event.get_status_display }}</p>
                            <p><span class="field">Дата проведения:</span> {% if event.start_time != None %}{{event.start_time}}{% endif %} {{event.event_date|date:"d.m.Y" }}</p>
                            <p><span class="field">Лимит участников:</span> {{event.participants_limit }}</p>
                            <p><span class="field link" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#ParticipantsModal{{event.id}}"><u>Участников загружено:</span> {{event.participants.all.count }}</u></p>
                            {% if event.photo_link is not None %}
                                <p><span class="field"><a class="link" href="{{event.photo_link}}" target="_blank"><u>Фото и видеоматериалы</u></a></p>
                            {% endif %}
                            <table class="table quota-event-table">
                                <tr class="">
                                    <th scope="row">Школа</th>
                                    <th scope="row" class="th-rigth">Квота</th>
                                </tr>
                                {% for event_quota in event.quotas.all %}
                                    <tr>
                                        <td scope="row">{{ event_quota.quota.school.name }}</td>
                                        <td scope="row" data-bs-toggle="modal" data-bs-target="#EventQuotaChangeModal{{event_quota.id}}"><u>{{ event_quota.reserved_quota }} квота</u></td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td scope="row" class="none-alert" colspan="2">Нет добавленной квоты</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% if center_year.stage == 'FNSHD' %}
                            <div class="event-card-footer">
                                {% if event.participants_limit < 15 %}
                                <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#AssignQuotaModal{{event.id}}">
                                    Добавить квоту
                                </button>
                                {% endif %}
                                {% if event.participants_limit > 0 %}
                                    <button class="btn btn-sm btn-primary import-btn" data-bs-toggle="modal" data-bs-target="#ImportParticModal">
                                        Импортировать участников
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>
        </div>
        {% empty %}
            <div class="none-alert">Нет ни одного цикла</div>
        {% endfor %}
    </div>
{% endblock %}