{% extends "layout.html" %}
{% load static %}
{% load ed_centers_extras %}

{% block title %}Слияние программ{% endblock %}
{% block style %}
        <link href="{% static 'future_ticket/css/import_programs.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'education_centers/js/fed-empl.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}
    <div class="modal-body">
        <div class="import-form">
            <h2>Слияние профессий (БВБ)</h2>
            {% if message != None %}
                <div class="alert alert-success" role="alert">
                    Профессий изменено: {{message.1}}
                </div>
                <div class="alert alert-warning" role="alert">
                    Профессий удалено: {{message.4}}
                </div>
            {% endif %}
            <form enctype="multipart/form-data" action="{% url 'merge_ticket_professions' %}" method="post">
                <div class="mb-3">
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-primary" name="import-participants">Импортировать</button>
            </form>
            {% for row in message.2 %}
                <div class="alert alert-danger" role="alert">
                    В строке {{row.2}} не верно заполнены следующие поля:
                    <ul>
                        {% for field in row.1 %}
                            <li>{{field}}</li>
                        {% endfor %}
                    </ul>
                </div> 
            {% endfor %}
            {% for error in message.5 %}
                {% if error.0 == 'FailedMerge' %}
                    <div class="alert alert-danger" role="alert">
                        В строке {{error.2}} ID для слияния не найдено.
                    </div>
                {% endif %}
                {% if error.0 == 'ProgramsAttached' %}
                    <div class="alert alert-danger" role="alert">
                        Профессия в строке {{error.2}} не может быть удалена.
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}