{% extends "layout.html" %}
{% load static %}
{% load ticket_extras %}
{% load ed_centers_extras %}

{% block title %}Управление мероприятиями{% endblock %}
{% block style %}
    <link href="{% static 'future_ticket/css/partners_events.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'future_ticket/js/partners_events.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}

    <!--  Modals  -->
        <div class="modal fade" id="AddEventModal" tabindex="-1" aria-labelledby="#AddEventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="#AddEventModalLabel">Добавить мероприятие</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'partners_events' %}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" id="EventName" name="name" placeholder="Название" maxlength="250" required>
                                <label for="EventName" class="form-label required-field">Название мероприятия<span>*</span></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" id="EventPartner" name="partner" placeholder="Организация" maxlength="250" required>
                                <label for="EventPartner" class="form-label required-field">Организация<span>*</span></label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="selectpicker w-100" title="Населённый пункт *" data-live-search="true" name="city" required>
                                    {% for city in cities %}
                                        <option value='{{city.id}}'>{{city.name}} ({{city.city_type.name}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" id="EventPartner" name="contact" placeholder="Контактное лицо (ФИО)" maxlength="250" required>
                                <label for="EventPartner" class="form-label required-field">Контактное лицо (ФИО)<span>*</span></label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="ContactEmail" name="contact_email" placeholder="name@example.com" required>
                                <label for="ContactEmail" class="form-label required-field">Контактный email<span>*</span></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="ContactPhone" name="contact_phone" placeholder="Контактный телефон" maxlength="30" required>
                                <label for="ContactPhone" class="form-label required-field">Контактный телефон<span>*</span></label>
                            </div>
                            <div class="">
                                <label for="EventDescription" class="form-label required-field">Описание мероприятия<span>*</span></label>
                                <textarea class="form-control" placeholder="Описание мероприятия, адрес, какие ограничения по колву участников и тп" id="EventDescription" name="description" style="height: 100px; margin-bottom: 15px;" required></textarea>
                            </div>
                            <div class="">
                                <label for="EventInstruction">Инструкция для записи</label>
                                <textarea class="form-control" placeholder="Как записаться на мероприятие" id="EventInstruction" name="instruction" style="height: 100px;margin-bottom: 15px;"></textarea>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" id="SignupLink" name="signup_link" placeholder="Ссылка на запись">
                                <label for="SignupLink" class="form-label">Ссылка на запись</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" id="Period" name="period" placeholder="Период проведения">
                                <label for="Period" class="form-label">Период проведения</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-primary" name="add-event" value="Сохранить"> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% for event in events %}
            <div class="modal fade event-modal" id="AddEvent{{event.id}}Modal" tabindex="-1" aria-labelledby="#AddEvent{{event.id}}ModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 40%; min-width: 700px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="#AddEvent{{event.id}}ModalLabel">Описание партнёрского мероприятия</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-floating mb-3 w-100">
                                <input type="input" class="form-control" placeholder="Название" value="{{event.name}}" readonly style="background-color: white;">
                                <label for="EventName">Название мероприятия</label>
                            </div>
                            <div class="form-floating mb-3 w-100">
                                <input type="input" class="form-control" placeholder="Организация" value="{{event.partner}}" readonly style="background-color: white;">
                                <label for="EventPartner">Организация</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" placeholder="Контактное лицо (ФИО)" value="{{event.contact}}" readonly style="background-color: white;">
                                <label for="EventPartner">Контактное лицо (ФИО)</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" placeholder="Населённый пункт" value="{{event.city}}" readonly style="background-color: white;">
                                <label for="EventPartner">Населённый пункт</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" placeholder="name@example.com" value="{{event.contact_email}}" readonly style="background-color: white;">
                                <label for="ContactEmail">Контактный email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="signup_link" value="{{event.signup_link}}" readonly placeholder="Ссылка на запись" style="background-color: white;">
                                <label for="SignupLink" class="form-label">Ссылка на запись</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Контактный телефон" value="{{event.contact_phone}}" readonly style="background-color: white;">
                                <label for="ContactPhone" class="form-label">Контактный телефон</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="period" value="{{event.period}}" placeholder="Период проведения" style="background-color: white;">
                                <label for="Period" class="form-label">Период проведения</label>
                            </div>
                            <div class="textarea">
                                <label for="EventDescription">Описание мероприятия</label>
                                <textarea class="form-control" placeholder="Описание мероприятия" style="background-color: white; height: 150px; margin-bottom: 10px;" readonly>{{event.description}}</textarea>
                            </div>
                            {% if event.instruction != "" %}
                                <div class="textarea">
                                    <label for="EventInstruction">Инструкция для записи</label>
                                    <textarea class="form-control" placeholder="Инструкция для записи" readonly style="background-color: white; height: 100px;">{{event.instruction}}</textarea>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    <!--  !Modals  -->
    
    <div class="page-hdr">
        <h1>Каталога мероприятий профминимума</h1>
        <div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddEventModal">
                Добавить мероприятия
            </button>
            {% if user.is_superuser %}
            <a class="btn btn-outline-primary" href="{% url 'admin:future_ticket_partnerevent_changelist' %}" target="_blank">
                Проверка
            </a>
            {% endif %}
        </div>
        
    </div>
    <div id="message-bar" style="margin: auto;width: 75%;margin-bottom: 15px;margin-top: 10px;">
        {% if message == "EventAddedSuccessfully" %}
            <div class="alert alert-success w-90" role="alert">
                Мероприятие успешно создано! {% if user.is_superuser == False %}Оно появится на странице после проверки сотрудниками АНО «ЦОПП СО».{% endif %}
            </div>
        {% endif %}
    </div>
    <div id="control-panel">
        <form action="{% url 'partners_events' %}" method="post">
            <div class="form-floating mb-3 filter-selectpicker">
                <select class="selectpicker" data-width="100%" data-live-search="true" title="Статусы" name="cities" multiple>
                    {% for city in cities %}
                        {% if city.name in chosen_cities %}
                            <option selected value="{{city.name}}">{{city.name}}</option>
                        {% else %}
                            <option value="{{city.name}}">{{city.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary" name="filter-events">Фильтровать</button>
            {% if chosen_cities.count is not None %}
                <a class="btn btn-outline-danger" href="{% url 'partners_events' %}">Сбросить фильтр</a>
            {% endif %}
        </form>
    </div>
    <div>
        <div id="events-list">
                {% for event in events %}
                    <div class="event-card">
                        <div class="event-card-hdr">
                            <div class="profession-hdr">
                                <span class="field">{{event.name}}</span>
                            </div>
                        </div>
                        <div class="event-card-body">
                            <p><span class="field">Организатор:</span> {{event.partner }}</p>
                            <p><span class="field">Контактное лицо:</span> {{event.contact }}</p>
                            <p><span class="field">Место проведения:</span> {{event.city }}</p>
                            <p><span class="field">Email:</span> {{event.contact_email }}</p>
                            <p><span class="field">Телефон:</span> {{event.contact_phone }}</p>
                        </div>
                        <div class="event-card-footer">
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#AddEvent{{event.id}}Modal">
                                Подробнее
                            </button>
                        </div>
                    </div>
            {% empty %}
                <div id="none-events-msg">
                    Партнёрских мероприятий  не найдено!
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}