{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li>
      {% url cl.opts|admin_urlname:'add' as add_url %}
      <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
        Добавить заявку
      </a>
    </li>
    {% if request.user.is_superuser %}
      <li>
        <form method="POST" action="{% url 'bvb_students_report' %}">
            <button type="submit" class="addlink">Скачать</button>
        </form>
      </li>
    {% endif %}
  {% endif %}
{% endblock %}
