body {
  background-color: rgba(242, 242, 242, 0.5411764706);
}
body h2 {
  font-size: 24px;
  text-align: center;
}
body h3 {
  font-size: 20px;
  padding-left: 10px;
  margin: 0;
}
body .link {
  color: #394959 !important;
}
body .link:hover {
  color: #28313a !important;
}
body .disapear {
  display: none;
}
body .page-hdr {
  margin-top: 25px;
  display: grid;
  justify-content: center;
  justify-items: center;
}
body .cycle-info, body .quotas-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 25px 50px 25px 50px;
}
body .quotas-list .table-hdr {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
}
body .quotas-list .table-hdr h2 {
  grid-column: 2;
}
body .quotas-list .table-hdr form {
  grid-column: 3;
  justify-self: right;
}
body .quotas-list .table-hdr .upload-act-form, body .quotas-list .table-hdr .upload-bill-form {
  width: 100%;
  display: flex;
  align-items: baseline;
  grid-column-start: 1;
  grid-column-end: 3;
  gap: 10px;
}
body .quotas-list .table-hdr .upload-act-form .btn, body .quotas-list .table-hdr .upload-bill-form .btn {
  width: 240px;
}
body .quotas-list .table-hdr .act-link {
  grid-row: 3;
  margin-bottom: 15px;
  width: 240px;
}
body .quotas-list .table-hdr .upload-act-form {
  grid-row: 4;
}
body .quotas-list .table-hdr .bill-link {
  grid-row: 5;
  margin-bottom: 5px;
  width: 240px;
}
body .quotas-list .table-hdr .upload-bill-form {
  grid-row: 6;
}
body .quotas-list .table-hdr .alert {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2;
}
body .cycle-info .cycle-events-stat {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body .cycle-info .cycle-events-stat p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
body .cycle-info .cycle-events {
  margin-top: 20px;
  display: flex;
  gap: 15px 25px;
  flex-wrap: wrap;
}
body .cycle-info .cycle-events .event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  max-width: 500px;
  background-color: #f2f2f2;
  color: #394959;
  border-radius: 10px;
}
body .cycle-info .cycle-events .event-card .event-card-hdr, body .cycle-info .cycle-events .event-card .event-card-body, body .cycle-info .cycle-events .event-card .event-card-footer {
  padding: 8px 15px;
}
body .cycle-info .cycle-events .event-card .event-card-hdr p, body .cycle-info .cycle-events .event-card .event-card-body p, body .cycle-info .cycle-events .event-card .event-card-footer p {
  margin-bottom: 3px;
}
body .cycle-info .cycle-events .event-card .event-card-hdr .field, body .cycle-info .cycle-events .event-card .event-card-body .field, body .cycle-info .cycle-events .event-card .event-card-footer .field {
  font-weight: 500;
}
body .cycle-info .cycle-events .event-card .event-card-body {
  min-height: 100px;
  height: 100%;
}
body .cycle-info .cycle-events .event-card .event-card-hdr {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 2px solid #394959;
}
body .cycle-info .cycle-events .event-card .event-card-hdr .profession-hdr {
  display: inline-block;
  width: 270px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
body .cycle-info .cycle-events .event-card .event-card-hdr .profession-hdr .tooltiptext {
  visibility: hidden;
  max-width: 300px;
  background-color: rgba(57, 73, 89, 0.9019607843);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 9px;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 10%;
  text-wrap: wrap;
}
body .cycle-info .cycle-events .event-card .event-card-hdr .profession-hdr:hover {
  cursor: pointer;
}
body .cycle-info .cycle-events .event-card .event-card-hdr .profession-hdr:hover .tooltiptext {
  visibility: visible;
}
body .cycle-info .cycle-events .event-card .event-card-hdr .edit-icon {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .cycle-info .cycle-events .event-card .event-card-hdr .edit-icon img {
  width: 21px;
}
body .cycle-info .cycle-events .event-card .event-card-hdr .edit-icon.selected {
  background-color: white;
}
body .cycle-info .cycle-events .event-card .event-card-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 1px solid #394959;
}
body .cycle-info .cycle-events .event-card .event-card-footer .btn {
  width: 100%;
  background-color: white;
  font-weight: 500;
}

.quotas-list table th, .cycle-events table th, .participant-table table th {
  color: #394959;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
  border-top: 0;
  border-bottom: 2px solid #394959;
}
.quotas-list table .sticky-top, .cycle-events table .sticky-top, .participant-table table .sticky-top {
  z-index: 100 !important;
}
.quotas-list table td, .cycle-events table td, .participant-table table td {
  color: #394959;
  font-weight: 300 !important;
  max-width: 250px;
  word-wrap: break-word;
}
.quotas-list table .th-center, .quotas-list table .td-center, .cycle-events table .th-center, .cycle-events table .td-center, .participant-table table .th-center, .participant-table table .td-center {
  text-align: center;
}
.quotas-list table .th-rigth, .quotas-list table .td-rigth, .cycle-events table .th-rigth, .cycle-events table .td-rigth, .participant-table table .th-rigth, .participant-table table .td-rigth {
  text-align: right;
}
.quotas-list .quotas-table th, .cycle-events .quotas-table th, .participant-table .quotas-table th {
  vertical-align: middle;
}
.quotas-list .quotas-table .quota-hdr-th, .cycle-events .quotas-table .quota-hdr-th, .participant-table .quotas-table .quota-hdr-th {
  border: 0;
}

.timeline {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.registration .timestamp, .start .timestamp, .action .timestamp {
  align-items: flex-end;
  padding: 0;
}
.registration .timestamp .date, .start .timestamp .date, .action .timestamp .date {
  transform: translateX(20px);
}
.registration .status, .start .status, .action .status {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  padding: 15px 0px;
}
.registration .status .first, .start .status .first, .action .status .first {
  grid-column: 2;
}
.registration .status .second, .start .status .second, .action .status .second {
  grid-column: 3;
}

.registration {
  width: 40%;
  margin-right: 13px;
}

.start {
  width: 18%;
  margin-right: 13px;
}

.action {
  width: 35%;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.status {
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #e3e3e3;
  position: relative;
  transition: all 200ms ease-in;
}
.status span {
  font-weight: 400;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 100%;
  transform: translateX(-12px);
  transition: all 200ms ease-in;
}

.li.in-progress .status {
  border-top: 2px solid #394959;
}
.li.in-progress .status:before {
  border: 2px solid #394959;
  transition: all 200ms ease-in;
}
.li.in-progress .status span {
  color: #394959;
  font-weight: 400;
}

.li.complete .status {
  border-top: 2px solid #394959;
}
.li.complete .status:before {
  background-color: #394959;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status span {
  color: #394959;
  font-weight: 500;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }
  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  .timestamp {
    width: 100px;
  }
  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}/*# sourceMappingURL=center_events.css.map */