.required-field
    font-weight: 500 !important
    span
        color: red
        padding-left: 2px
.event-modal
    .modal-body
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        .w-100
            width: 100% !important
        .mb-3
            width: fit-content
            min-width: 49%
        .textarea
            width: 100%
            textarea
                resize: vertical
.page-hdr
    padding-top: 25px
    display: grid
    justify-content: center
    justify-items: center
    grid-template-columns: 25% 50% 25%
    align-items: flex-start
    h1
        font-size: 30px
        grid-column: 2
        text-align: center
    div
        grid-column: 3
        display: flex
        gap: 10px
        flex-direction: column
#control-panel
    width: 75%
    margin: auto
    form 
        display: flex
        align-items: flex-start
        gap: 15px
        .dropdown-toggle
            max-width: 300px
            width: 300px
#events-list
    display: flex
    justify-content: left
    width: 75%
    margin: auto
    padding-top: 25px
    padding-bottom: 25px
    gap: 15px 25px
    flex-wrap: wrap
    .event-card
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 450px
        background-color: #f2f2f2
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078)
        color: #394959
        border-radius: 10px
        .event-card-hdr, .event-card-body, .event-card-footer
            padding: 8px 15px
            p
                margin-bottom: 3px
            .field
                font-weight: 500
        .event-card-body
            min-height: 200px
            height: 100%
            font-size: 16px
        .event-card-hdr
            position: relative
            display: flex
            justify-content: space-between
            font-weight: 400
            border-bottom: 2px solid #394959          
            .profession-hdr
                text-align: center
                font-size: 16px
                display: inline-block
        .event-card-footer
            display: flex
            flex-direction: column
            gap: 15px
            border-top: 1px solid #394959
            .btn
                width: 100%
                background-color: white
                font-weight: 500
    #none-events-msg
        margin-top: 10vh
        width: 100%
        text-align: center
        font-size: 28px
        font-weight: 400
