body
    background-color: #f2f2f28a
    .school-form
        h2 
            font-size: 18px
            text-align: center
            margin-bottom: 25px
        margin: auto
        margin-top: 25px
        margin-bottom: 25px
        width: 500px
        border-radius: 12px
        background-color: white
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1490196078)
        padding: 25px 50px 25px 50px
        .btn
            width: 100%
        .form-check
            margin-bottom: 15px